<div style="min-width: 800px;">
    <div style="padding: 15px;">
        <div>
            <div style="margin: 15px 0;display: flex;flex-direction: row;justify-content: start;">
                <button ng-click="openEditColumnsModal()" class="btn btn-primary" style="margin: 0px 5px 0px 0px"><i class="fas fa-sync-alt" style="margin-right:5px;"></i>Edit Columns</button>
                <button ng-click="refreshViewerTable()" class="btn btn-primary" ><i class="fas fa-sync-alt" style="margin-right:5px;"></i>Refresh</button>
            </div>
            <div ag-grid="gridOptions" class="viewer-data-table ag-theme-balham" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
</div>