html, body{
	background-color:transparent;
	margin:0px;
	padding:0px;
	height:100vh;
	width:100vw;
	overflow-x:hidden;
	overflow-y:hidden;
}
.wrapper{
	position:relative;
	overflow:hidden;
	color:white;
	height:100vh;
	width:100vw;
}
canvas{
	position:absolute;
	top:0px;
	left:0px;
	height:100vh;
	width:100vw;
}

/*** Image Position ***/
.imageOverlay[position="Top Left"]{
	position:absolute;
	top: 10px;
	left: 10px;
}
.imageOverlay[position="Top Middle"]{
	position:absolute;
	top: 10px;
	left:50%;
	transform: translate(-50%, 0%);
}
.imageOverlay[position="Top Right"]{
	position:absolute;
	top: 10px;
	right: 10px;
}
.imageOverlay[position="Middle Left"]{
	position:absolute;
	left:10px;
	top: 50%;
	transform: translate(0%, -50%);
}
.imageOverlay[position="Middle"]{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.imageOverlay[position="Middle Right"]{
	position:absolute;
	right:10px;
	top: 50%;
	transform: translate(0%, -50%);
}
.imageOverlay[position="Bottom Left"]{
	position:absolute;
	bottom: 10px;
	left: 10px;
}
.imageOverlay[position="Bottom Middle"]{
	position:absolute;
	bottom: 10px;
	left:50%;
	transform: translate(-50%, 0%);
}
.imageOverlay[position="Bottom Right"]{
	position:absolute;
	bottom: 10px;
	right: 10px;
}