<!-- Events Tab View-->
<div style="min-width: 500px; height: 100%">
  <div style="height: 100%; display: flex; flex-direction: column">
    <div id="testDivFb" class="flex-row" style="height: 100%">
      <div class="editior-column pt-6" style="flex-shrink: 0">
        <div
          class="flex-row-center jspacebetween scene-row"
          style="flex-shrink: 0"
          ng-class="{'selected': es.tabIsSelected('mainevents')}"
          ng-click="es.setSelectedTab('mainevents')"
        >
          <div class="flex-row-center" style="height: 100%">
            <div>
              General Events
              <tooltip
                text="'A collection of events that are always active, regardless of which event sets are active.'"
              ></tooltip>
            </div>
          </div>
          <div class="flex-row-center jspacebetween">
            <span
              class="status-dot active"
              uib-tooltip="Main events are always active."
              tooltip-append-to-body="true"
            ></span>
            <div
              uib-dropdown
              uib-dropdown-toggle
              dropdown-append-to-body="true"
              class="clickable"
              ng-click="$event.stopPropagation()"
              style="
                font-size: 21px;
                height: 20px;
                width: 36px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <span class="noselect pointer"
                ><i class="fal fa-ellipsis-v"></i
              ></span>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-click="copyEvents('mainevents')">
                  <a href><span class="iconify mr-4" data-icon="mdi:content-copy"></span> Copy events</a>
                </li>
                <li
                  ng-class="{'disabled': !hasCopiedEvents()}"
                  ng-click="pasteEvents('mainevents')"
                  ng-disabled="!hasCopiedEvents()"
                >
                  <a href><span class="iconify mr-4" data-icon="mdi:content-paste"></span> Paste event(s)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="mt-6 mb-4 mx-0"
          style="height: 2px; background: #3e3f40; flex-shrink: 0"
        ></div>

        <div
          class="modal-subheader flex-row-center jspacebetween"
          style="flex-shrink: 0"
        >
          <span
            >Event Sets
            <tooltip
              text="'Event Sets allow you to create different sets of events (ie for specific games or holiday themes) and selectively activate them.'"
            ></tooltip
          ></span>
          <div class="clickable" ng-click="showCreateEventGroupModal()" aria-label="New Event Set">
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>

        <div style="height: 100%; overflow-y: auto">
          <div
            class="muted ml-7"
            ng-if="es.getEventGroups().length < 1"
            style="font-size: 12px"
          >
            No sets created.
          </div>

          <div
            ng-repeat="group in es.getEventGroups() track by group.id"
            class="flex-row-center jspacebetween scene-row"
            ng-class="{'selected': es.tabIsSelected(group.id)}"
            ng-click="es.setSelectedTab(group.id)"
          >
            <div class="flex-row-center" style="height: 100%">
              <div class="row-text" style="max-width: 145px">
                {{group.name}}
              </div>
            </div>
            <div class="flex-row-center jspacebetween">
              <span aria-label="Currently Active"
                ng-if="group.active"
                class="status-dot active"
                uib-tooltip="This event set is active"
                tooltip-append-to-body="true"
              ></span>
              <button aria-label="Event Set Options"
                class="noselect clickable text-3xl mx-3"
                style="background: transparent; border: none"
                context-menu="eventSetMenuOptions(group)"
                context-menu-class="angular-context-menu"
                context-menu-on="click"
                context-menu-orientation="left"
              >
                <i class="fal fa-ellipsis-v"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%; height: 100%">
        <firebot-item-table
          items="getSelectedEvents()"
          on-items-update="updateEventsForCurrentGroup(items)"
          headers="tableConfig"
          sort-tag-context="events"
          orderable="true"
          add-new-button-text="New Event"
          on-add-new-clicked="showAddOrEditEventModal()"
          context-menu-options="eventMenuOptions(item)"
          no-data-message="No events saved. You should make one! :)"
          none-found-message="No events found."
          search-placeholder="Search events"
          test-button="true"
          on-test-button-clicked="fireEventManually(itemId)"
          status-field="active"
        >
          <fb-item-table-toolbar>
            <button ng-click="simulateEventsByType()" class="btn btn-default">
              <i class="fas fa-play-circle ml-2"></i> Simulate Event
            </button>
          </fb-item-table-toolbar>
        </firebot-item-table>
      </div>
    </div>
  </div>
</div>
