<!-- Credits Page -->
<div class="content-block">
  <div class="content-block-body">
    <section class="credits-page item active">
      <div class="page-content row">
          <div class="col-sm-12 col-md-12">
              <div class=""> This page shows all the persons that have contributed to the creation of this Mixer Interactive Bot called Firebot, which started as Firebottles creation and has grown with additions and changes from the Mixer communtiy:
                <h4>Interactive v2 Version:</h4>
                <div class="contributors-v2">
                  <ul>
                    <li>Firebottle</li>
                    <li>ebiggz</li>
                    <li>ebrayton</li>
                    <li>Kateract</li>
                    <li>ThePerry</li>
                  </ul>
                </div>
                <h4>Interactive v1 Version:</h4>
                <div class="contributors-v1">
                  <ul>
                    <li>Firebottle</li>
                    <li>ThePerry</li>
                    <li>DeekyJay</li>
                  </ul>
                </div>
              </div>
              <!-- /Contributors -->
            </div>
      </div>
    </section>
  </div>
</div>