
  <div class="page-content">
    <div class="row interactive-header page-header">
      <div class="col-sm-6">
        <div class="board-title">
          <a href ng-click="openLinkExternally('https://mixer.com/i/studio')">{{selectedBoard.name}}</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="interactiveMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a board
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu interactive-menu" aria-labelledby="interactiveMenu">
            <li><a href="#" data-toggle="modal" data-target="#add-new-board-modal">Add New Board</a></li>
            <li><a href="#" data-toggle="modal" data-target="#delete-board-modal">Delete Board</a></li>
            <li role="separator" class="divider"></li>
            <li ng-repeat="boardName in getBoardNames()">
              <a href="" ng-click="switchToBoard(boardName)">{{boardName}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row interactive-board-container">
      <uib-tabset>
        <uib-tab index="0" heading="Settings">
          <!--put settings stuff here-->
          <div class="general-board-settings">
              <h3>Group Settings</h3>
              <div class="board-group-defaults">
                  <p>All of your scenes are listed below. Here you can select which groups you want to use and which scenes they will use as their starting point. Groups are only "active" if selected here, otherwise they will not be used.</p>
                  <div class="board-group-defaults-settings clearfix">
                  </div>
              </div>
          </div>
          <div class="board-cooldown-group-settings">
              <h3>Cooldown Groups <button class="btn btn-default add-new-cooldown-group" data-toggle="modal" data-target="#new-cooldown-group-modal">Add New</button></h3>
              <div class="board-cooldown-content">
                  <p>Cooldown groups make it easy to group multiple buttons together so that they all cooldown anytime one is clicked.</p>
                  <div class="board-cooldown-groups">

                  </div>
              </div>
          </div>
        </uib-tab>
        <!--Create a tab for each scene -->
        <uib-tab index="$index + 1" ng-repeat="scene in getScenesForSelectedBoard()" heading="{{scene}}">
          <div class="tab-pane interactive-button-holder">
            <!--Create buttons in each scene -->
            <div class="interactive-button tile" ng-repeat="button in getControlsForScene(scene)">
                <div class="interactive-button-header tile-header">
                    <div class="controlID tileID">controlID</div>
                    <div class="edit-interactive-control tile-edit">
                        <button class="edit-control btn btn-default" controlid="${controlID}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="interactive-button-body tile-body">
                    <div class="buttontext">buttontext</div>
                    <div class="playbuttonwrap"><button class="playbutton" control="${controlID}"><i class="fa fa-play-circle" aria-hidden="true"></i></button></div>
                    <div class="sparkcost"><i class="fa fa-bolt button-title-spark" aria-hidden="true"></i> sparkcost</div>
                </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>