<div style="display: flex; width: 100%; justify-content: space-between; flex-wrap:wrap">
  <div class="content-block" style="width: 49%">
    <div class="content-block-header">
      <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">Event Log</span>
      <div style="display:inline-block;float:right;position: absolute;top: 9px;right: 7px;">
        <input type="text" class="form-control" placeholder="Search events" ng-model="eventLogSearch" style="padding-left: 27px;">
        <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
      </div>
    </div>
    <div class="content-block-body">
      <table class="table">
       <thead>
         <tr>
           <th width="100">TIME</th>
           <th>EVENT</th>
         </tr>
       </thead>
       <tbody>
         <tr class="repeatList" ng-repeat="event in filteredEvents = (eventLogService.events | filter:eventLogSearch) | orderBy:'-milliseconds' | startFrom:(pagination.eventLog.currentPage-1)*pagination.eventLog.pageSize | limitTo:pagination.eventLog.pageSize track by $index">
           <td>{{event.timestamp}}</td>
           <td>{{event.username}} {{event.text}}</td>
         </tr>       
       </tbody>
     </table>
     <span ng-show="eventLogService.events.length == 0" style="opacity: 0.5">There are no recent events.</span>
     <div ng-show="filteredEvents.length > pagination.eventLog.pageSize" style="text-align: center;">
        <ul uib-pagination total-items="filteredEvents.length" ng-model="pagination.eventLog.currentPage" items-per-page="pagination.eventLog.pageSize" class="pagination-sm" max-size="5" boundary-link-numbers="true" rotate="true"></ul>
     </div>
    </div>
  </div>
  <div class="content-block" style="width: 49%">
    <div class="content-block-header">
      <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">Banned Users</span>
      <div style="display:inline-block;float:right;position: absolute;top: 9px;right: 7px;">
        <input type="text" class="form-control" placeholder="Search users" ng-model="bannedSearch" style="padding-left: 27px;">
        <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
      </div>
    </div>
    <div class="content-block-body">      
      <table class="table">
       <thead>
         <tr>
           <th>USERNAME</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
         <tr class="repeatList" ng-repeat="user in userList = (bannedGroup.users | filter:bannedSearch) | startFrom:(pagination.bannedList.currentPage-1)*pagination.bannedList.pageSize | limitTo:pagination.bannedList.pageSize track by $index">
           <td>{{user}}</td>
           <td>
             <span class="delete-button pull-right" ng-click="removeUserFromBannedGroupAtIndex($index)">
               <i class="far fa-trash-alt"></i>
             </span>
           </td>
         </tr>
       </tbody>
     </table>
     <div ng-show="bannedGroup.users.length == 0" style="opacity: 0.5;padding-bottom:20px;">There are no banned users.</div>
     <div ng-show="bannedGroup.users.length > pagination.bannedList.pageSize" style="text-align: center;">
        <ul uib-pagination total-items="userList.length" ng-model="pagination.bannedList.currentPage" items-per-page="pagination.bannedList.pageSize" class="pagination-sm" max-size="5" boundary-link-numbers="true" rotate="true"></ul>
     </div>
     <div style="display: flex;justify-content: center;">
       <div class="input-group" style="width: 50%;">
         <input type="text" class="form-control" placeholder="Ban new user" ng-model="newUser" ng-keyup="$event.keyCode == 13 ? addUserToBannedGroup() : null">
         <span class="input-group-btn">
           <button class="btn btn-danger" type="button" ng-click="addUserToBannedGroup()">Ban</button>
         </span>
      </div>
     </div>
    </div>
  </div>
  <div class="content-block" style="width: 49%; margin-top:2%">
    <div class="content-block-header">
      <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">Spark Exemptions</span>
      <div style="display:inline-block;float:right;position: absolute;top: 9px;right: 7px;" ng-if="activeExemptTab == '0'">
        <input type="text" class="form-control" placeholder="Search users" ng-model="exemptSearch" style="padding-left: 27px;">
        <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
      </div>
    </div>
    <div class="content-block-body">
      
      <uib-tabset active="activeExemptTab">
        <uib-tab index="0" heading="Users">
          <table class="table">
           <thead>
             <tr>
               <th>USERNAME</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
             <tr class="repeatList" ng-repeat="user in userList = (exemptGroup.users | filter:exemptSearch) | startFrom:(pagination.exemptList.currentPage-1)*pagination.exemptList.pageSize | limitTo:pagination.exemptList.pageSize track by $index">
               <td>{{user}}</td>
               <td>
                 <span class="delete-button pull-right" ng-click="removeUserFromExemptGroupAtIndex($index)">
                   <i class="far fa-trash-alt"></i>
                 </span>
               </td>
             </tr>
           </tbody>
         </table>
         <div ng-show="exemptGroup.users.length == 0" style="opacity: 0.5;padding-bottom:20px;">There are no exempt users.</div>
         <div ng-show="exemptGroup.users.length > pagination.exemptList.pageSize" style="text-align: center;">
            <ul uib-pagination total-items="userList.length" ng-model="pagination.exemptList.currentPage" items-per-page="pagination.exemptList.pageSize" class="pagination-sm" max-size="5" boundary-link-numbers="true" rotate="true"></ul>
         </div>
         <div style="display: flex;justify-content: center;">
           <div class="input-group" style="width: 50%;">
             <input type="text" class="form-control" placeholder="Exempt new user" ng-model="$parent.$parent.newExemptUser" ng-keyup="$event.keyCode == 13 ? $parent.$parent.addUserToExemptGroup() : null">
             <span class="input-group-btn">
               <button class="btn btn-danger" type="button" ng-click="$parent.$parent.addUserToExemptGroup()">Exempt</button>
             </span>
          </div>
         </div>
        </uib-tab>
        
        <uib-tab index="1" heading="Groups">
          <div style="margin-top:15px; margin-left: 15px;">
            <label class="control-fb control--checkbox">Default
              <input type="checkbox" ng-click="updateCheckedArrayWithElement(exemptGroup.groups, 'default')" ng-checked="arrayContainsElement(exemptGroup.groups, 'default')">
              <div class="control__indicator"></div>
            </label>
            <label ng-repeat="groupName in allViewerGroups | orderBy:'toString()'" class="control-fb control--checkbox">{{groupName}}
              <input type="checkbox" ng-click="updateCheckedArrayWithElement(exemptGroup.groups, groupName)" ng-checked="arrayContainsElement(exemptGroup.groups, groupName)">
              <div class="control__indicator"></div>
            </label>            
          </div>      
        </uib-tab>
      </uib-tabset>
      
      
        
      
    </div>
  </div>
</div>

