<div style="min-width: 500px;">
    <div style="padding: 15px;">
      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div style="font-weight: 600;font-size: 20px;">Global Exempt Roles <tooltip text="'These roles are exempt from all Moderation features.'" /></div>
          <div style="margin-top: 15px">
            <exempt-roles model="cms.chatModerationData.settings.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="moderation-feature-title">Spam Raid Protection</div>
            <div class="muted" style="margin-top: 5px;">
              These are settings for the chat messages that the bot will save <span style="font-weight: 900">before</span> the spam raid protection command is activated.
            </div>
          </div>
          <div style="margin-top: 15px;">
            <div style="font-weight: 600;font-size: 16px;width: 100%;margin-bottom: 10px;">
              Exempt Roles <tooltip text="'These roles are exempt from the spam raid protection.'" />
            </div>
            <exempt-roles model="cms.chatModerationData.settings.spamRaidProtection.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
          </div>
          <div style="margin-top: 15px">
            <div style="font-weight: 600;font-size: 16px;width: 100%;margin-bottom: 10px;">
              Message cache size (145 max)
            </div>
            <div class="muted" style="margin-bottom: 10px;">
              This will tell Firebot how many of the last chat messages it should save.
            </div>
            <firebot-input
              input-title="Amount of messages to save"
              placeholder-text="Enter the amount of messages"
              input-type="number"
              disable-variables="true"
              model="cms.chatModerationData.settings.spamRaidProtection.cacheLimit"
              on-input-update="cms.saveChatModerationSettings()"
              max="145"
              required="true"
              error-message="Cache limit is required and has to be between 1 and 145"
            />
          </div>
          <div style="margin-top: 20px">
            <div style="font-weight: 600;font-size: 16px;width: 100%;margin-bottom: 10px;">
              Message start cut-off
            </div>
            <div class="muted" style="margin-bottom: 10px;">
              This is the amount of characters it should cut off the start of the spam raid message (e.g. 10 of "spam raid message xxx" would make it only check for "raid message xxx").
            </div>
            <firebot-input
              input-title="Amount of characters"
              placeholder-text="Enter the amount of characters"
              input-type="number"
              disable-variables="true"
              model="cms.chatModerationData.settings.spamRaidProtection.characterLimit"
              on-input-update="cms.saveChatModerationSettings()"
            />
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="moderation-feature-title" ng-class="{ muted: !cms.chatModerationData.settings.bannedWordList.enabled }">Banned Word List</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.bannedWordList.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
              />
            </div>
          </div>
          <div ng-show="cms.chatModerationData.settings.bannedWordList.enabled">
            <div style="margin-top: 15px;margin-bottom: 15px;">
              <div style="font-weight: 600;font-size: 16px;width: 100%;margin-bottom: 10px;">
                Exempt Roles <tooltip text="'These roles are exempt from the banned words list.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.bannedWordList.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <div id="roles" class="mixplay-header" style="padding: 0 0 4px 0;margin-top: 15px;">
                Words
            </div>
            <button ng-click="showEditBannedWordsModal()" class="btn btn-default">Edit Word List</button>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="moderation-feature-title" ng-class="{ muted: !cms.chatModerationData.settings.emoteLimit.enabled }">Emote/Emoji Limit</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.emoteLimit.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
              />
            </div>
          </div>
          <div style="margin-top: 15px" ng-show="cms.chatModerationData.settings.emoteLimit.enabled">
            <div style="margin-top: 15px;margin-bottom: 15px;">
              <div style="font-weight: 600;font-size: 16px;width: 100%;margin-bottom: 10px;">
                Exempt Roles <tooltip text="'These roles are exempt from the emote/emoji limit.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.emoteLimit.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <firebot-input
              input-title="Max Per Message"
              placeholder-text="Enter number"
              input-type="number"
              disable-variables="true"
              model="cms.chatModerationData.settings.emoteLimit.max"
              on-input-update="cms.saveChatModerationSettings()"
            />
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="moderation-feature-title" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.enabled }">Url Moderation</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.enabled"
                on-toggle="toggleUrlModerationFeature()"
                font-size="40"
              />
            </div>
          </div>
          <div
            style="margin-top: 15px;"
            class="title-toggle-button-container"
            ng-show="cms.chatModerationData.settings.urlModeration.enabled"
          >
            <div class="muted" style="margin-bottom: 15px;">
              A !permit command is automatically added to System Commands.
            </div>
            <div style="margin-top: 15px;display: block;width: 100%;margin-bottom: 15px;">
              <div style="font-weight: 600;font-size: 16px;margin-bottom: 10px;">
                Exempt Roles <tooltip text="'These roles are exempt from the url moderation.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.urlModeration.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <div class="moderation-feature-subtitle" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.viewTime.enabled }">View Time</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.viewTime.enabled"
                on-toggle="cms.saveChatModerationSettings()"
                auto-update-value="true"
                font-size="32"
              />
            </div>
            <div
              style="margin-top: 15px; width: 100%;"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled && cms.chatModerationData.settings.urlModeration.viewTime.enabled"
            >
              <div class="muted" style="margin-bottom: 10px; margin-left: 15px;">All viewers with a higher view time will be exempt from url moderation.</div>
              <firebot-input
                input-title="View time in hours"
                placeholder-text="Enter amount of hours"
                input-type="number"
                disable-variables="true"
                model="cms.chatModerationData.settings.urlModeration.viewTime.viewTimeInHours"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
          <div
              style="margin-top: 20px; width: 100%;"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled"
            >
            <div class="muted">The chat message shown when a message containing a url is moderated (leave empty for no message).</div>
              <div class="muted" style="margin-bottom: 10px; font-weight: 800;">
                Variables: {userName}<span ng-show="cms.chatModerationData.settings.urlModeration.viewTime.enabled">, {viewTime}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="Enter text"
                model="cms.chatModerationData.settings.urlModeration.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
