<div style="min-width: 500px;">
    <div class="fb-commands-tab-wrapper">
        <ul class="nav nav-tabs fb-tabs">
            <li role="presentation" ng-class="{'active' : activeTab === 0}" ng-click="activeTab = 0">
                <a href>CHAT MODERATION</a>
            </li>
            <!--<li role="presentation" ng-class="{'active' : activeTab === 1}" ng-click="activeTab = 1">
              <a href>GENERAL MODERATION</a>
            </li>-->
            <li role="presentation" ng-class="{'active' : activeTab === 2}" ng-click="activeTab = 2">
                <a href>ACTIVITY LOGS</a>
            </li>
        </ul>
    </div>

    <div style="padding: 15px;">
        <div ng-show="activeTab === 0">

            <div class="content-block" style="width: 50%;">
                <div class="content-block-body">
                  <div style="display: flex;align-items: center;">
                    <div style="font-weight: 600;font-size: 20px;margin-right: 15px;" ng-class="{ muted: !cms.chatModerationData.settings.bannedWordList.enabled }">Banned Word List</div>
                    <toggle-button toggle-model="cms.chatModerationData.settings.bannedWordList.enabled" 
                      on-toggle="toggleBannedWordsFeature()"></toggle-button>
                  </div> 
                  <div style="margin-top: 15px" ng-show="cms.chatModerationData.settings.bannedWordList.enabled">
                    <div id="roles" class="mixplay-header" style="padding: 0 0 4px 0">
                        Words
                    </div>
                    <button ng-click="showEditBannedWordsModal()" class="btn btn-default">Edit Word List</button>
                    <div style="margin-top:15px;">
                      <div id="roles" class="mixplay-header" style="padding: 0 0 4px 0">
                          Exempt Roles
                      </div>

                      <div class="role-bar" ng-repeat="role in getExemptRoles() track by role.id">
                          <span>{{role.name}}</span>
                          <span class="clickable" style="padding-left: 10px;" ng-click="removeExemptRole(role.id)" uib-tooltip="Remove role" tooltip-append-to-body="true">
                              <i class="far fa-times"></i>
                          </span>
                      </div>
                      <div class="role-bar clickable" ng-click="openAddExemptRoleModal()" uib-tooltip="Add role" tooltip-append-to-body="true">
                          <i class="far fa-plus"></i> 
                      </div>    
                    </div>
                  </div>         
                </div>
            </div>
            
        </div>
        <div ng-show="activeTab === 1">

          <div class="content-block" style="width: 50%;">
            <div class="content-block-body" style="margin: 5px 15px;">
              <div style="display: flex;align-items: center;justify-content: space-between;">
                  <div style="font-weight: 600;font-size: 20px;" ng-class="{ muted: !settingsService.getGuardAgainstUnfollowUnhost() }">Guard against rapid unfollows/unhosts <tooltip text="'When enabled, if a user unfollows/unhosts within 2.5 seconds of following/hosting, the follow/host event is not triggered.'"></tooltip></div>
                  <div style="width: 150px; flex-shrink: 0;text-align: right;">
                      <toggle-button toggle-model="settingsService.getGuardAgainstUnfollowUnhost()" 
                      on-toggle="settingsService.setGuardAgainstUnfollowUnhost(!settingsService.getGuardAgainstUnfollowUnhost())" font-size="40"></toggle-button>
                  </div> 
              </div>      
            </div>
          </div>

        </div>
        <div ng-show="activeTab === 2">

            <div class="content-block" style="width: 100%; margin-bottom: .5em;">
                <div class="content-block-header">
                  <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">Activity Log</span>
                  <div class="searchbar-header-wrapper">
                    <input type="text" class="form-control" placeholder="Search logs" ng-model="eventLogSearch" style="padding-left: 27px;">
                    <span class="searchbar-icon"><i class="far fa-search"></i></span>
                  </div>
                </div>
                <div class="content-block-body">
                  <uib-tabset active="activeLogTab">
                    <uib-tab index="0" heading="General">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="100">TIME</th>
                            <th>MESSAGE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="repeatList" ng-repeat="event in filteredEvents = (eventLogService.generalEvents | filter:eventLogSearch) | orderBy:'-milliseconds' | startFrom:(pagination.generalLog.currentPage-1)*pagination.generalLog.pageSize | limitTo:pagination.generalLog.pageSize track by $index">
                            <td>{{event.timestamp}}</td>
                            <td>{{event.username}} {{event.text}}</td>
                          </tr>       
                        </tbody>
                      </table>
                      <span ng-show="eventLogService.generalEvents.length == 0" style="opacity: 0.5">There are no recent events.</span>
                      <div ng-show="filteredEvents.length > pagination.generalLog.pageSize" style="text-align: center;">
                          <ul uib-pagination total-items="eventLogService.generalEvents.length" ng-model="pagination.generalLog.currentPage" items-per-page="pagination.generalLog.pageSize" class="pagination-sm" max-size="5" boundary-link-numbers="true" rotate="true"></ul>
                      </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Events">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="100">TIME</th>
                            <th>MESSAGE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="repeatList" ng-repeat="event in filteredEvents = (eventLogService.alertEvents | filter:eventLogSearch) | orderBy:'-milliseconds' | startFrom:(pagination.alertLog.currentPage-1)*pagination.alertLog.pageSize | limitTo:pagination.alertLog.pageSize track by $index">
                            <td>{{event.timestamp}}</td>
                            <td>{{event.username}} {{event.text}}</td>
                          </tr>       
                        </tbody>
                      </table>
                      <span ng-show="eventLogService.alertEvents.length == 0" style="opacity: 0.5">There are no recent logs.</span>
                      <div ng-show="filteredEvents.length > pagination.alertLog.pageSize" style="text-align: center;">
                          <ul uib-pagination total-items="filteredEvents.length" ng-model="pagination.alertLog.currentPage" items-per-page="pagination.alertLog.pageSize" class="pagination-sm" max-size="5" boundary-link-numbers="true" rotate="true"></ul>
                      </div>
                    </uib-tab>
                  </uib-tabset>
                </div>
              </div>

        </div>
    </div>
</div>
