<div style="min-width: 800px;">
    <div class="p-6">
        <div>
            <div class="mt-0 mb-10 mx-0" style="display: flex;flex-direction: row;justify-content: space-between;">
                <button ng-click="showAddOrEditQuoteModal()" class="btn btn-primary"><i class="far fa-plus"></i> Add Quote</button>
                <div style="display: flex;flex-direction: row;justify-content: space-between;">
                    <searchbar placeholder-text="Search quotes..." query="quoteSearch" style="flex-basis: 250px;"></searchbar>
                </div>
            </div>
            <sortable-table
                table-data-set="qs.quotes"
                headers="headers"
                query="quoteSearch"
                clickable="true"
                on-row-click="quoteRowClicked(data)"
                track-by-field="_id"
                starting-sort-field="createdAt"
                sort-initially-reversed="true"
                no-data-message="No quotes created yet!">
            </sortable-table>
        </div>
    </div>
</div>