<!-- Settings Board -->
<div class="content-block">
  <div class="content-block-body">
    <div class="page-content" style="min-height: 600px;">
      <uib-tabset>

        <!-- General Settings -->
        <uib-tab index="0" heading="General">
          <div class="row" style="margin-top: 15px">
            <div class="setting col-sm-6">
              <div class="setting-heading">Setup Wizard</div>
              <div class="setting-description">Want to run the setup wizard again? Click the button below.</div>
              <button class="btn btn-default" ng-click="showSetupWizard()">Open Setup Wizard</button>
            </div>
            <div class="setting col-sm-6">
              <div class="setting-heading">App Sounds</div>
              <div class="setting-description">Let Firebot play sounds for various app functions. For example, you will get a warning when Firebot connects or disconnects.</div>
              <div class="dropdown options-sounds-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="options-sounds" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.soundsEnabled()}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-sounds">
                  <li><a href ng-click="settings.setSoundsEnabled('On')">On</a></li>
                  <li><a href ng-click="settings.setSoundsEnabled('Off')">Off</a></li>
                </ul>
              </div>         
            </div>
          </div>
          <div class="row">
            <div class="setting col-sm-6">
              <div class="setting-heading">Theme</div>
              <div class="setting-description">Choose your color theme for Firebot!</div>
              <div class="dropdown options-themes-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="options-themes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.getTheme()}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-sounds">
                  <li><a href ng-click="settings.setTheme('Light')">Light</a></li>
                  <li><a href ng-click="settings.setTheme('Dark')">Dark</a></li>
                </ul>
              </div>
            </div>
            <div class="setting col-sm-6">              
              <div class="setting-heading">Root Folder Access</div>
              <div class="setting-description">Need easy access to Firebot's main folder where all settings and data are saved?</div>
              <button class="btn btn-default" ng-click="openRootFolder()">Open Root Folder</button>
            </div>
          </div>
          <div class="row">
            <div class="setting col-sm-6">
              <div class="setting-heading">Auto Update</div>
              <div class="setting-description">Firebot can automatically update when a new version is available. Below you can choose what kinds of updates you want to be automatically downloaded. For any updates that aren't automatically downloaded, you will recieve a notification so you can update at your convenience.</div>
              <div style="display: flex; flex-direction: row; justify-content: center;">
                <div style="display:inline-block; width: 90%; font-weight: 600;">    
                  <rzslider rz-slider-model="autoUpdateSlider.value" rz-slider-options="autoUpdateSlider.options"></rzslider>
                </div>            
              </div>
              <div style="padding-top: 10px; padding-left: 10px;">
                <label class="control-fb control--checkbox"> Subscribe to beta notifications <i class="fal fa-question-circle" uib-tooltip="If you are not autoupdating to betas, but you want to be notified when a new beta is available, check this box." tooltip-append-to-body="true" ></i>
                  <input type="checkbox" ng-click="settings.setNotifyOnBeta(!settings.notifyOnBeta())" ng-checked="settings.notifyOnBeta()" aria-label="..." >
                  <div class="control__indicator"></div>
                </label>
              </div> 
            </div>
          </div>
        </uib-tab>

        <!-- Interactive Settings -->
        <uib-tab index="1" heading="Interactive">
          <div class="row" style="margin-top: 15px">
            <div class="setting col-sm-6">
              <div class="setting-heading">Control Emulation</div>
              <div class="setting-description">Firebot has two different control emulators built in. If one doesn't work for you, try the other one!</div>
              <div class="dropdown options-emulation-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="options-emulation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.getEmulator()}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-emulation">
                  <li><a href ng-click="settings.setEmulator('Robotjs')">Robotjs</a></li>
                  <li><a href ng-click="settings.setEmulator('KBMRobot')">KBMRobot</a></li>
                </ul>
              </div>
            </div>
            <div class="setting col-sm-6">
              <div class="setting-heading">Custom Script Buttons</div>
              <div class="setting-description">Firebot supports a button effect that can run custom scripts. You must opt in to use this feature as it is potentially dangerous. Please only run scripts from sources you trust. Want to write a custom script? Learn how <a ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/wiki/Writing-Custom-Scripts')">here</a>.</div>
              <div class="dropdown options-customscript-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="options-customscript" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.getCustomScriptsEnabled() ? 'On' : 'Off'}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-customscript">
                  <li><a href ng-click="settings.setCustomScriptsEnabled(true)">On</a></li>
                  <li><a href ng-click="settings.setCustomScriptsEnabled(false)">Off</a></li>
                </ul>
              </div>
            </div>
          </div>
        </uib-tab>

        <!-- Overlay Settings -->
        <uib-tab index="2" heading="Overlay">
          <div class="row" style="margin-top: 15px">
            <div class="setting col-sm-6">
              <div class="setting-heading">Overlay Filepath</div>
              <div class="setting-description">Click the button below to get quick access to the Firebot overlay path.</div>
              <button class="btn btn-default" ng-click="settings.showOverlayInfoModal()">Get Overlay Path</button>
            </div>
            <div class="setting col-sm-6">
            </div>
          </div>
        </uib-tab>
        
        <!-- Backup Settings -->
        <uib-tab index="3" heading="Backup">
          <div class="row" style="margin-top: 15px">
            <div class="setting col-sm-6">
              <div class="setting-heading">Access Backups Folder</div>
              <div class="setting-description">Click the button below to access where Firebot saves backups.</div>
              <button class="btn btn-default" ng-click="openBackupFolder()">Open Backup Folder</button>
            </div>
            <div class="setting col-sm-6">
              <div class="setting-heading">Manual Backup</div>
              <div class="setting-description">Click the button below to start a backup manually.</div>
              <button class="btn btn-default" ng-click="startBackup()" ng-disabled="isBackingUp">Backup Now</button>
              <span ng-if="isBackingUp || backupCompleted" style="padding-left:10px">
                <span ng-if="isBackingUp" >
                  Backing up... 
                </span>
                <span ng-if="backupCompleted" style="color: green;">
                  <i class="fal fa-check-circle"></i> Backup successful! 
                </span>
              </span>            
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="setting col-sm-6">
                <div class="setting-heading">Backup Options</div>
                <div class="setting-description">Choose how you want the backup system to work:</div>
                <div class="effect-setting-container">
                  <div class="change-scene-effect-group-select">
                    <label class="control-fb control--checkbox">Keep all old backups <i class="fal fa-question-circle" uib-tooltip="Check this if you don't want the previous backup to be overwritten everytime." tooltip-append-to-body="true" ></i>
                        <input type="checkbox" ng-click="settings.setBackupKeepAll(!settings.backupKeepAll())" ng-checked="settings.backupKeepAll()" aria-label="..." >
                        <div class="control__indicator"></div>
                    </label>
                    <div class="setting-description">When to backup automatically:</div>
                    <label class="control-fb control--checkbox">When Firebot closes
                      <input type="checkbox" ng-click="settings.setBackupOnExit(!settings.backupOnExit())" ng-checked="settings.backupOnExit()" aria-label="..." >
                      <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox">Before updates
                        <input type="checkbox" ng-click="settings.setBackupBeforeUpdates(!settings.backupBeforeUpdates())" ng-checked="settings.backupBeforeUpdates()" aria-label="..." >
                        <div class="control__indicator"></div>
                    </label>
                    </div>
                </div>
              </div>
              <div class="setting col-sm-6">
              </div>
            </div>
          </div>
        </uib-tab>
        
        <!-- Advanced Settings -->
        <uib-tab index="4" heading="Advanced">
          <div class="row" style="margin-top: 15px">
            <div class="alert alert-warning">
                Most users won't need to change settings in this tab. Only change them if you understand what you are doing.
            </div>
            <div class="setting col-sm-6">
              <div class="setting-heading">Overlay Web Server Port</div>
              <div class="setting-description">
                This is the port that the Firebot and the overlay webpage use to talk to each other. 
                You usually only need to change this if you are having a problem with the overlay. 
              </div>
              <div class="input-group" style="width: 50%; margin-bottom: 10px;">
                <input type="text" class="form-control" ng-model="currentPort" disabled>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="showChangePortModal()">Edit</button>
                </span>
              </div>
              <div class="alert alert-danger">
                  <b>Note</b>: If a new port is set, both Firebot and anything previewing the overlay (ie broadcasting software) will need to be restarted for the new port to take effect.
              </div>
            </div>
            <div class="setting col-sm-6" ng-if="settings.getCustomScriptsEnabled()">
              <div class="setting-heading">Clear Custom Script Cache</div>
              <div class="setting-description">
                Whether or not you want the cached version of a custom script to be cleared on every button press. 
                You usually only need to change this if you are actively developing a custom script, otherwise you wont see changes to your script until you restart Firebot. 
              </div>
              <div class="dropdown options-customscript-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.getClearCustomScriptCache() ? 'On' : 'Off'}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-customscript">
                  <li><a href ng-click="settings.setClearCustomScriptCache(true)">On</a></li>
                  <li><a href ng-click="settings.setClearCustomScriptCache(false)">Off</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="setting col-sm-6">
              <div class="setting-heading">Overlay Instances</div>
              <div class="setting-description">
                Enable or disable the ability to use multiple overlay instances in your broadcasting software. When on, you will be able to pick which instance you want a video or image effect to show in. This is useful if you use greenscreen footage that you need to chroma key but don't want to affect your other videos and images. 
              </div>
              <div class="dropdown options-customscript-dropdown"style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-text">{{settings.useOverlayInstances() ? 'On' : 'Off'}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options-customscript">
                  <li><a href ng-click="settings.setUseOverlayInstances(true)">On</a></li>
                  <li><a href ng-click="settings.setUseOverlayInstances(false)">Off</a></li>
                </ul>
              </div>
              <span style="padding-left:10px" ng-if="settings.useOverlayInstances()"><a href ng-click="showEditOverlayInstancesModal()">Edit Instances</a></span>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>


<!-- Modal For Editting Overlay Port -->
<script type="text/ng-template" id="changePortModal.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="addInteractiveBoardLabel">Edit Web Server Port</h4>
  </div>
  <div class="modal-body">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 15px;">
      <div style="width: 55%; position: relative;">
        <div class="form-group" ng-class="{'has-error': newPortError}">
          <label class="control-label" for="newPort">New Port</label>
          <input type="number" class="form-control" id="newPort" ng-model="newPort" aria-describedby="helpBlock">
          <span id="helpBlock" class="help-block" ng-show="newPortError">This is not a valid port number.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="changePort()">Change Port</button>
  </div>
</script>

<!-- Modal For Editting Overlay Instaces -->
<script type="text/ng-template" id="editOverlayInstances.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit Overlay Instances</h4>
  </div>
  <div class="modal-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Default</td>
            <td><a href ng-click="showViewUrlModal()">View URL</a></td>
            <td></td>
          </tr>
          <tr ng-repeat="instanceName in getOverlayInstances()">
            <td>{{instanceName}}</td>
            <td><a href ng-click="showViewUrlModal(instanceName)">View URL</a></td>
            <td><span class="effect-delete-btn clickable pull-right" ng-click="deleteOverlayInstanceAtIndex($index)"><i class="far fa-trash-alt"></i></span></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default btn-sm" ng-click="showCreateInstanceModal()">+ Create Instance</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="dismiss()">Done</button>
  </div>
</script>

<!-- Modal For Adding Overlay Instances -->
<script type="text/ng-template" id="createOverlayInstance.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Overlay Instance</h4>
  </div>
  <div class="modal-body">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 15px;">
      <div style="width: 75%; position: relative;">
        <div class="form-group" ng-class="{'has-error': createError}">
          <label class="control-label" for="name">Name</label>
          <input type="text" class="form-control" id="name" ng-model="name" aria-describedby="helpBlock">
          <span id="helpBlock" class="help-block" ng-show="createError">This name is invalid or already exists.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
  </div>
</script>