<firebot-item-table
    items="timerService.timers"
    on-items-update="onTimersUpdated(items)"
    headers="headers"
    sort-tag-context="timers"
    orderable="true"
    add-new-button-text="New Timer"
    on-add-new-clicked="timerService.showAddEditTimerModal()"
    context-menu-options="timerOptions(item)"
    no-data-message="No timers saved. You should make one! :)"
    none-found-message="No timers found."
    search-placeholder="Search timers"
    test-button="false"
    status-field="active"
></firebot-item-table>