<div class="content-block info-page">
  <div class="content-block-body">
    <div class="page-content" style="min-height: 600px;">
                
        <div class="update-alert alert alert-info" style="display: inline-block;" ng-if="!getUpdateData().updateIsAvailable">
            <p><i class="fas fa-check-circle"></i> Firebot is up-to-date.</p>
        </div>
      
        <div class="update-alert alert alert-warning" style="display: inline-block;" ng-if="getUpdateData().updateIsAvailable">
            <p>Hey! It looks like there was an update released!</p> <p>You can update by clicking the button below.</p>
        </div>
        
        <div class="latest-update" style="font-size:30px;font-weight:200;">
            {{getUpdateData().gitName}}
        </div>
        <div class="release-date" style="font-weight:600;">
            {{getUpdateData().gitDate | date: 'medium'}}
        </div>
        <div class="update-notes" ng-bind-html="getUpdateData().gitNotes"></div>
        <div class="update-buttons">
            <a class="github-link" href><button class="btn btn-primary" ng-if="getUpdateData().updateIsAvailable" ng-click="downloadAndInstallUpdate()">Update</button></a>
            <a href ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3Abug')"><button class="btn btn-danger">Report Bugs</button></a>
            <a href ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature+Request%22')"><button class="btn btn-info">Suggest Features</button></a>
        </div>
    </div>
  </div>
</div>