<div class="firebot-item-table">
  <div>
    <scroll-sentinel
      element-class="fit-header"
    ></scroll-sentinel>
    <div class="light-bg sticky-top fit-header">
      <div class="flex-row">
        <button
          ng-click="$ctrl.onAddNewClicked()"
          class="btn btn-primary hvr-icon-grow fit-header-button"
          ng-disabled="$ctrl.addNewButtonDisabled"
        >
          <i class="fas fa-plus-circle hvr-icon"></i>
          {{$ctrl.addNewButtonText}}
        </button>

        <div ng-transclude="toolbar"></div>
      </div>

      <div class="fit-header-sort-search" ng-show="$ctrl.items.length > 0">
        <sort-tag-dropdown
          context="{{$ctrl.sortTagContext}}"
          class="fit-header-sort"
        />
        <searchbar
          placeholder-text="{{$ctrl.searchPlaceholder}}"
          query="searchQuery"
          class="fit-header-search"
        ></searchbar>
      </div>
    </div>
    <div class="fit-body">
      <div
        ng-if="$ctrl.items.length === 0"
        class="noselect muted fit-body-no-data"
      >
        <span class="hvr-bob"><i class="fas fa-arrow-up"></i></span
        ><span class="fit-body-no-data-message">{{$ctrl.noDataMessage}}</span>
      </div>
      <div
        ng-if="$ctrl.items.length > 0 && filteredItems && filteredItems.length < 1"
        class="noselect muted fit-body-no-data"
      >
        <span class="fit-body-no-data-message">{{$ctrl.noneFoundMessage}}</span>
      </div>
      <table
        ng-show="$ctrl.items.length > 0 && (filteredItems == null || filteredItems.length > 0)"
        class="fb-table fit-table"
      >
        <thead class="fit-table-header">
          <tr>
            <th ng-if="$ctrl.testButton == true" class="fit-test-button-header"></th>

            <th
              ng-repeat="header in $ctrl.headers track by $index"
              ng-style="header.headerStyles"
              class="muted fit-custom-header"
            >
              <div>
                <span>
                  <i ng-show="header.icon" class="fas" ng-class="header.icon"></i>
                </span>
                <span ng-show="header.name" class="fit-custom-header-name">
                  {{header.name}}
                </span>
              </div>
            </th>

            <th ng-if="$ctrl.sortTagContext != null" class="muted">
              <i class="fas fa-tag"></i> SORT TAGS
            </th>

            <th ng-if="$ctrl.showStatusIndicator"></th>

            <th></th>
          </tr>
        </thead>
        <tbody ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.items" class="fit-table-body">
          <tr
            ng-repeat="item in filteredItems = ($ctrl.items | sortTagSearch:sts.getSelectedSortTag($ctrl.sortTagContext) | filter:searchQuery) as visible track by item.id"
            context-menu="$ctrl.getContextMenu(item)"
          >
            <td ng-if="$ctrl.testButton == true" class="fit-test-button-body">
              <span ng-click="$ctrl.onTestButtonClicked({ itemId: item.id })">
                <i class="fas fa-play-circle clickable"></i>
              </span>
            </td>

            <td
              ng-repeat="header in $ctrl.headers track by $index"
              ng-style="header.cellStyles"
            >
              <sortable-table-cell
                data="item"
                header="header"
                cell-index="$index"
              ></sortable-table-cell>
            </td>

            <td
              ng-if="$ctrl.sortTagContext != null"
              class="fit-table-sort-tags"
            >
              <div>
                <span ng-repeat="tagName in sts.getSortTagNames($ctrl.sortTagContext, item.sortTags)">
                  {{tagName}}
                </span>
              </div>
            </td>

            <td ng-if="$ctrl.showStatusIndicator">
              <status-indicator status="$ctrl.getStatus(item)" />
            </td>

            <td class="fit-table-drag-handle">
              <div>
                <span
                  class="dragHandle"
                  ng-click="$event.stopPropagation();"
                  ng-if="$ctrl.orderable"
                  ng-show="sts.getSelectedSortTag($ctrl.sortTagContext) == null && (searchQuery == null || searchQuery.length < 1)"
                >
                  <i class="fal fa-bars" aria-hidden="true"></i>
                </span>
                <div>
                  <span
                    class="noselect clickable"
                    context-menu="$ctrl.getContextMenu(item)"
                    context-menu-on="click"
                    context-menu-orientation="left"
                  >
                    <i class="fal fa-ellipsis-h"></i>
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="light-bg sticky-bottom fit-footer"
      ng-transclude="footer"
    ></div>
    <scroll-sentinel
      element-class="fit-footer"
    ></scroll-sentinel>
  </div>
</div>
