<div class="modal-header" style="text-align:center">
	<h3>{{getStepTitle()}}</h3>
</div>
<div class="modal-body" style="text-align:center">
	<div> 
		<div ng-switch="getCurrentStep()" class="slide-frame">
			
			<div ng-switch-when="one" class="wave">
				<div class="welcome-wrapper">
					<h3 class="animated fadeIn">Welcome to</h3>
					<img style="animation-delay: 0.5s" class="animated bounceInDown" src="../images/logo_transparent.png">      
				  <span style="animation-delay: 1.3s" class="animated bounceIn">Firebot</span>
				</div>
				<div style="animation-delay: 2.0s" class="animated fadeIn welcome-subtitle">
					<span>A Tool For Mixer Interactive</span>
				</div>
				<div style="animation-delay: 3.2s" class="animated fadeInUp">
					<a class="btn btn-link" ng-click="setCurrentStep(2)">Lets get started <i class="fal fa-angle-right"></i></a>
				</div>
			</div>
			
			<div ng-switch-when="two" class="wave">
				<div>
					<p>
						If you're upgrading from 3.0 or prior (or the 4.0 betas), you will have to import your boards and settings because Firebot now saves in a new location.
					</p>
					<p>
						Click the button below and select the <b>user-settings</b> folder located where you previously had Firebot saved.
					</p>
					<div>
						<button class="btn btn-primary" ng-click="openImportBrowser()"><i class="fal fa-inbox-in"></i> Import Boards & Settings</button>
					</div>
					<p ng-if="importErrorOccured" class="animated fadeInUp" style="color:red; margin-top: 10px;">
						{{importErrorMessage}}
					</p>
				</div>
			</div>
			
			<div ng-switch-when="three" class="wave">
				<p>
					Firebot supports two different Mixer accounts:</br> A <b>Streamer</b> (the one you stream with)</br> and a <b>Bot</b> (a second account that can chat to your viewers).
				</p>
				<p>
					You will need to sign into at least your <b>Streamer</b> account to use Firebot's features.
				</p>
				<div class="wizard-accounts-wrapper">
					<div class="wizard-accounts-title">
						Accounts
					</div>
					<table class="table">
				    <tbody>
				      <tr style="border-top: 2px solid #ddd;">
				        <td class="wizard-accounts-td text-left">
									<b ng-show="streamerAccount.isLoggedIn" style="position: relative;">
										<span ng-if="streamerAccount.isLoggedIn" class="wizard-account-checkmark"><i class="fas fa-check-circle animated bounceIn"></i></span>
										Streamer
									</b>
								</td>
				        <td class="wizard-accounts-td" style="width: 50%; height: 50px;text-align: center;">
									<div ng-show="streamerAccount.isLoggedIn" class="wizard-accounts-login-display">
										<img class="login-thumbnail" ng-show="streamerAccount.isLoggedIn" ng-class="streamerAccount.isLoggedIn ? 'animated flipInX' : ''" style="height: 34px; width: 34px;" ng-src="{{streamerAccount.photoUrl}}">
										<div class="animated fadeIn">
											{{streamerAccount.username}}
										</div>
									</div>
									<div ng-hide="streamerAccount.isLoggedIn">
											<a class="clickable" ng-click="loginOrLogout('streamer')">+ Add <b>Streamer</b> Account</a><span style="color:red;">*</span>
									</div>
								</td>
				        <td class="wizard-accounts-td text-right" class="animated fadeIn">
									<a ng-show="streamerAccount.isLoggedIn" class="clickable" ng-click="loginOrLogout('streamer')">Logout</a>
								</td>
				      </tr>
							<tr>
								<td class="wizard-accounts-td text-left">
									<b ng-show="botAccount.isLoggedIn" style="position: relative;">
										<span ng-if="botAccount.isLoggedIn" class="wizard-account-checkmark"><i class="fas fa-check-circle animated bounceIn" style=""></i></span>
										Bot
									</b>
								</td>
				        <td class="wizard-accounts-td" style="width: 50%; height: 50px;text-align: center;">
									<div ng-show="botAccount.isLoggedIn" class="wizard-accounts-login-display">
										<img class="login-thumbnail" ng-show="botAccount.isLoggedIn" ng-class="botAccount.isLoggedIn ? 'animated flipInX' : ''" style="height: 34px; width: 34px;" ng-src="{{botAccount.photoUrl}}">
										<div>
											{{botAccount.username}}
										</div>
									</div>
									<div ng-hide="botAccount.isLoggedIn">
											<a class="clickable" ng-click="loginOrLogout('bot')">+ Add <b>Bot</b> Account</a> <span class="muted" style="font-size:11px">Optional</span>
									</div>
								</td>
				        <td class="wizard-accounts-td text-right">
									<a ng-show="botAccount.isLoggedIn" class="clickable" ng-click="loginOrLogout('bot')">Logout</a>
								</td>
							</tr>
				    </tbody>
				  </table>
					<span style="font-size: 12px; opacity: 0.8; margin-top: 3px;">Note: You can manage your logins in the upper-right corner of the app at any time.</span>
				</div>	
			</div>
			
			<div ng-switch-when="four" class="wave">
				<p>
					Next, we need to sync controls from Mixer.
				</p>
				<p>
					Read below to learn how interactive controls work <br />and then continue on to add your first board!
				</p>
				<div style="display:flex; justify-content: center;">
					<div class="panel panel-info" style="margin-top: 5px;font-size: 14px;width: 80%;">
						<div class="panel-heading">How Interactive Controls Work</div>
					  <div class="panel-body">
							<p>
							 Interactive controls on Mixer work by creating 'boards' on Mixer's website. 
							</p>
							<p>
								There you can create scenes, add buttons, and organize the layout of those buttons. 
							</p>
							<p>
								Each board will have it's own ID code that you will give to Firebot, which will allow it to sync the buttons you created.
							</p>
					  </div>
					</div>
				</div>
			</div>
			
			<div ng-switch-when="five" class="wave">
				<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 15px;" ng-hide="hasBoardsLoaded">
					<p>
						<b style="font-size: 16px;">How to create and add a board to Firebot:</b>
					</p>
					<ol class="wizard-board-add-instructions">
						<li>
							Go to Mixer's <a href ng-click="openLinkExternally('https://mixer.com/i/studio')">Interactive Studio</a>.
						</li>
						<li>
							Create a new Project and give it a name.
						</li>
						<li>
							Optionally: Go to the project's <b>Build</b> tab and create scenes/add buttons now. <br><span class="muted">(You can always do this later. Any changes will be synced to Firebot)</span>
						</li>
						<li>
							Go to the <b>Code</b> tab and copy the 5-digit ID code.
						</li>
						<li>
							Paste the ID code below and click <b>Add Board</b>.
						</li>
					</ol>
					<div class="input-group" style="width: 55%;">
						<input id="wizardIdField" type="text" class="form-control" placeholder="Enter code" ng-model="firstBoard.id">
						<span class="wizard-paste-btn btn-group-adjust clickable" uib-tooltip="Paste clipboard contents" ng-click="pasteClipboard('wizardIdField')"><i class="fas fa-paste"></i></span>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="addBoard()" ng-disabled="firstBoard.id.toString().trim().length === 0">Add Board</button>
						</span>
					</div>
					<p style="color: red;" ng-show="boardAddErrorOccured">
						Whoops, there was an error loading that board. Was the code copied properly?
					</p>
				</div>
				<div ng-if="hasBoardsLoaded">
				  <span><i class="fal fa-check-circle animated bounceIn" style="font-size: 193px;color: green;animation-delay: 0.3s;"></i></span>
					<div style="margin-top: 22px;text-transform: uppercase;font-size: 18px;opacity: 0.5;margin-top: 10px;">
						<span style="animation-delay: 1s;" class="animated flipInX"><b>Loaded Board:</b></span>
					</div>
					<div style="font-size: 50px;animation-delay: 1s;" class="animated flipInX">
						<span>{{selectedBoardName()}}</span>
					</div>
				</div>
			</div>			
			
			<div ng-switch-when="six" class="wave">
				<div style="margin-top: 20px">
					<img style="width: 80px; height: 80px" class="jump-infinite" src="../images/logo_transparent.png">
				</div>
				<h1 style="margin-top: 0px;">You're all set!</h1>
				<p>
					If you need help or have a suggestion, we'd love to hear from you. Click the About link in the sidebar to see where you can find us.
				</p>
				<p>
					Feel free to check out the <a href ng-click="openLinkExternally('https://github.com/Firebottle/Firebot/wiki/Getting-Started')">getting started guide</a> as well.
				</p>
				<p style="animation-delay: 7s" class="animated tada">
					<b>Thank you for using Firebot!</b>
				</p>
				<a style="margin-top: 5px;" class="btn btn-primary" ng-click="handleNext()">I'm ready!</a>  
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="min-height: 64px; text-align: center;">
	<div ng-if="isFirstStep()">
		<a style="animation-delay: 3.3s" class="btn btn-link import-settings-btn animated fadeIn" ng-click="setCurrentStep(1)">Upgrading from 3.0 or 4.0-beta?</a>
	</div>
	<div>
		<a class="btn btn-default" ng-click="handlePrevious()" ng-show="showBackButton()">Back</a>
		<a 
			class="btn btn-primary"
			uib-tooltip="{{getTooltipText()}}"
			tooltip-enable="!canGoToNext()" 
			ng-click="handleNext()" 
			ng-show="showNextButton()" 
			ng-disabled="!canGoToNext()">
				{{getNextLabel()}}
		</a>
	</div>
	<div>
		<a class="btn btn-link" style="font-size: 10px;" ng-click="handleNext(true)" ng-show="showNextButton() && !canGoToNext()">Skip for now</a>
	</div>
</div>