<div class="modal-header">
    <h4 class="modal-title"></h4>
</div>
<div class="modal-body" style="text-align:center;">
    <h1>{{restoreComplete ? 'Restore Complete!' : 'Restoring...'}}</h1>
    <div style="overflow: hidden;" ng-if="!restoreComplete">
        <div class="loader">Loading...</div>
    </div>
    <div ng-if="restoreComplete" style="height: 220px;display:flex;justify-content:center;align-items:center;">
        <i class="fal fa-check-circle" style="font-size: 150px; color:green"></i>
    </div>
    <p ng-if="restoreHasError" style="color:red;">
        {{errorMessage}}
    </p>
    <p ng-if="restoreComplete">
        The restore has completed successfully! Please click <b>Restart</b> below to restart Firebot, this ensures you see the updated data.
    </p>
</div>
<div class="modal-footer" style="text-align: center;">
    <button ng-if="restoreHasError || restoreComplete" class="btn btn-primary" ng-click="dismiss()">{{restoreComplete ? 'Restart Firebot' : 'Okay'}}</button>
</div>