
.command-permissions{
    padding:1em;
}

/* Chat - second pass*/

.chat-tab-content {
    padding: 15px;
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: row;
    position: relative;
}

.viewer-list-column {
    width: 25%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
}

.viewer-list-header {
    height: 27px;
    font-size: 15px;
    color: #9a9797;
    padding-left: 3px;
    padding-right: 3px;display: flex;justify-content: space-between;align-items: flex-start;
}

.chat-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    padding: 0 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    &.alternate:nth-child(even) {
        background: $chat-message-alternate-bg;
    }
    &.isCompact {
        align-items: baseline;
        min-height: 25px;
        padding-top: 2px;
        padding-bottom: 7px;
    }
    &[role="User"]{
        color: $usercolor;
        .chatUserAvatar img {
            border: 1px solid $usercolor;
        }
        a{
            color:$usercolor;
        }
    }
    &[role="Pro"]{
        color: $procolor;
        .chatUserAvatar img {
            border: 1px solid $procolor;
        }
        a{
            color: $procolor;
        }
    }
    &[role="Mod"], &[role="ChannelEditor"]{
        color: $modcolor;
        .chatUserAvatar img {
            border: 1px solid $modcolor;
        }
        a{
            color: $modcolor;
        }
    }
    &[role="Staff"]{
        color: $staffcolor;
        .chatUserAvatar img {
            border: 1px solid $staffcolor;
        }
        a{
            color: $staffcolor;
        }
    }
    &[role="Owner"]{
        color: $ownercolor;
        .chatUserAvatar img {
            border: 1px solid $ownercolor;
        }
        a{
            color: $ownercolor;
        }
    }
    &[role="System"]{
        color: $alertcolor;
        .chatUserAvatar img {
            border: 1px solid $alertcolor;
        }
        a{
            color: $alertcolor;
        }
        .chatRight{
            background-color:$alert-bg-color;
            &::before{
                border-color:transparent $alert-bg-color transparent transparent;
            }
        }
    }
    .whisperData{
        color:$chatTextColor;
        font-weight:normal;
        font-size: 0.85em;
    }
    .chatContent{
        color: $chatTextColor;
        line-height:24px;
        font-size:1em;
        word-break: break-word;
        .chatEmoticon{
            position:relative;
            top:7px;
        }
    }
    .chatEventInfo{
        font-size: .85em;
        color: $alertcolor;
    }
    &.isAction{
        .chatContent{
            font-style: italic;
        }
    }
    &.isWhisper{
        .chatContent{
            color: $chatWhisperColor;
        }
    }

    &.isTagged {
        .chatContent {
            font-weight: 700;
        }
    }
    &.isCompact {
        .chatContent {
            display: inline;
            margin-left: 5px;
            font-weight: 100;
        }
        .chat-timestamp {
            flex-shrink: 0;
            width: 75px;
        }
    }
    .chatContent .chat-link {
        cursor: pointer;
        color: #3e87da;
    }
    &.isDeleted .chatContent{
        text-decoration: line-through;
        color: $chatDeletedColor;
    }
    &.isDeleted.spoilers .chatContent{
        text-decoration: none;
        color: transparent;
        background:black;
        .chatEmoticon {
            opacity: 0;
        }
        .chat-link {
            color: transparent;
        }
        &:hover {
            background:transparent;
            color: $chatDeletedColor;
            .chat-link {
                color: #3e87da;
                opacity: 0.5;
            }
            .chatEmoticon {
                opacity: 0.5;
            }
        }
    }
}

.chat-username {
    display:inline-block;
    font-weight:bold;
    font-size:1.11em;
    cursor: pointer;
}

.chat-user-avatar-wrapper {
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-user-avatar {
    width: 50px; 
    border-radius: 10px;
}

.isCompact {
    & .chat-user-avatar-wrapper {
        width: 25px; 
        height: 25px;
        padding-top: 3px;
        display: inline-block; 
    }
    
    & .chat-user-avatar {
        width: 25px;
    }
}

.message-actions {
    .name-wrapper {
        width: 175px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: inherit;
        padding-left: 10px;
        background: rgba(206, 208, 208, 0.07);
    }

    .user-name {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 100;
        font-family: 'Open Sans';
        text-overflow: ellipsis;
        white-space: nowrap
        ;overflow: hidden;    
    }

    .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 2px solid gray;
    }

    &[role="User"]{
        .user-name{
            color: $usercolor;
        }
        .user-avatar {
            border-color: $usercolor;
        }
    }
    &[role="Pro"]{
        .user-name{
            color: $procolor;
        }
        .user-avatar {
            border-color: $procolor;
        }
    }
    &[role="Mod"], &[role="ChannelEditor"]{
        .user-name{
            color: $modcolor;
        }
        .user-avatar {
            border-color: $modcolor;
        }
    }
    &[role="Staff"]{
        .user-name{
            color: $staffcolor;
        }
        .user-avatar {
            border-color: $staffcolor;
        }
    }
    &[role="Owner"]{
        .user-name{
            color: $ownercolor;
        }
        .user-avatar {
            border-color: $ownercolor;
        }
    }
    .message-action {       
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: inherit;
        cursor: pointer;
        padding-left: 15px;
        &:hover {
            opacity: 0.8;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .action-icon {
        margin-right: 10px;
    }
}

.chat-timestamp {
    font-size: 0.9em; 
    font-weight: 400; 
    padding-left: 5px;
    color: $chatDeletedColor;
}

.text-input-wrapper {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.text-input {
    height: 45px; 
    border: 2px solid rgba(170,164,164,0.43); 
    border-radius: 5px; 
    width: 100%;
    display: flex; 
    background:$light-background-color + 20%;
}

.text-input-field {
    border: none;
    background: none;
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px;
    &:focus {
        outline: none;
    }
    &[disabled] {
        cursor: not-allowed;
    }
}

.settings-popover {
    width: 350px;
    max-width: 400px;
    height: 450px;
}

.settings-btn-wrapper {  
    width: 45px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.settings-btn {
    font-size: 18px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.chatfeed-disabled-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1049;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 5px;
}

.chatter-dropdown {
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 2px solid rgba(170,164,164,0.43);
    align-items: center;
    &:hover {
        background: rgba(128, 128, 128, 0.267);
        cursor: pointer;
    }
}

// Userlist
.chat-users{
    border: 2px solid rgba(170,164,164,0.43);
    background-color: $light-background-color + 20%;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    .chatUser{
        &[role="Banned"]{
            color: $bannedcolor;
        }
        &[role="User"]{
            color: $usercolor;
        }
        &[role="Pro"]{
            color: $procolor;
        }
        &[role="Mod"], &[role="ChannelEditor"]{
            color: $modcolor;
        }
        &[role="Staff"]{
            color: $staffcolor;
        }
        &[role="Owner"]{
            color: $ownercolor;
        }
        &[role="System"]{
            color: $alertcolor;
        }
    }
}


// Chat Screen
.chat-window-column {
    display:flex; 
    flex-direction: column;
    width: 100%; 
    height: 100%;
    padding-left: 10px;
}

.chat-window{
    height: 100%; 
    background: $light-background-color + 20%;
    border-radius: 5px;
    border: 2px solid rgba(170, 164, 164, 0.43);
    flex: 1;
    height:100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    @media only screen and (max-width: 779px) {
        border-left: 1px solid $chatBorder;
    }
    ::-webkit-scrollbar-track {
        border-radius: 0px 5px 5px 0px;
        background: transparent;
    }
}

.chat-window-wrapper {
    display: flex;
    height: 100%;
    position: relative;
}


.chat-window-message-wrapper {
    padding-bottom:6px; 
    margin-bottom: auto;
}

.chatMessage{
    padding-bottom:.2em;
    margin-bottom:.2em;
    clear:both;
    float:left;
    width:100%;
    .chatLeft{
        vertical-align: top;
        width:9%;
        min-width:45px;
        float:left;
        @media only screen and (max-width: 980px) {
            display:none;
        }
    }
    .chatRight{
        vertical-align: top;
        background-color: $dark-background-color;
        border-radius: 0px 5px 5px 5px;
        padding: 5px 10px 5px 10px;
        position:relative;
        top:5px;
        margin-left:10%;
        @media only screen and (min-width: 980px) {
            &::before{
                content: ' ';
                border-width: 0 10px 10px 0px;
                border-color: transparent $dark-background-color transparent transparent;
                position:absolute;
                top:0px;
                left:-10px;
                width:0px;
                height:0px;
                border-style: solid;
            }
        }
        @media only screen and (max-width: 980px) {
            margin-left:0px;
        }
    }
}

.clickable-link {
    cursor: pointer;
    color: rgb(62, 135, 218) !important;
    &:hover {
        color: rgb(52, 118, 189) !important;
    }
}

