.command-permission-label{
    border-right:1px solid #ccc!important;
}
.command-permissions{
    padding:1em;
}

// Chat Screen
.chat-window{
    border: 1px solid $chatBorder;
    border-left:0px;
    border-radius: 0px 5px 5px 0px;
    height:375px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    @media only screen and (max-width: 779px) {
        border-left: 1px solid $chatBorder;
    }
    ::-webkit-scrollbar-track {
        border-radius: 0px 5px 5px 0px;
    }
}

.chatMessage{
    padding-bottom:.5em;
    margin-bottom:.5em;
    clear:both;
    float:left;
    width:100%;
    .chatLeft{
        vertical-align: top;
        width:9%;
        min-width:45px;
        float:left;
        @media only screen and (max-width: 980px) {
            display:none;
        }
    }
    .chatRight{
        vertical-align: top;
        background-color: $medium-background-color;
        border-radius: 0px 5px 5px 5px;
        padding: 5px 10px 5px 10px;
        position:relative;
        top:5px;
        margin-left:10%;
        @media only screen and (min-width: 980px) {
            &::before{
                content: ' ';
                border-width: 0 10px 10px 0px;
                border-color: transparent $medium-background-color transparent transparent;
                position:absolute;
                top:0px;
                left:-10px;
                width:0px;
                height:0px;
                border-style: solid;
            }
        }
        @media only screen and (max-width: 980px) {
            margin-left:0px;
        }
    }
    &[role="User"]{
        color: $usercolor;
        .chatUserAvatar img {
            border: 1px solid $usercolor;
        }
        a{
            color:$usercolor;
        }
    }
    &[role="Pro"]{
        color: $procolor;
        .chatUserAvatar img {
            border: 1px solid $procolor;
        }
        a{
            color: $procolor;
        }
    }
    &[role="Mod"], &[role="ChannelEditor"]{
        color: $modcolor;
        .chatUserAvatar img {
            border: 1px solid $modcolor;
        }
        a{
            color: $modcolor;
        }
    }
    &[role="Staff"]{
        color: $staffcolor;
        .chatUserAvatar img {
            border: 1px solid $staffcolor;
        }
        a{
            color: $staffcolor;
        }
    }
    &[role="Owner"]{
        color: $ownercolor;
        .chatUserAvatar img {
            border: 1px solid $ownercolor;
        }
        a{
            color: $ownercolor;
        }
    }
    &[role="System"]{
        color: $alertcolor;
        .chatUserAvatar img {
            border: 1px solid $alertcolor;
        }
        a{
            color: $alertcolor;
        }
        .chatRight{
            background-color:$alert-bg-color;
            &::before{
                border-color:transparent $alert-bg-color transparent transparent;
            }
        }
    }
    .chatUserAvatar{
        display:inline-block;
        padding:5px;
        width:100%;
        img{
            border-radius: 50%;
            width:100%;
        }
    }
    .chatUsername{
        display:inline-block;
        font-weight:bold;
        font-size:1.1em;
    }
    .chatContent{
        color: $chatTextColor;
        line-height:24px;
        font-size:1.25em;
        .chatEmoticon{
            position:relative;
            top:7px;
        }
    }
    .chatEventInfo{
        font-size: .85em;
        color: $alertcolor;
    }
    &.isDeleted .chatContent{
        text-decoration: line-through;
        color: $chatDeletedColor;
    }
    &.isAction{
        .chatContent{
            font-style: italic;
        }
    }
    &.isWhisper{
        .chatContent{
            color: $chatWhisperColor;
        }
    }
}

// Userlist
.chat-users{
    border: 1px solid $chatBorder;
    border-radius: 5px 0px 0px 5px;
    height:375px; 
    overflow:hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    .chatUser{
        &[role="Banned"]{
            color: $bannedcolor;
        }
        &[role="User"]{
            color: $usercolor;
        }
        &[role="Pro"]{
            color: $procolor;
        }
        &[role="Mod"], &[role="ChannelEditor"]{
            color: $modcolor;
        }
        &[role="Staff"]{
            color: $staffcolor;
        }
        &[role="Owner"]{
            color: $ownercolor;
        }
        &[role="System"]{
            color: $alertcolor;
        }
    }
}

// Chat submit box
.chatFormRight{
    text-align:right;
    padding-top:.5em;
    #chatSubmit{
        background-color: $navbar-collapse-btn;
        padding:10px 20px 10px 20px;
        border-radius:10px;
        border:none;
        color:$dark-background-color;
    }
    select{
        padding:10px 20px 10px 20px;
        border-radius:10px;
    }
}
