
.group-user-list-container{
    .user-list-header{
        margin-bottom:1em;
    }
    #group-user-list{
        .list{
            list-style:none;
            margin:0px;
            padding:0px;
        }
    }
}

.interactive-group-container{
    display:flex;
    flex-wrap: wrap;
}

.effect-panel {
    line-height: 1.1;
    justify-content: space-between;
}


.dragHandle {
    cursor: move;
    opacity: 0.7;
    transition: 0.2s;
    visibility: visible;
    &:hover {
        opacity: 1;
    }
    &.hiddenHandle {
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }
}

.viewer-group-list{
    height:150px;
    overflow-y: scroll;
    background: $light-background-color + 20%;
    border-radius: 3px;
    border: 0.01em solid $light-background-border;
    box-shadow: 2px 2px 7px $light-background-box-shadow;
    padding:8px;
}