// Other styles
.interactive-header{
    .board-title a{
        font-size:2em;
    }
}

.general-button-settings{
    .input-group{
        padding-bottom:1em;
    }
}

.scenes-title {
  font-weight: 600;
  color: darkgray;
  font-size: 14px;
}

.scene-tools-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.scene-tools {
  display: flex;
 align-items: center;
}

.searchbar-wrapper {
  display: inline-block;
  position: relative;
  width: 250px;
}
.interactive-control-tile {
  margin-top: 20px;
  color: white;
  border: $tile-border;
  text-align: center;
  font-size: 1.2em;
  width: 242px;
  height: 155px;
  border-radius: 7px;
  background: $dark-tile-background-color;
  justify-content: center;
  position: relative;
  &.inactive-command, &.inactive-control{
    background: $dark-tile-background-color-inactive;
  }
  @media only screen and (max-width: 779px) {
    width:50%;
  }
  .play-button {
    font-size: 45px;
    transition: 0.1s;
    cursor: pointer;
  }
  .joystick-wrapper {
    padding-bottom: 23px;
  }
  .button-name {
    font-weight: 100;
    font-size: 20px;
    margin-top: 15px;
  }
  .spark-cost {
    margin-bottom: 11px;
  }
  .control-edit-btn {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: 0.2s;
    opacity: 0;
    color: #d4cece;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    border: 1px darkgrey solid;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
    &:hover {
      color: white;
      border-color: white;
      //opacity: 0.4 !important;
    }
  }
  .info-btn {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 2px;
    transition: 0.2s;
    opacity: 0;
    color: #d4cece;
    font-size: 17px;
    font-weight: 100;
    &:hover {
      color: white;
    }
  }
  &:hover .control-edit-btn,&:hover .info-btn {
    visibility: visible;
    opacity: 1;
  }
  .joystick-grid {
    width: 40px;
    vertical-align: text-top;
  }
}

.volume-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .volume-low {
    font-size: 30px;
    margin-right: 10px;
    color: #337ab7;
    align-self: flex-end;
    padding-bottom: 3px;
  }
  .volume-high {
    font-size: 30px;
    margin-left: 10px;
    color: #337ab7;
    align-self: flex-end;
    padding-bottom: 3px;
  }
}

// Button Effects
  .panel-body{
    background-color: $effect-background-color;
  }

.board-group-defaults-settings, .board-cooldown-groups, .interactive-button-holder.active{
    display:flex;
    flex-wrap: wrap;
}

.cooldown-group-buttons{
    height: 200px;
    overflow:hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius:4px;
    padding:6px 12px;
    margin: 10px 0px;

    .cooldown-group-button-option{
        border-bottom:1px solid #cecece;
        padding: 6px 0px;

        input{
            transform: scale(2);
            margin:6px;
        }
    }
}

// Hover color for text when switch interactive board to list.
.control-list, .command-list{
  color: $list-text-color;
  &:hover > td{
    color: $dark-background-color;
  }
  &.inactive-control, &.inactive-command{
    background: $dark-tile-background-color-inactive;
    &:hover{
      background: $dark-tile-background-color-inactive-light;
    }
  }
}
