.live-events{
    .play-button {
        font-size: 45px;
        transition: 0.1s;
        cursor: pointer;
    }
    .inactive-event-text{
        font-size:1.4em;
        display:block;
        padding: 15px 0px 15px 0px;
    }
}

