.control {
    border: 1px solid #b1b1b1;
    background: #1C2030;
    color: white;
    cursor: move;
    box-sizing: border-box;
}

the-grid {
    background: #212c3d;
    background-image: linear-gradient(0deg, transparent, transparent 45%, rgba(107, 107, 107, 0.28) 50%, rgba(0, 0, 0, 0) 55%, transparent 56%, transparent), linear-gradient(90deg, transparent, transparent 45%, rgba(132, 132, 132, 0.22) 50%, rgba(255, 255, 255, 0) 55%, transparent 56%, transparent);
    background-size: 12px 12px;
    background-position: center center;
}

the-grid > div[placeholder] {
    background: #1e1e1f;
    opacity: 0.6;
}

the-grid [resize] {
    position: absolute;
}

the-grid [resize="bottom-right"] {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

the-grid [resize="bottom-left"] {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

the-grid [resize="top-right"] {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

the-grid [resize="top-left"] {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

the-grid [resize="left"] {
    top: 50%;
    left: -4px;
    cursor: ew-resize;
    margin-top: -5px;
}

the-grid [resize="top"] {
    top: -4px;
    width: 100%;
    text-align: center;
    cursor: ns-resize;
}

the-grid [resize="right"] {
    top: 50%;
    right: -4px;
    cursor: ew-resize;
    margin-top: -5px;
}

the-grid [resize="bottom"] {
    bottom: -4px;
    width: 100%;
    text-align: center;
    cursor: ns-resize;
}

.control:hover .resize:not(:hover), .control:active .resize:not(:hover) {
    opacity: 1;
}

.resize {
    opacity: 0;
}

.resize:hover,.resize:active  {
    opacity: 1;
}


.resize-ball {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: white;
    pointer-events: none;
    display: inline-block;
}