.control-tile-wrapper {  
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
}

.control-highlight {
    box-shadow: 0px 0px 25px #b7b7b7, 0px 0px 15px #0837c0;
    z-index: 9999999999999999;
}


.control {
    cursor: move;
    box-sizing: border-box;
    animation-duration: 650ms !important;
    &.control-transitions {
        transition: top 0.5s ease, left 0.5s ease, width 0.5s ease, height 0.5s ease;  
    }
}

.default-control {
    border: 1px solid #b1b1b1;
    background: #1C2030;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .control-name {
        word-break: break-word;
        text-align: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .control-kind {
            opacity: 0.5;
            font-size: 8px;
            text-transform: uppercase;
        }
    }
}

.control-dimensions {
    font-size: 10px;
    opacity: 0;
    background: #1C2030;
    padding: 0px 1px;
    z-index: 999999;
    position: absolute;
    bottom: 1px;
    right: 1px;
    transition: opacity 200ms;
}
.control:hover {
    .control-dimensions {
        opacity: 0.8;
    }
}

.control-search-wrapper {
    height: 43px; 
    background: #1E2023;
    padding: 0 3px;
}

.control-search-toggle {
    font-size: 13px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.control-search {
    border-radius: 0;
    margin-bottom: 5px;
}

.mixer-label-container {
    z-index: 1;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    border: 2px solid transparent;
    text-align: center;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mixer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    background: #151c33;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    outline: 0!important;
    z-index: 0;
    transition: border-color 1s,background-color .5s;
    user-select: none;
    background-size: 100% 100%; 
}

.mixer-button-content {
    overflow: hidden;
    text-align: center;
    color: #f3f5fd;
    font-size: 14px;
    padding: 0 5px;
    text-overflow: ellipsis;
}

.mixer-image {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.mixer-spark-wrapper {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mixer-spark-pill {
    font-weight: 500;
    color: #a2a5b0;
    font-size: .9em;
    z-index: 2;
    line-height: 1.1;
    padding: 0 2px;
}

.mixer-spark-pill:before {
    content: "";
    margin-bottom: -2px;
    width: 13px;
    height: 13px;
    background: url(https://static.mixerusercontent.com/8c649f680fb4ae2a3c3d859f5ce13ea1/1544479215/static/spark.svg) 50% no-repeat;
    background-size: contain;
    display: inline-block;
}

.mixer-joystick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: #222d4d;
    touch-action: none;
    .arrows {
        position: absolute;
        left: 9px;
        right: 9px;
        top: 9px;
        bottom: 9px;
        z-index: 1;
        pointer-events: none;
        &.top:before {
            top: 1px;
            left: 50%;
            transform: rotate(45deg);
            margin-left: -3px;
        }
        &.top:after {
            top: 50%;
            right: 1px;
            transform: rotate(135deg);
            margin-top: -3px;
        }
        &.left:before {
            bottom: 1px;
            left: 50%;
            transform: rotate(-135deg);
            margin-left: -3px;
        }
        &.left:after {
            top: 50%;
            left: 1px;
            transform: rotate(-45deg);
            margin-top: -3px;
        }
    }
    .arrows:after,
    .arrows:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border: 2px solid transparent;
        border-top-color: #465a94;
        border-left-color: #465a94;
        border-radius: 2px;
    }
    .handle {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background: #465a94;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px;
    }  
}

.mixer-textbox-container {
    height: calc(100% - 8px);
    display: flex;
    flex-direction: column;
    margin: 4px;
    &.compact {
        flex-direction: row;
    }
    .mixer-textbox {
        resize: none;
        border: 2px solid rgba(228,238,242,.22);
        background: transparent;
        width: calc(100% - 36px - 4px);
        font-family: Segoe UI;
        font-size: 17px;
        color: #fff;
        padding: 0 18px;
        vertical-align: middle;
        flex: 1;
        &:disabled {
            opacity: .2;
        }
    }
    textarea.mixer-textbox {
        padding: 10px 18px;
    }
    .mixer-button {
        position: relative;
        max-height: 40px;
        min-height: 35px;
        flex: 0.5;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        margin-top: 8px;
        color: #fff;
        flex-direction: column;
        font-family: Titillium,sans-serif;
        .mixer-spark-pill {
            font-size: 1em;
        }
    }
    .mixer-button-content {
        overflow: unset;
    }
    &.compact {
        flex-direction: row;
        .mixer-button {
            margin-top: 0;
            margin-left: 5px;
            text-align: center;
            max-height: unset;
        }
    }
}

.clear-btn-width {
    width: 70px !important;
}

.center-line-wrapper {
    position: absolute;
    top: auto;left: 0;
    height: 100%; 
    width: 100%; 
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.horizontal-center-line {
    height: 1px;
    width: 100%;
    background-color: #585858;
    &.odd {
        height: 12px;
        background-color: unset;
        border-top: 1px solid #585858;
        border-bottom: 1px solid #585858;
    }
}

.vertical-center-line {
    height: 100%;
    width: 1px;
    background-color: #585858;
    &.odd {
        width: 12px;
        background-color: unset;
        border-left: 1px solid #585858;
        border-right: 1px solid #585858;
    }
}

.grid-tools-dropdown {
    border-bottom: 0px solid #eaecec;
    font-weight: 600;
    font-size: 12px;
    color: gray;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 0;
    &:hover, &.open {
        .ddtext {
            color: rgb(78, 78, 78);
        }
        .fb-arrow {
            border-color: rgb(78, 78, 78);
        }
    }   
}

the-grid {
    background: #292a2e;
    background-image: linear-gradient(0deg, transparent, transparent 45%, rgba(107, 107, 107, 0.28) 50%, rgba(0, 0, 0, 0) 55%, transparent 56%, transparent), linear-gradient(90deg, transparent, transparent 45%, rgba(132, 132, 132, 0.22) 50%, rgba(255, 255, 255, 0) 55%, transparent 56%, transparent);
    background-size: 12px 12px;
    background-position: center center;
    &.preview {
        background-size: initial;
        background-position: right !important;
        background-image: linear-gradient(to top, rgba(19, 24, 32, 0.8), rgba(18, 23, 32, 0.95)), url(https://mixer.com/_latest/assets/img/backgrounds/generic-001.jpg);  
    }
}

the-grid /deep/ #container {
    transition: width 0.5s ease, height 0.5s ease;
}

the-grid::shadow #container {
    transition: width 0.5s ease, height 0.5s ease;
}

the-grid #container {
    transition: width 0.5s ease, height 0.5s ease;
}

the-grid > div[placeholder] {
    background: #1e1e1f;
    opacity: 0.6;
}

the-grid [resize] {
    position: absolute;
}

the-grid [resize="bottom-right"] {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

the-grid [resize="bottom-left"] {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

the-grid [resize="top-right"] {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

the-grid [resize="top-left"] {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

the-grid [resize="left"] {
    top: 50%;
    left: -4px;
    cursor: ew-resize;
    margin-top: -5px;
}

the-grid [resize="top"] {
    top: -4px;
    width: 100%;
    text-align: center;
    cursor: ns-resize;
}

the-grid [resize="right"] {
    top: 50%;
    right: -4px;
    cursor: ew-resize;
    margin-top: -5px;
}

the-grid [resize="bottom"] {
    bottom: -4px;
    width: 100%;
    text-align: center;
    cursor: ns-resize;
}

.control:hover .resize:not(:hover), .control:active .resize:not(:hover) {
    opacity: 1;
}

.resize {
    opacity: 0;
    font-size: 0px;
    line-height: 0px;
    z-index: 9999999;
}

.resize:hover,.resize:active  {
    opacity: 1;
}


.resize-ball {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: white;
    pointer-events: none;
    display: inline-block;
}

.editior-column {
    width: 215px;
    height: 100%; 
    background: $editor-column-bg;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow: hidden;
    color: $editor-text-color;
}

.mixplay-header {
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Quicksand";
    padding: 11px;
    font-weight: 100;
    color: $editor-text-color;
}

.scene-row {
    height: 35px;  
    cursor: pointer;
    &:hover {
        background: $editor-row-hover-bg;
    }
    &.selected {
        background: $editor-row-selected-bg;
    }
}

.control-row {
    height: 35px;
}

.selected-scene-icon {
    width: 3px;
    height: 100%;
    background: #EBB11F;
    margin-right: 9px;
    &.transparent {
        background: transparent !important;
    }
}

.row-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 122px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mixplay-row-sort-handle {
    cursor: move !important;
}

.grid-icon {
    font-size: 12px;
    color: gray;
    &.selected {
        color: $mixplay-grid-icon-selected-color;
    }
}

.grid-wrapper {
    display: inline-grid;
    border: 3px solid $mixplay-grid-border-color;
    margin-right: 15px;
}

the-grid {
    background-color: $mixplay-grid-bg-color !important;
}
  
 



/* 
column slide animation 
*/

.mixplayColumnWrapper {
    position: relative;
}

.mixplayColumn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation-duration: 0.30s;
    animation-timing-function: ease-in-out;
}

/* When the page enters, slide it from the right */
/*.mixplayColumn.ng-enter {
    animation-name: slideFromRight;
}
.mixplayColumn.moveToLeft.ng-enter {
    animation-name: slideFromLeft;
}

.mixplayColumn.ng-leave {
    animation-name: slideFromLeft;
    animation-direction: reverse;
}

.mixplayColumn.moveToLeft.ng-leave {
    animation-name: slideFromRight;
    animation-direction: reverse;
}*/

.scenes-column.ng-enter {
    animation-name: slideFromLeft;
}

.scenes-column.ng-leave {
    animation-name: slideFromLeft;
    animation-direction: reverse;
}

.controls-column.ng-enter {
    animation-name: slideFromRight;
}

.controls-column.ng-leave {
    animation-name: slideFromRight;
    animation-direction: reverse;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* page slide */

.ng-pageslide {
    background: #262729;
}

.panel-placeholder {
  width: 0;
  height: 100%;
  transition: width 0.5s;
  &.isOpen {
      width: 400px;
  }
}
