#event-log{
    .event-sort{
        margin: .5em;
    }
    .list{
        list-style:none;
        margin: 0px;
        padding:0px;

        .event-item{
            span{
                display:inline-block;
                padding: .5em;
            }
            .milliseconds{
                display:none;
            }
        }
    }
}

#banned-users{
    .list{
        list-style:none;
        margin:0px;
        padding:0px;
    }
}

.moderation-feature-block {
    width: 50%;

    &:not(:first-child) {
        margin-top: 15px;
    }

    .title-toggle-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .moderation-feature-title {
            font-weight: 600; 
            font-size: 20px;
        }

        .moderation-feature-subtitle {
            font-weight: 600; 
            font-size: 16px;
        }
    
        .toggle-button-container {
            width: 150px; 
            flex-shrink: 0;
            text-align: right;
        }
    }
}

