.modal-dialog {
    margin-top: 60px !important;
}

.ng-toast {
    margin-top: 40px !important;
}

.menubar-menu-container .menu-item-icon {
    width: 0px !important;
}

.titlebar.windows, .titlebar.linux {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 100;
}

.titlebar.windows {
    .window-title {
        display: none;
    }
    
    .menubar {
        margin-right: auto;
    }
}


