/* line 2, ../scss/_login.scss */
.login-page .page-content {
  text-align: center;
}
/* line 5, ../scss/_login.scss */
.login-page .page-content .login-pic {
  border-radius: .25rem;
  border: 2px solid #292b2c;
  width: 220px;
}

/* line 8, ../scss/main.scss */
body {
  padding-top: 5rem;
}

/* line 11, ../scss/main.scss */
.page-header {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #292b2c;
}

/* line 16, ../scss/main.scss */
.page-content {
  width: 100%;
  min-height: 300px;
}

/* line 24, ../scss/main.scss */
.top-padding {
  padding-top: 1em;
}
