<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    ng-click="$ctrl.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <div style="font-size: 22px">Edit System Command:</div>
    <div style="font-weight: bold; font-size: 24px">{{$ctrl.command.name}}</div>
  </h4>
</div>
<div class="modal-body">
  <setting-container header="Trigger">
    <div class="input-group" style="margin-bottom: 5px">
      <span class="input-group-addon" id="basic-addon3">Trigger</span>
      <input
        type="text"
        class="form-control"
        aria-describedby="basic-addon3"
        ng-model="$ctrl.command.trigger"
        placeholder="!something"
      />
    </div>

    <div class="controls-fb-inline">
      <label class="control-fb control--checkbox"
        >Auto Delete Trigger
        <tooltip
          text="'Have Firebot automatically delete the message that triggers this command to keep chat cleaner.'"
        ></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.autoDeleteTrigger"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>

      <label class="control-fb control--checkbox"
        >Scan Whole Message
        <tooltip
          text="'Scan the whole message for the trigger instead just the first word'"
        ></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.scanWholeMessage"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>
    </div>
  </setting-container>

  <setting-container
    header="Cooldowns"
    pad-top="true"
    ng-hide="$ctrl.command.hideCooldowns"
  >
    <div class="input-group">
      <span class="input-group-addon">Global</span>
      <input
        class="form-control"
        type="number"
        min="0"
        placeholder="secs"
        ng-model="$ctrl.command.cooldown.global"
      />
      <span class="input-group-addon">User</span>
      <input
        class="form-control"
        type="number"
        min="0"
        placeholder="secs"
        ng-model="$ctrl.command.cooldown.user"
      />
    </div>
  </setting-container>

  <setting-container
    header="Restrictions"
    description="Permissions, currency costs, and more"
    pad-top="true"
  >
    <restrictions-list
      restriction-data="$ctrl.command.restrictionData"
      trigger="command"
      trigger-meta="$ctrl.triggerMeta"
    >
    </restrictions-list>
  </setting-container>

  <setting-container header="General" pad-top="true">
    <div class="controls-fb-inline">
      <label class="control-fb control--checkbox"
        >Is Active
        <input
          type="checkbox"
          ng-model="$ctrl.command.active"
          aria-label="..."
          checked
        />
        <div class="control__indicator"></div>
      </label>
      <label class="control-fb control--checkbox"
        >Hidden
        <tooltip text="'Hide this command from the !commands list'"></tooltip>
        <input
          type="checkbox"
          ng-model="$ctrl.command.hidden"
          aria-label="..."
        />
        <div class="control__indicator"></div>
      </label>
    </div>
  </setting-container>

  <setting-container
    header="Settings"
    ng-if="$ctrl.command.options != null"
    pad-top="true"
  >
    <command-option
      ng-repeat="(optionName, optionMetadata) in $ctrl.command.options"
      ng-if="optionMetadata.title === 'Output Template'"
      name="optionName"
      metadata="optionMetadata"
    ></command-option>
    <command-option
      ng-repeat="(optionName, optionMetadata) in $ctrl.command.options"
      ng-if="optionMetadata.title !== 'Output Template'"
      name="optionName"
      metadata="optionMetadata"
    ></command-option>
  </setting-container>

  <setting-container
    header="Additional Effects"
    pad-top="true"
  >
    <div ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0" style="margin-bottom: 20px;font-weight: 100;">
      This is only triggered when the user does not provide any arguments.
    </div>
    <effect-list
      header="What should this command do?"
      effects="$ctrl.command.effects"
      trigger="command"
      update="$ctrl.effectListUpdated(effects)"
      is-array="true"
    ></effect-list>
  </setting-container>

  <setting-container
    header="Subcommands"
    ng-if="$ctrl.command.subCommands != null && $ctrl.command.subCommands.length > 0"
    pad-top="true"
  >
    <div
      style="
        display: flex;
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 10px;
      "
    >
      <div class="muted" style="flex-basis: 30%; padding-left: 20px">
        <i class="fas fa-tag"></i> ARG
      </div>
      <div class="muted" style="width: 25%">
        <i class="fas fa-clock"></i> COOLDOWNS
      </div>
      <div class="muted" style="width: 25%">
        <i class="fas fa-lock-alt"></i> PERMISSIONS
      </div>
      <div class="muted" style="width: 25%"></div>
      <div
        class="muted"
        style="flex-basis: 30px; flex-shrink: 0; padding-right: 20px"
      ></div>
    </div>
    <subcommand-row
      ng-repeat="subcommand in $ctrl.command.subCommands track by $index"
      subcommand="subcommand"
      cmd-trigger="{{$ctrl.command.trigger}}"
    ></subcommand-row>
  </setting-container>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-danger pull-left"
    ng-click="$ctrl.reset()"
  >
    Reset To Default
  </button>
  <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary add-new-board-save"
    ng-click="$ctrl.save()"
  >
    Save Changes
  </button>
</div>
