<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
      <div style="font-size: 22px;">Edit Counter:</div>
      <div style="font-weight:bold;font-size: 24px;">{{$ctrl.counter.name}}</div>
    </h4>
</div>
<div class="modal-body">

    <setting-container>
        <div class="counter-wrapper">
            <div class="small-num clickable" ng-click="$ctrl.editMinimum()" aria-label="Edit minimum">
                <div class="value" ng-show="!$ctrl.valueIsNull($ctrl.counter.minimum)">{{$ctrl.counter.minimum}}</div>
                <div class="not-set" ng-show="$ctrl.valueIsNull($ctrl.counter.minimum)">(Not set)</div>
                <div class="counter-title">Minimum<span class="edit-icon"><i class="fas fa-edit"></i></span></div>
            </div>
            <div class="bar"></div>
            <div class="big-num clickable" ng-click="$ctrl.editCurrentValue()" aria-label="Edit counter's current value">
                <div class="value">{{$ctrl.counter.value}}</div>
                <div class="counter-title">Current Value<span class="edit-icon"><i class="fas fa-edit"></i></span></div>            
            </div>
            <div class="bar"></div>
            <div class="small-num clickable" ng-click="$ctrl.editMaximum()" aria-label="Edit maximum">
                <div class="value" ng-show="!$ctrl.valueIsNull($ctrl.counter.maximum)">{{$ctrl.counter.maximum}}</div>
                <div class="not-set" ng-show="$ctrl.valueIsNull($ctrl.counter.maximum)">(Not set)</div>
                <div class="counter-title">Maximum<span class="edit-icon"><i class="fas fa-edit"></i></span></div>
            </div>
        </div>
        <h3 class="use-title">How to use:</h3>
        <p>- Update the value automatically with the <b>Update Counter</b> effect on a command, button, etc.</p>
        <p>- Access value with <b>$counter[{{$ctrl.counter.name}}]</b></p>
        <p>- Every counter has an associated txt file with the value saved, you can add this txt file to your broadcasting software to display the value on your stream.</b></p>
        <div><b>Txt File Path:</b></div>
        <div style="margin: 15px 0;">
            <div class="input-group" style="width:75%;">
                <input type="text" class="form-control" style="cursor:text;" ng-model="$ctrl.txtFilePath" disabled>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="$ctrl.copyTxtFilePath()">Copy</button>
                </span>
            </div>
        </div>
    </setting-container>

    <setting-container header="Effects On Update" pad-top="true">
        <p>These effects are ran everytime the Counter value updates, except when the value hits the maximum or minimum.</p>
        <effect-list header="What should this Counter do on every update?" effects="$ctrl.counter.updateEffects" trigger="counter" trigger-meta="$ctrl.triggerMeta" update="$ctrl.updateEffectsListUpdated(effects)" modalId="{{$ctrl.modalId}}"></effect-list>
    </setting-container>

    <setting-container header="Effects On Minimum" pad-top="true" ng-show="$ctrl.counter.minimum !== undefined && $ctrl.counter.minimum !== null">
        <p>These effects are ran when the minimum value is reached.</p>
        <effect-list header="What should this Counter do when it reaches the minimum value?" effects="$ctrl.counter.minimumEffects" trigger="counter" trigger-meta="$ctrl.triggerMeta" update="$ctrl.minimumEffectsListUpdated(effects)" modalId="{{$ctrl.modalId}}"></effect-list>
    </setting-container>

    <setting-container header="Effects On Maximum" pad-top="true" ng-show="$ctrl.counter.maximum !== undefined && $ctrl.counter.maximum !== null">
        <p>These effects are ran when the maximum value is reached.</p>
        <effect-list header="What should this Counter do when it reaches the maximum value?" effects="$ctrl.counter.maximumEffects" trigger="counter" trigger-meta="$ctrl.triggerMeta" update="$ctrl.maximumEffectsListUpdated(effects)" modalId="{{$ctrl.modalId}}"></effect-list>
    </setting-container>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-click="$ctrl.delete()">Delete</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary add-new-board-save" ng-click="$ctrl.save()">Save</button>
</div>