<div class="chat-tab-content">
    <div class="viewer-list-column" ng-hide="{{getChatViewerListSetting() === false}}">
        <div class="viewer-list-header">
            <span>
                VIEWERS
            </span>
            <span ng-hide="{{getChatViewCountSetting() === false}}">
                <i class="fas fa-eye" style="font-size:12px"></i>
                <b>{{currentViewers}}</b>
            </span>
        </div>
        <div class="chat-users" style="height: 100%;">
            <div class="chatUser" ng-attr-role="{{getRole(user)}}" ng-repeat="user in getChatUsers()">
                    {{user.username}}
            </div>
        </div>       
    </div>
    <div class="chat-window-column">
        <div class="chat-window" scroll-glue>

            <div ng-hide="chatFeedIsEnabled()" class="chatfeed-disabled-overlay">
                <span style="color: white; font-size: 1.2em;">{{disabledMessage}}</span>
            </div>
            <div class="chat-window-message-wrapper">
                <div class="chat-message" ng-class="{isAction: isAction(message), isWhisper: isWhisper(message), isDeleted: isDeleted(message)}" ng-attr-role="{{getRole(message)}}" ng-attr-messageId="{{getMessageId(message)}}" ng-repeat="message in getMessages()">
                    <div class="chat-user-avatar-wrapper">
                        <span>
                            <img class="chat-user-avatar" ng-src="{{message.user_avatar}}">
                        </span>                 
                    </div>
                    <div style="padding-left: 10px">
                        <div class="chat-username">
                            <b>{{message.user_name}}</b>
                            <span class="chatSubIcon" ng-if="isSubscriber(message)">
                                <img ng-src="{{getSubIcon(message)}}">
                            </span>
                            <span ng-hide="message.historical" class="muted chat-timestamp">
                                {{getTimeStamp(message)}}
                            </span>
                        </div>
                        <div class="chatContent" style="font-size: 1.17em;">
                            <span ng-repeat="segment in message.message.message">
                                <span ng-if="segment.type === 'text'">
                                    {{segment.data}}
                                </span>
                                <span ng-if="segment.type === 'emoticon'" class="chatEmoticon" ng-style="segment.emoticonStyles"></span>
                                <span ng-if="segment.type === 'link'">
                                    <a class="clickable-link" ng-click="openLinkExternally(segment.url)">{{segment.url}}</a>
                                </span>
                                <span ng-if="segment.type === 'tag'">
                                    {{segment.text}}
                                </span>
                            </span>
                        </div>
                        <div ng-if="isWhisper(message)" class="whisperData">
                            {{getWhisperData(message)}}
                        </div>
                        <div class="chatEventInfo">
                            {{message.eventInfo}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-input-wrapper">
            <div class="text-input">
                <div class="dropup">
                    <span class="dropdown-toggle chatter-dropdown" data-toggle="dropdown" uib-tooltip="Chat as" tooltip-placement="left" tooltip-append-to-body="true">
                        <span style="margin-left: 10px;">{{chatSender}}</span>
                        <div class="fb-arrow down" style="margin-left: 10px;margin-right: 10px;margin-bottom: 3px;"></div>
                    </span>
                    <ul class="dropdown-menu">
                        <li ng-click="chatSender = 'Streamer'"><a href>Streamer</a></li>
                        <li ng-click="chatSender = 'Bot'" ng-show="botLoggedIn"><a href>Bot</a></li>
                    </ul>
                </div>
                
                <input type="text" 
                    placeholder="Message the stream"
                    class="text-input-field"
                    ng-maxlength="360"
                    ng-model="chatMessage"
                    ng-disabled="!chatFeedIsEnabled()"
                    ng-keyup="$event.keyCode == 13 && submitChat()">
            </div>
        </div>
    </div>
</div>