<!-- Commands Board -->
<div class="content-block">
    <div class="content-block-header">
      <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">Chat</span>
      <span class="clickable board-settings-icon" ng-click="showChatMessagesSettingsModal()">
          <i class="fas fa-cog"></i>
      </span>
    </div>
    <div class="content-block-body">
      <div class="page-content" style="min-height: 600px;">

          <div class="chat-messages-wrapper" ng-if="getChatFeed() === true">
              <div class="row">
                    <div class="chat-users col-sm-3">
                        <!-- This is where chat user list will go -->
                        <div class="chatUser" ng-attr-role="{{getRole(user)}}" ng-repeat="user in getChatUsers()">
                            {{user.username}}
                        </div>
                    </div>
                    <div class="chat-window col-sm-9" scroll-glue>
                        <div class="chatMessage" ng-class="{isAction: isAction(message), isWhisper: isWhisper(message), isDeleted: isDeleted(message)}" ng-attr-role="{{getRole(message)}}" ng-attr-messageId="{{getMessageId(message)}}" ng-repeat="message in getMessages()">
                            <div class="chatLeft">
                                <div class="chatUserAvatar">
                                    <img ng-src="{{message.user_avatar}}">
                                </div>
                            </div>
                            <div class="chatRight">
                                <div class="chatUsername">
                                    {{message.user_name}}
                                    <span class="chatSubIcon" ng-if="isSubscriber(message)">
                                        <img ng-src="{{getSubIcon(message)}}">
                                    </span>
                                </div>
                                <div class="chatContent" ng-bind-html="getMessageContent(message)"></div>
                                <div class="chatEventInfo">
                                    {{message.eventInfo}}
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="row">
                    <div class="chat-messages-input col-sm-12">
                        <!-- There is where the chat input field would go.-->
                        <textarea class="form-control send-message" rows="3" maxlength="360" placeholder="Write a message..."></textarea>
                    </div>
              </div>
          </div><!-- End Chat Command Wrapper-->

          <div class="chat-messages-off" ng-if="getChatFeed() === false">
              The chat feed is currently disabled in the settings menu.
          </div>

      </div><!-- End Page Content-->
    </div><!-- End content body block-->
</div><!-- End content block-->