<div style="min-width: 500px;">
    <div class="fb-commands-tab-wrapper">
        <ul class="nav nav-tabs fb-tabs">
            <li role="presentation" ng-class="{'active' : activeCmdTab === 0}" ng-click="activeCmdTab = 0">
                <a href>CUSTOM COMMANDS</a>
            </li>
            <li role="presentation" ng-class="{'active' : activeCmdTab === 1}" ng-click="activeCmdTab = 1">
                <a href>SYSTEM COMMANDS</a>
            </li>
        </ul>
    </div>

    <div style="padding: 15px;">
        <div ng-show="activeCmdTab === 0">
            <div style="margin: 15px 0;display: flex;flex-direction: row;justify-content: space-between;">
                <button ng-click="openAddOrEditCustomCommandModal()" class="btn btn-primary"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> New Custom Command</button>
                <searchbar ng-show="commandsService.getCustomCommands().length > 0" placeholder-text="Search commands" query="commandSearch" style="flex-basis: 250px;"></searchbar>
            </div>
            <div ng-if="commandsService.getCustomCommands().length === 0" class="muted">
                No custom commands saved. You should make one! :) 
            </div>
            <table ng-show="commandsService.getCustomCommands().length > 0" class="fb-table">
                <thead>
                    <tr style="font-size: 11px;">
                        <th style="width:5%"></th> 
                        <th class="muted"><i class="fas fa-exclamation"></i> TRIGGER</th> 
                        <th class="muted"><i class="fas fa-clock"></i> COOLDOWNS</th> 
                        <th class="muted"><i class="fas fa-lock-alt"></i> PERMISSIONS</th>
                        <th></th> 
                        <th></th> 
                    </tr> 
                </thead> 
                <tbody> 
                    <tr ng-repeat="command in commandsService.getCustomCommands() | triggerSearch:commandSearch track by command.id">
                        <td style="text-align: center;">
                            <span style="color: #2aa1c0; font-size: 20px;" ng-click="manuallyTriggerCommand(command.id)">
                                <i class="fas fa-play-circle clickable"></i>
                            </span>
                        </td> 
                        <td>{{command.trigger}}</td>
                        <td>
                            <span style="min-width: 51px; display: inline-block;" uib-tooltip="Global cooldown">
                                <i class="fal fa-globe"></i> {{command.cooldown.global ? command.cooldown.global + "s" : "-" }}
                            </span>
                            <span uib-tooltip="User cooldown">
                                <i class="fal fa-user"></i> {{command.cooldown.user ? command.cooldown.user + "s" : "-" }}
                            </span>                           
                        </td>
                        <td>
                            <span style="text-transform: capitalize;">{{command.permission.type}}</span> <tooltip type="info" text="getPermissionTooltip(command)"></tooltip>
                        </td>
                        <td>
                            <div style="min-width: 75px">
                                <span class="status-dot" ng-class="{'active': command.active, 'notactive': !command.active}"></span> {{command.active ? "Active" : "Disabled"}}
                            </div>                            
                        </td>  
                        <td>
                            <div style="text-align: right;">
                                <div uib-dropdown uib-dropdown-toggle class="pull-right">
                                    <span class="noselect clickable" style="font-size: 30px"><i class="fal fa-ellipsis-h"></i></span>
                                    <ul class="dropdown-menu" uib-dropdown-menu>
                                        <li>
                                            <a href ng-click="openAddOrEditCustomCommandModal(command)">Edit</a>
                                        </li>
                                        <li>
                                            <a href ng-click="toggleCustomCommandActiveState(command)">{{command.active ? 'Disable' : 'Enable'}}</a>
                                        </li>
                                        <li>
                                            <a href ng-click="deleteCustomCommand(command)" style="color:red">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>                       
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
