<div class="p-6 mx-0 flex justify-between">
    <button ng-click="vs.updateViewers()" class="btn btn-primary">
        <i class="far fa-sync mr-2"></i> Refresh
    </button>
    <button ng-click="showImportViewersModal()" class="btn btn-primary ml-2">
        <i class="fas fa-cloud-download-alt mr-2"></i> Import Viewers
    </button>
    <div class="flex justify-between" style="margin-left: auto;">
        <div class="btn-group mr-2" uib-dropdown auto-close="outsideClick">
            <button
                id="single-button"
                type="button"
                class="btn btn-primary"
                uib-dropdown-toggle
            >
                <i class="far fa-filter mr-2"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-right"
                uib-dropdown-menu
                role="menu"
                aria-labelledby="single-button"
                style="min-height: fit-content;max-height: 50vh;overflow-y: auto;"
            >
                <li class="dropdown-header">
                    Twitch Roles
                </li>
                <li ng-repeat="role in viewerRoles.twitch" ng-click="selectRole(role, 'twitch')">
                    <a href><i ng-show="selectedRoles[role.id]" class="fal fa-check"></i> {{role.name}}</a>
                </li>
                <li class="divider" ng-if="viewerRoles.custom.length"></li>
                <li class="dropdown-header">
                    Custom Roles
                </li>
                <li ng-if="viewerRoles.custom.length" ng-repeat="role in viewerRoles.custom" ng-click="selectRole(role, 'custom')">
                    <a href><i ng-show="selectedRoles[role.id]" class="fal fa-check"></i> {{role.name}}</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem" ng-click="filterViewers()">
                    <a href>Apply filters</a>
                </li>
            </ul>
        </div>
        <searchbar placeholder-text="Search Firebot viewers..." query="viewerSearch" style="flex-basis: 250px"></searchbar>
        <button ng-click="showViewerSearchModal();" class="btn btn-default ml-2"><i class="far fa-search"></i> Search Twitch</button>
    </div>
</div>

<div class="p-6">
    <sortable-table
        table-data-set="viewers"
        headers="headers"
        query="viewerSearch"
        clickable="true"
        on-row-click="viewerRowClicked(data)"
        track-by-field="_id"
        starting-sort-field="username"
        no-data-message="No viewer data available yet!"
        page-size="viewerTablePageSize"
    >
    </sortable-table>
</div>