<div class="p-6 mx-0 flex justify-between" ng-if="isViewerDBOn">
    <button ng-click="vs.updateViewers()" class="btn btn-primary">
        <i class="far fa-sync mr-2"></i> Refresh
    </button>
    <div class="flex justify-between" style="margin-left: auto;">
        <button ng-click="showViewerSearchModal();" class="btn btn-default"><i class="far fa-search"></i> Search Twitch</button>
        <searchbar placeholder-text="Search Firebot viewers..." class="ml-2" query="viewerSearch" style="flex-basis: 250px"></searchbar>
        <div uib-dropdown class="ml-5 flex items-center">
            <a
                uib-dropdown-toggle
                class="clickable"
                style="color: white; font-size: 25px; line-height: 1"
                aria-label="Activity feed options"
            >
                <i class="far fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu right-justified-dropdown" uib-dropdown-menu>
                <li ng-click="showImportViewersModal()">
                    <a>
                        <i class="fas fa-cloud-download-alt mr-4" aria-label="Import Viewers"></i>
                        Import Viewers
                    </a>
                </li>
                <li ng-click="showPurgeViewersModal()">
                    <a style="color: #fb7373;">
                        <i class="far fa-trash-alt mr-6" aria-label="Purge Viewers"></i>
                        Purge Viewers
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="p-6" ng-if="isViewerDBOn">
    <sortable-table
        table-data-set="vs.viewers"
        headers="headers"
        query="viewerSearch"
        clickable="true"
        on-row-click="viewerRowClicked(data)"
        track-by-field="_id"
        starting-sort-field="username"
        no-data-message="No viewer data available yet!"
        page-size="viewerTablePageSize"
    >
    </sortable-table>
</div>

<div ng-if="!isViewerDBOn" class="flex flex-col justify-center items-center" style="height: 100%">
    <p class="muted">The viewer database is turned off.</p>
    <button ng-click="turnOnDatabase()" class="btn btn-primary">
        Turn on viewer database
    </button>
</div>