<div ng-if="isViewerDBOn">
    <div class="p-6 mx-0 flex justify-between">
        <button ng-click="vs.updateViewers()" class="btn btn-primary mr-4">
            <i class="far fa-sync mr-2"></i> Refresh
        </button>
        <div class="btn-group" uib-dropdown>
            <button id="tools-dropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
            Tools <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="tools-dropdown">
                <li role="menuitem">
                    <a href ng-click="showImportViewersModal()">
                        <i class="fas fa-cloud-download-alt mr-4 text-center" style="width: 20px;" aria-label="Import Viewers"></i>
                        Import Viewers...
                    </a>
                </li>
                <li role="menuitem">
                    <a href ng-click="showExportViewersModal()">
                        <i class="fas fa-file-export mr-4 text-center" style="width: 20px;" aria-label="Export Viewers"></i>
                        Export Viewers...
                    </a>
                </li>
                <li role="menuitem">
                    <a href style="color: #fb7373;" ng-click="showPurgeViewersModal()">
                        <i class="far fa-trash-alt mr-4 text-center" style="width: 20px;" aria-label="Purge Viewers"></i>
                        Purge Viewers...
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex justify-between" style="margin-left: auto;">
            <button ng-click="showViewerSearchModal();" class="btn btn-default mr-4"><i class="far fa-search"></i> Search Twitch</button>
            <searchbar placeholder-text="Search Firebot viewers..." query="viewerSearch" style="flex-basis: 250px"></searchbar>
        </div>
    </div>

    <div class="p-6">
        <sortable-table
            table-data-set="vs.viewers"
            headers="headers"
            query="viewerSearch"
            clickable="true"
            on-row-click="viewerRowClicked(data)"
            track-by-field="_id"
            starting-sort-field="username"
            no-data-message="No viewer data available yet!"
            page-size="viewerTablePageSize"
        >
        </sortable-table>
    </div>
</div>

<div ng-if="!isViewerDBOn" class="flex flex-col justify-center items-center" style="height: 100%">
    <p class="muted">The viewer database is turned off.</p>
    <button ng-click="turnOnDatabase()" class="btn btn-primary">
        Turn on viewer database
    </button>
</div>