<!--Interactive Tab View-->
<div class="content-block">
  <div class="content-block-header">
    <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">{{selectedBoard().name}}</span>
    <span class="clickable board-settings-icon" ng-hide="selectedBoard() == null || selectedBoard() == ''" ng-click="showBoardSettingsModal()">
      <i class="fas fa-cog"></i>
    </span>
    <div class="text-dropdown" uib-dropdown uib-dropdown-toggle>
      <span>CHANGE BOARD</span>
      <div class="arrow down"></div>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="boardName in getBoardNames()">
          <a href ng-click="switchToBoard(boardName)">{{boardName}}</a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href ng-click="showAddBoardModal()">Add New Board</a></li>
        <li><a href ng-click="showDeleteBoardModal()">Delete Board</a></li>
      </ul>
    </div>
    <span class="mixer-studio-link"><a href ng-click="openLinkExternally('https://mixer.com/i/studio')">Mixer Studio <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
  </div>
  <div class="content-block-body">
    <div class="page-content">
      <div class="row interactive-board-container" ng-hide="selectedBoard() == null">
        <div class="scene-tools-wrapper">
          <span class="scenes-title">SCENES</span>
          <div class="scene-tools">
            <div class="btn-group" style="margin-right: 15px">
              <label class="btn btn-default" ng-model="buttonViewMode" uib-btn-radio="'grid'" uib-tooltip="Button View: Grid" tooltip-append-to-body="true"><i class="fas fa-th"></i></label>
              <label class="btn btn-default" ng-model="buttonViewMode" uib-btn-radio="'list'" uib-tooltip="Button View: List" tooltip-append-to-body="true" disabled><i class="fas fa-list"></i></label>
            </div>
            <div class="searchbar-wrapper">
              <input type="text" class="form-control" placeholder="Search controls" ng-model="buttonSearch" style="padding-left: 27px;">
              <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
            </div>
          </div>
        </div>
        <uib-tabset>
          <!--Create a tab for each scene -->
          <uib-tab index="$index" ng-repeat="scene in getScenesForSelectedBoard()" heading="{{scene}}">
            <div class="tab-pane interactive-button-holder active">
              <!--Create buttons in each scene -->
              <div class="interactive-button tile" ng-repeat="control in getControlsForScene(scene) | filter:buttonSearch">
                  <div class="interactive-button-header tile-header">
                      <div class="controlID tileID">{{control.controlId}}</div>
                      <div class="edit-interactive-control tile-edit">
                          <button class="edit-control btn btn-default" ng-click="showEditControlEffectsModal(control)">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                      </div>
                  </div>
                  <div class="interactive-button-body tile-body">
                      <div class="buttontext">{{control.text ? control.text : "Unnamed"}}</div>
                      <div class="playbuttonwrap">
                        <button class="playbutton" ng-click="fireControlManually(control.controlId)"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
                      </div>
                      <div class="sparkcost"><i class="fa fa-bolt button-title-spark" aria-hidden="true"></i> {{control.cost ? control.cost : 0}}</div>
                  </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>