<!--Controls Tabs-->

<div style="min-width: 500px;height: 100%">
  <div ng-hide="mps.hasAtLeastOneProject()" style="padding: 20px;">
    <button ng-click="showCreateMixplayModal()" class="btn btn-primary"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> Create MixPlay Project</button>
  </div>
  <div ng-show="mps.hasAtLeastOneProject()" style="height: 100%;display: flex;flex-direction: column;">

    <div class="fb-notab-header-wrapper">
        <div class="fb-notab-title">
            <span>{{getSelectedProjectName()}}</span>
        </div>
        <div class="fb-notab-dropdown">
          <div class="text-dropdown" uib-dropdown uib-dropdown-toggle>
            <div class="noselect pointer">Change Project<span class="fb-arrow down"></span></div>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="projectDef in mps.getProjects() track by projectDef.id">
                <a href ng-click="setCurrentProject(projectDef.id)">{{projectDef.name}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href ng-click="showCreateMixplayModal()">Create New MixPlay Project</a></li>
              <li class="disabled"><a href >Rename This Project</a></li>
              <li><a href ng-click="deleteCurrentProject()">Delete This Project</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div id="testDivFb" class="flex-row" style="height: 100%">
      <div class="editior-column">

          <div class="mixplay-header flex-row-center jspacebetween">
            <span>Scenes</span>
            <div class="clickable" ng-click="showCreateSceneModal()"><i class="fas fa-plus-circle"></i></div>
          </div>

          <div ng-repeat="scene in getScenesForSelectedProject()" class="flex-row-center jspacebetween scene-row" ng-class="{'selected': mps.sceneIsSelected(scene.id)}"  ng-click="setSelectedScene(scene.id)">
            <div class="flex-row-center" style="height:100%;">
              <div class="selected-scene-icon" ng-class="{'transparent': !mps.sceneIsSelected(scene.id)}"></div>
              <div>{{scene.name}}</div>
              <div ng-show="mps.sceneIsDefaultForCurrentProject(scene.id)" uib-tooltip="Default Scene" append-tooltip-to-body="true"><i class="far fa-home muted" style="margin-left: 5px; font-size: 10px;vertical-align: middle;"></i></div>
            </div>
            <div>
                <div uib-dropdown uib-dropdown-toggle dropdown-append-to-body="true" class="clickable" ng-click="$event.stopPropagation()" style="font-size: 21px;height: 20px;width: 36px;text-align: center;display: flex;align-items: center;justify-content: center;">
                    <span class="noselect pointer"><i class="fal fa-ellipsis-v"></i></span>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-class="{'disabled': mps.sceneIsDefaultForCurrentProject(scene.id)}">
                            <a href ng-click="mps.setSceneInCurrentProjectAsDefault(scene.id)"><i class="far fa-home" style="margin-right: 10px;"></i> Set as default</a>
                        </li>
                        <li ng-click="" class="disabled">
                            <a href ><i class="far fa-users" style="margin-right: 10px;"></i> Assign groups</a>
                        </li>
                        <li ng-click="" class="disabled">
                            <a href ><i class="far fa-pen" style="margin-right: 10px;"></i> Rename scene</a>
                        </li>
                        <li ng-click="" class="disabled">
                            <a href ><i class="far fa-clone" style="margin-right: 10px;"></i> Duplicate scene</a>
                        </li>
                        <li ng-click="deleteScene(scene)">
                            <a href style="color:red"><i class="far fa-trash-alt" style="margin-right: 10px;"></i> Delete scene</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      <div class="editior-column">
        <div class="mixplay-header flex-row-center jspacebetween">
          <span>Controls</span>
          <div class="clickable" ng-click="showCreateControlModal()" ng-show="mps.hasSceneSelected()"><i class="fas fa-plus-circle"></i></div>
        </div>


        <div ng-repeat="control in mps.getControlsForCurrentScene()" 
                class="flex-row-center jspacebetween control-row" 
                ng-mouseover="setHighlightedControl(control.id)" 
                ng-mouseleave="clearHighlight()">

            <div class="flex-row-center" style="height:100%;margin-left: 5px;" ng-click="toggle()">
                <div style="width: 28px;height: 100%;font-size:12px;flex-shrink: 0;" class="flex-center">
                    <i class="far" ng-class="getControlIconForKind(control.kind)" uib-tooltip="{{getControlSettings(control.kind).name}}" tooltip-append-to-body="true"></i>
                </div>
                <div>{{control.name}}</div>
            </div>

            <div class="flex-row-center">
                <div ng-if="getControlSettings(control.kind).grid" class="clickable" ng-click="addOrRemoveControlToGrid(control)" uib-tooltip="{{controlIsOnGrid(control) ? 'Remove from Grid' : 'Add to Grid'}}" tooltip-append-to-body="true"><i class="fa-th-large" ng-class="controlIsOnGrid(control) ? 'fas' : 'fal'"></i></div>
                
                <div uib-dropdown uib-dropdown-toggle dropdown-append-to-body="true" class="clickable" ng-click="$event.stopPropagation()" style="font-size: 21px;height: 20px;width: 36px;text-align: center;display: flex;align-items: center;justify-content: center;">
                    <span class="noselect pointer"><i class="fal fa-ellipsis-v"></i></span>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="editControl(control)">
                            <a href ><i class="far fa-pen" style="margin-right: 10px;"></i> Edit control</a>
                        </li>
                        <li ng-click="" class="disabled">
                            <a href ><i class="far fa-clone" style="margin-right: 10px;"></i> Duplicate control</a>
                        </li>

                        <li ng-click="deleteControl(control)">
                            <a href style="color:red"><i class="far fa-trash-alt" style="margin-right: 10px;"></i> Delete control</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
      </div>

      <div style="display:flex; height: 100%;flex-grow: 3;width: 0px;flex-direction:column;">

 

            <div class="flex-row-center" style="padding-left: 15px">
                <div class="mixplay-header" style="padding-left: 0px;">
                    <span>Grid</span>
                </div>
                <div style="font-size: 13px;">
                    <grid-size-selection selected-size="gridHelper.currentGridSize" update="gridSizeChanged(size)"></grid-size-selection>
                </div>
                <div style="margin-left: 15px;">
                    <label class="control-fb control--checkbox small-control noselect"> Preview Mode <tooltip text="'Preview mode makes the controls look more like they will under your stream.'"></tooltip>
                        <input type="checkbox" ng-checked="previewEnabled" ng-click="togglePreviewMode()" aria-label="...">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            

            <div style="margin-right: 1px;overflow-x: auto;padding: 0 15px;height: 100%;">
                <div class="grid-wrapper" style="margin-right: 0;">
                    <the-grid 
                        id="controlGrid" 
                        draggable 
                        resizable 
                        animated 
                        col-count="80" 
                        row-count="20" 
                        cell-margin="0" 
                        cell-height="12" 
                        cell-width="12" 
                        grid-listener 
                        on-update="gridUpdated()"
                        style="background-position: 18px 18px;"
                        ng-class="{'preview': previewEnabled}">   
                        <div ng-repeat="control in controlPositions track by control.control.id" 
                                control="control" 
                                class="control animated bounceIn faster tile"
                                ng-class="{'control-highlight': controlShouldHighlight(control.control.id), 'control-transitions': shouldEnableTransitions()}" 
                                animationend="bounceIn" 
                                disable-animate
                                col="{{control.position.x}}" 
                                row="{{control.position.y}}" 
                                height="{{control.position.height}}" 
                                width="{{control.position.width}}" 
                                min-width="{{getControlSettings(control.control.kind).minSize.width}}" 
                                max-width="{{getControlSettings(control.control.kind).maxSize.width}}" 
                                min-height="{{getControlSettings(control.control.kind).minSize.height}}" 
                                max-height="{{getControlSettings(control.control.kind).maxSize.height}}" 
                                bind-polymer
                                context-menu="controlMenuOptions" ng-mousedown="controlMousedown(control.control)">
                                    <control-tile control="control.control" class="control-tile-wrapper" preview-mode="previewEnabled"></control-tile>
                                    <span ng-show="getControlSettings(control.control.kind).resizable" ng-mousedown="controlMousedown(control.control)">
                                        <span resize="left" class="resize" ><span class="resize-ball"></span></span>
                                        <span resize="right" class="resize"><span class="resize-ball"></span></span>
                                        <span resize="top" class="resize"><span class="resize-ball"></span></span>
                                        <span resize="bottom" class="resize"><span class="resize-ball"></span></span>
                                    </span>
                        </div>
    
                        <div placeholder style="color: darkgrey"></div>
                      </the-grid>
                </div>              
            </div> 


      </div>
    </div>
  </div>
</div>



