<!--Interactive Tab View-->
<div class="content-block">
  <div class="content-block-header">
    <span style="padding-left: 15px;font-weight: 600;font-size: 15px;">{{selectedBoard().name}}</span>
    <span class="clickable board-settings-icon" ng-hide="selectedBoard() == null || selectedBoard() == ''" ng-click="showBoardSettingsModal()">
      <i class="fas fa-cog"></i>
    </span>
    <div class="text-dropdown" uib-dropdown uib-dropdown-toggle>
      <span>CHANGE BOARD</span>
      <div class="arrow down"></div>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="boardName in getBoardNames()">
          <a href ng-click="switchToBoard(boardName)">{{boardName}}</a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href ng-click="showAddBoardModal()">Add New Board</a></li>
        <li><a href ng-click="showDeleteBoardModal()">Delete Board</a></li>
        <li><a href ng-click="resyncCurrentBoard()">Resync Board</a></li>
      </ul>
    </div>
    <span class="mixer-studio-link"><a href ng-click="openLinkExternally('https://mixer.com/i/studio')">Mixer Studio <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
  </div>
  <div class="content-block-body">
    <div class="page-content">
      <div class="row interactive-board-container" ng-hide="selectedBoard() == null">
        <div class="scene-tools-wrapper">
          <span class="scenes-title">SCENES</span>
          <div class="scene-tools">
            <div class="btn-group" style="margin-right: 15px">
              <label class="btn btn-default" ng-model="buttonViewMode" uib-btn-radio="'grid'" ng-click="saveCurrentButtomViewMode()" uib-tooltip="Button View: Grid" tooltip-append-to-body="true"><i class="fas fa-th"></i></label>
              <label class="btn btn-default" ng-model="buttonViewMode" uib-btn-radio="'list'" ng-click="saveCurrentButtomViewMode()" uib-tooltip="Button View: List" tooltip-append-to-body="true"><i class="fas fa-list"></i></label>
            </div>
            <div class="searchbar-wrapper">
              <input type="text" class="form-control" placeholder="Search controls" ng-model="buttonSearch" style="padding-left: 27px;">
              <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
            </div>
          </div>
        </div>
        <uib-tabset>
          <!--Create a tab for each scene -->
          <uib-tab index="$index" ng-repeat="scene in getScenesForSelectedBoard()" heading="{{scene}}">
            <div class="tab-pane interactive-button-holder active">
              <!--Create buttons in each scene -->
              <!--Grid View-->
              <div ng-show="buttonViewMode == 'grid'" class="interactive-control-tile" ng-repeat="control in getControlsForScene(scene) | filter:buttonSearch">
                <a class="control-edit-btn clickable" ng-click="showEditControlEffectsModal(control)">EDIT</a>
                <div class="button-name" ng-class="{ 'muted' : !control.text }">{{control.text ? control.text : 'ID: ' + control.controlId}}</div>
                <span class="play-button clickable" ng-click="fireControlManually(control.controlId)"><i class="fas fa-play-circle"></i></span>
                <div class="spark-cost"><i class="fa fa-bolt button-title-spark" aria-hidden="true"></i> {{control.cost ? control.cost : 0}}</div>
              </div>
              <!--List View-->
              <table ng-show="buttonViewMode == 'list'" class="table table-hover">
                <thead style="text-transform: uppercase;color: #4a4a4a;">
                  <tr>
                    <th style="width:5%;"></th>
                    <th style="width:25%;">ID</th>
                    <th style="width:25%;">Name</th>
                    <th style="width:25%;">Cost</th>
                    <th style="width:20%;"></th>
                  </tr>
                </thead>
                <tbody style="font-size: 16px;">
                  <tr ng-repeat="control in getControlsForScene(scene) | filter:buttonSearch">
                    <td><a ng-click="fireControlManually(control.controlId)"><i class="fas fa-play-circle clickable"></i></a></td>
                    <td>{{control.controlId}}</td>
                    <td ng-class="{'muted': !control.text}">{{control.text ? control.text : "Unnamed"}}</td>
                    <td><i class="fa fa-bolt button-title-spark" aria-hidden="true"></i> {{control.cost ? control.cost : 0}}</td>
                    <td>
                      <a class="clickable" ng-click="showEditControlEffectsModal(control)""><i class="fas fa-pencil" style="font-size: 11px"></i> Edit</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>