<context-menu-modal-header
    on-close="$ctrl.dismiss()"
    trigger-type="command"
    trigger-name="$ctrl.command.trigger"
    sort-tags="$ctrl.command.sortTags"
    show-trigger-name="true"
></context-menu-modal-header>

<div class="modal-body" ng-style="{'padding': $ctrl.command.simple ? '15px' : '0 0 15px'}">
    <simple-command-options
        command="$ctrl.command"
        ng-if="$ctrl.command.simple"
    ></simple-command-options>

    <div ng-if="!$ctrl.command.simple">
        <firebot-tabs active="$ctrl.activeTab" type="underlined" full-width="true">
            <firebot-tab index="0" name="general" label="General" icon="fas fa-cog">
                <firebot-input
                    input-title="Trigger"
                    title-tooltip="Displayed on the command list webpage"
                    placeholder-text="!something or phrase"
                    model="$ctrl.command.trigger"
                    disable-variables="true"
                    class="pb-4"
                    input-group-min-width="130px"
                >
                </firebot-input>

                <firebot-input
                    input-title="Description"
                    title-tooltip="Displayed on the command list webpage"
                    placeholder-text="Enter description"
                    model="$ctrl.command.description"
                    disable-variables="true"
                    class="pb-4"
                    input-group-min-width="130px"
                >
                </firebot-input>

                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >Enabled
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.active"
                            aria-label="..."
                            checked
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Hidden
                        <tooltip text="'Hide this command from the !commands list'"></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.hidden"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >Auto Delete Trigger
                        <tooltip
                            text="'Have Firebot automatically delete the message that triggers this command to keep chat cleaner.'"
                        >
                        </tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.autoDeleteTrigger"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Scan Whole Message
                        <tooltip
                            text="'Scan the whole message for the trigger instead just the first word'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.scanWholeMessage"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <eos-collapsable-panel
                    show-label="Show RegEx Options"
                    hide-label="Hide RegEx Options"
                >
                    <p class="pb-3">
                        For advanced users only! Enable this to make Firebot
                        treat the trigger as a JavaScript flavored regular
                        expression. This will allow you to define more complex
                        patterns to match against.
                    </p>
                    <label class="control-fb control--checkbox"
                        >Trigger Is A RegEx
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.triggerIsRegex"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <div
                        class="input-group mt-3"
                        ng-if="$ctrl.command.triggerIsRegex"
                    >
                        <span class="input-group-addon" id="tooltip-desc"
                            >Description
                            <tooltip
                                text="'Here you can input whatever you want to remind yourself what the RegEx does. It will show up as a tooltip on the main command page.'"
                            >
                            </tooltip
                        ></span>
                        <input
                            type="text"
                            class="form-control"
                            aria-describedby="tooltip-desc"
                            ng-model="$ctrl.command.regexDescription"
                            placeholder="This regex matches..."
                        />
                    </div>
                </eos-collapsable-panel>

                <div ng-hide="$ctrl.command.triggerIsRegex" class="pb-5">
                    <h4 class="mb-2">Aliases</h4>
                    <editable-tags
                        model="$ctrl.command.aliases"
                        settings="aliasesListOptions"
                    ></editable-tags>
                </div>

                <div class="settings-title">
                    <h3>
                        <span ng-hide="$ctrl.command.scanWholeMessage || $ctrl.command.triggerIsRegex">Base </span>Effects
                        <tooltip
                            ng-hide="$ctrl.command.scanWholeMessage || $ctrl.command.triggerIsRegex"
                            class="text-3xl"
                            text="'Always triggered if there are no subcommands. If there are subcommands, this is only triggered when the user does not provide any arguments.'"
                        ></tooltip>
                    </h3>
                </div>

                <effect-list
                    header="What should this command do?"
                    effects="$ctrl.command.effects"
                    trigger="command"
                    trigger-meta="{ rootEffects: $ctrl.command.effects }"
                    update="$ctrl.effectListUpdated(effects)"
                    is-array="true"
                ></effect-list>

            </firebot-tab>

            <firebot-tab index="1" name="access" label="Access Control" icon="fas fa-shield-alt">
                <h3 class="mb-3">
                    Restrictions
                    <span
                        class="muted pl-1 text-lg"
                        style="font-family: 'Quicksand'"
                        >(Permissions, currency costs, and more)</span
                    >
                </h3>
                <restrictions-list
                    restriction-data="$ctrl.command.restrictionData"
                    trigger="command"
                    trigger-meta="$ctrl.triggerMeta"
                    class="pb-6"
                >
                </restrictions-list>

                <h3 class="mb-3 mt-6">Cooldowns</h3>
                <command-cooldown-settings
                    command="$ctrl.command"
                ></command-cooldown-settings>
            </firebot-tab>

            <firebot-tab index="2" name="subcommands" label="Subcommands" badge="$ctrl.command.subCommands ? $ctrl.command.subCommands.length : 0" icon="fas fa-sitemap" ng-if="!$ctrl.command.scanWholeMessage && !$ctrl.command.triggerIsRegex">
                <div
                    class="mt-8"
                >
                    <div class="settings-title">
                        <p class="muted">
                            Optionally trigger different effects based on
                            subcommand triggers
                        </p>
                    </div>
                    <div
                        ng-show="($ctrl.command.subCommands && $ctrl.command.subCommands.length) || $ctrl.command.fallbackSubcommand"
                    >
                        <div
                            ng-if="$ctrl.command.subCommands && $ctrl.command.subCommands.length > 0"
                            class="flex text-lg font-bold pb-4"
                        >
                            <div class="muted pl-8" style="flex-basis: 30%">
                                <i class="fas fa-tag"></i> ARG
                            </div>
                            <div class="muted" style="width: 25%">
                                <i class="fas fa-clock"></i> COOLDOWNS
                            </div>
                            <div class="muted" style="width: 25%">
                                <i class="fas fa-lock-alt"></i> PERMISSIONS
                            </div>
                            <div class="muted" style="width: 25%"></div>
                            <div
                                class="muted pr-8"
                                style="flex-basis: 30px; flex-shrink: 0"
                            ></div>
                        </div>
                        <subcommand-row
                            ng-repeat="subcommand in $ctrl.command.subCommands track by $index"
                            subcommand="subcommand"
                            cmd-trigger="{{$ctrl.command.trigger}}"
                            fully-editable="true"
                            on-delete="$ctrl.deleteSubcommand(id)"
                            on-edit="$ctrl.editSubcommand(id)"
                        ></subcommand-row>
                        <div ng-if="$ctrl.command.fallbackSubcommand != null">
                            <hr style="border-top: 1px solid #202021" />
                            <h4 class="muted">Fallback subcommand:</h4>
                            <div
                                ng-if="!$ctrl.command.subCommands || $ctrl.command.subCommands.length === 0"
                            >
                                <div class="muted pb-4">
                                    <strong>NOTE:</strong> Fallback subcommand
                                    will not trigger when no other subcommands
                                    exist
                                </div>
                                <div class="flex text-lg font-bold pb-4">
                                    <div
                                        class="muted pl-8"
                                        style="flex-basis: 30%"
                                    >
                                        <i class="fas fa-tag"></i> ARG
                                    </div>
                                    <div class="muted" style="width: 25%">
                                        <i class="fas fa-clock"></i> COOLDOWNS
                                    </div>
                                    <div class="muted" style="width: 25%">
                                        <i class="fas fa-lock-alt"></i>
                                        PERMISSIONS
                                    </div>
                                    <div class="muted" style="width: 25%"></div>
                                    <div
                                        class="muted pr-8"
                                        style="flex-basis: 30px; flex-shrink: 0"
                                    ></div>
                                </div>
                            </div>
                            <subcommand-row
                                subcommand="$ctrl.command.fallbackSubcommand"
                                cmd-trigger="{{$ctrl.command.trigger}}"
                                fully-editable="true"
                                on-delete="$ctrl.deleteSubcommand('fallback-subcommand')"
                                on-edit="$ctrl.editSubcommand('fallback-subcommand')"
                            ></subcommand-row>
                        </div>
                    </div>
                    <div>
                        <div
                            class="filter-bar clickable"
                            ng-click="$ctrl.openAddSubcommandModal()"
                            uib-tooltip="Add Subcommand"
                            aria-label="Add Subcommand"
                            tooltip-append-to-body="true"
                        >
                            <i class="far fa-plus mr-2"></i> Add Subcommand
                        </div>
                    </div>
                </div>
            </firebot-tab>

            <firebot-tab index="3" name="advanced" label="Advanced" icon="fas fa-sliders-h">
                <h3 class="mb-3">Behavior Options</h3>
                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >Treat quoted text as single argument
                        <tooltip
                            text="'When this option is enabled, text inside of double quotes will be treated as a single argument without the quotes. Example: !command &quot;This is an argument&quot; will have a single argument with the value: This is an argument'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.treatQuotedTextAsSingleArg"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <h3 class="mb-3 mt-5">Ignore Triggers From</h3>
                <div class="controls-fb-inline pb-5">
                    <label class="control-fb control--checkbox"
                        >Streamer Account
                        <tooltip
                            text="'Whether or not the streamer account should be able to trigger this command.'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreStreamer"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Bot Account
                        <tooltip
                            text="'Whether or not the bot account should be able to trigger this command.'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreBot"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--checkbox"
                        >Whispers
                        <tooltip
                            text="'Whether or not whispers should be able to trigger this command.'"
                        ></tooltip>
                        <input
                            type="checkbox"
                            ng-model="$ctrl.command.ignoreWhispers"
                            aria-label="..."
                        />
                        <div class="control__indicator"></div>
                    </label>
                </div>

                <h3 class="mb-3 mt-5">Shared Chat</h3>
                <firebot-radios
                    options="$ctrl.sharedChatRadioOptions"
                    model="$ctrl.command.allowTriggerBySharedChat"
                    inline="true"
                    class="pb-5"
                />

                <h3 class="mb-3 mt-5">Stats</h3>
                <div class="input-group">
                    <span class="input-group-addon">Usage count</span>
                    <input
                        class="form-control"
                        type="number"
                        min="0"
                        placeholder="0"
                        ng-model="$ctrl.command.count"
                    />
                </div>
            </firebot-tab>
        </firebot-tabs>
    </div>
</div>

<div class="modal-footer sticky-footer edit-command-footer">
    <button
        type="button"
        class="btn btn-danger pull-left"
        ng-show="!$ctrl.isNewCommand"
        ng-click="$ctrl.delete()"
    >
        <i class="fad fa-trash-alt"></i>
    </button>
    <button
        class="btn btn-link hvr-icon-forward pull-left"
        ng-click="$ctrl.switchCommandMode()"
    >
        <span
            >Switch to {{$ctrl.command.simple ? 'Advanced' : 'Simple'}}
            Mode</span
        >
        <i class="fas fa-arrow-right hvr-icon"></i>
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">
        Cancel
    </button>
    <button
        type="button"
        class="btn btn-primary add-new-board-save"
        ng-click="$ctrl.save()"
    >
        Save Changes
    </button>
</div>

<scroll-sentinel element-class="edit-command-footer"></scroll-sentinel>
