<eos-container header="Celebration Type">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="celebrate-effect-type">{{effect.celebration ? effect.celebration : 'Pick one'}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu celebrate-effect-dropdown">
                <li ng-repeat="celebration in celebrationTypes"
                    ng-click="effect.celebration = celebration">
                    <a href>{{celebration}}</a>
                </li>
            </ul>
        </div>
</eos-container>

<eos-container header="Duration" pad-top="true">
    <div class="input-group">
        <span class="input-group-addon" id="celebration-length-effect-type">Seconds</span>
        <input type="text" ng-model="effect.length" class="form-control" id="celebration-amount-setting" aria-describedby="celebration-length-effect-type" type="number">
    </div>
</eos-container>

<eos-container>
    <div class="effect-info alert alert-warning">
        This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal()" style="text-decoration:underline">Learn more</a>
    </div>
</eos-container>
