<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Which viewer group should I switch the person to?</h4></div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="change-group-effect-type">{{effect.group ? effect.group : 'Pick one'}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu change-group-effect-dropdown">
            <li><a href ng-click="effect.group = 'default'">default</a></li>
            <li ng-repeat="group in viewerGroups"
                ng-click="effect.group = group">
                  <a href>{{group}}</a>
            </li>
        </ul>
    </div>
    <div class="effect-info alert alert-warning">
        Don't see the group you want? This is because you haven't made it active yet! Go back to your board and click the cog wheel at the top. Then add your viewer group to one of your scenes.
    </div>
</div>
<div class="effect-info alert alert-info">
    This button will move a viewer to a new user group. In doing so they'll see the buttons associated to that group. They'll stay in this group until something forces them back.
</div>
