<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Will we be resetting scenes to default or changing them?</h4></div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="change-scene-type-effect-type">{{ufChangeSceneOption()}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu change-scene-type-effect-dropdown">
            <li ng-click="effect.reset = false">
                <a href>Change Scenes</a>
            </li>
            <li ng-click="effect.reset = true">
                <a href>Reset Scenes</a>
            </li>
        </ul>
    </div>
</div>

<div class="change-scene-wrap" ng-if="effect.reset != null">
    <div class="effect-setting-container">
        <div class="effect-specific-title"><h4>{{effect.reset ? 'Which viewer group(s) should we reset?' : 'Which viewer group(s) should change scenes?'}}</h4></div>
        <div class="change-scene-effect-group-select">
          <label class="control-fb control--checkbox">Default
            <input type="checkbox" ng-click="groupArray(effect.groups, 'default')" ng-checked="groupCheckboxer(effect.groups,'default')" aria-label="..." >
            <div class="control__indicator"></div>
          </label>
          <label ng-repeat="group in viewerGroups" class="control-fb control--checkbox">{{group}}
            <input type="checkbox" ng-click="groupArray(effect.groups, group)" ng-checked="groupCheckboxer(effect.groups, group)"  aria-label="..." >
            <div class="control__indicator"></div>
          </label>
        </div>
    </div>
    <div class="effect-info alert alert-warning">
        Don't see the group you want? This is because you haven't made it active yet! Go back to your board and click the cog wheel at the top. Then add your viewer group to one of your scenes.
    </div>
    <div class="effect-setting-container" ng-if="effect.reset === false">
        <div class="effect-specific-title"><h4>Which scene should we change to?</h4></div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="change-scene-to-effect-type">{{effect.scene ? effect.scene : 'Pick one'}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu change-scene-to-effect-dropdown">
                <li ng-repeat="scene in getScenesForSelectedBoard()" ng-click="effect.scene = scene">
                    <a href>{{scene}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="effect-info alert alert-info" ng-hide="effect.reset">
        This button will change the default scene for a group. This means that everyone in that group will get the buttons from whatever scene you select. I recommend a minimum one second cooldown on any buttons using this, otherwise you risk breaking the board.
    </div>
    <div class="effect-info alert alert-info" ng-show="effect.reset">
        This button will reset any groups you choose back to their default scene. This applies to everyone in the group. I recommend a minimum one second cooldown on any buttons using this, otherwise you risk breaking the board.
    </div>
</div>