<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Which buttons should I put on cooldown?</h4></div>
    <div class="cooldown-group-buttons">
        <label ng-repeat="button in boardButtons" class="control-fb control--checkbox">{{button}}
            <input type="checkbox" ng-click="buttonArray(effect.buttons,button)" ng-checked="buttonCheckboxer(effect.buttons,button)">
            <div class="control__indicator"></div>
        </label>
    </div>
    <div class="cooldown-group-button-reset">
        <button ng-click="uncheckAll()" class="btn btn-warning">Uncheck all</button>
    </div>
</div>
<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>How long should these cooldown for?</h4></div>
    <div class="input-group">
        <span class="input-group-addon" id="cooldown-amount-effect-type">Seconds</span>
        <input ng-model="effect.length" type="text" class="form-control" id="cooldown-amount-setting" aria-describedby="cooldown-amount-effect-type" type="number">
    </div>
</div>
<div style="padding-top: 10px;">
    <label class="control-fb control--checkbox"> Never Override Current Cooldown <tooltip text="'If unchecked, current cooldowns will only be overridden if this new cooldown is longer.'"></tooltip>
        <input type="checkbox" ng-model="effect.neverOverride">
        <div class="control__indicator"></div>
    </label>
</div>
<div class="effect-info alert alert-info">
    If you want to cool down a lot of buttons at the same time, give the cooldown groups a try in the board settings (little gear next to board name)!
</div>