<eos-container header="Clip Duration">
    <div class="input-group">
        <span class="input-group-addon">Seconds</span>
        <input ng-model="effect.clipDuration" type="text" class="form-control" type="number">
    </div>
    <p class="muted" style="padding-top: 5px">Clips can be between 15 seconds and 300 seconds (5 minutes). You can also use replace phrases such as <strong>$(arg1)</strong> .</p>
</eos-container>

<eos-container header="Clip Title" pad-top="true">
    <p>The title for the new clip (Leave blank to default to current stream title).</p>
    <input ng-model="effect.clipTitle" type="text" class="form-control" placeholder="Enter text">
    <eos-replace-variables></eos-replace-variables>
</eos-container>

<div style="padding-top:15px">
    <label class="control-fb control--checkbox"> Post clip link in chat
        <input type="checkbox" ng-model="effect.postLink">
        <div class="control__indicator"></div>
    </label>
</div>

<div style="padding-top:15px">
    <label class="control-fb control--checkbox"> Download clip <tooltip text="'You can change which folder clips save to in the Settings tab.'"></tooltip>
        <input type="checkbox" ng-model="effect.download">
        <div class="control__indicator"></div>
    </label>
</div>

<div class="effect-info alert alert-warning">
    Note: You must be live for this effect to work.
</div>