<div class="effect-setting-container">
    <div class="effect-info alert alert-info">
        Place scripts in the <a id="scriptFolderBtn" href="#" ng-click="openScriptsFolder()" style="text-decoration:underline">scripts folder</a> of the Firebot user-settings directory, then refresh the dropdown.
    </div>
    <div class="effect-specific-title"><h4>Which script would you like to use?</h4></div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="script-type">{{effect.scriptName ? effect.scriptName : 'Pick one'}}</span> <span class="caret"></span>
        </button>
        <a ng-click="getNewScripts()" id="refreshScriptList" href="#" style="padding-left:5px;height:100%;"><i class="fa fa-refresh" id="refreshIcon" style="margin-top:10px;" aria-hidden="true"></i></a>
        <ul class="dropdown-menu script-dropdown">
            <li ng-show="scriptArray.length == 0" class="muted">
                <a href>No scripts found.</a>
            </li>
            <li ng-repeat="script in scriptArray" ng-click="selectScript(script)">
                <a href>{{script}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="effect-setting-container" ng-show="effect.scriptName != null">
  <div class="effect-specific-title" style="padding-top:10px;"><h4>Script Parameters</h4></div>
  <div ng-show="isLoadingParameters">
    Loading parameters...
  </div>
  <div ng-hide="isLoadingParameters">
    <span ng-hide="scriptHasParameters()" class="muted">Script has no parameters.</span>
    <div ng-show="scriptHasParameters()">
      <script-parameter-option ng-repeat="(parameterName, parameterMetadata) in effect.parameters" name="parameterName" metadata="parameterMetadata"></script-parameter-option>
    </div>
  </div>
</div>

<div class="effect-info alert alert-danger">
  <strong>Warning:</strong> Only use scripts from sources you absolutely trust!
</div>
