<p>All effects in the below list will be treated as one effect. This is useful in the Random Effect effect.</p>

<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Effect List</h4></div>
    <div class="effect-setting-content">
        <div ng-if="effect.effectList == null || effect.effectList.length < 1" class="muted">No effects added.</div>
        <div ng-repeat="randEffect in effect.effectList">{{randEffect.type}}</div>
        <button class="btn-sm btn-primary" style="margin-top: 10px;" ng-click="showEditEffectListModal()">Edit Effect List</button>
    </div>
</div>