<eos-container header="Key To Press">
    <div class="input-group game-press">
        <span class="input-group-addon" id="button-press-effect-type">Press</span>
        <input type="text" ng-model="effect.press" uib-typeahead="control for control in validControls | filter:$viewValue | limitTo:8" class="form-control" id="game-control-press-setting" aria-describedby="button-press-effect-type">
    </div>
</eos-container>

<eos-container header="Modifiers" pad-top="true">
    <div class="button-press-modifier-effect-type" style="padding-left: 15px;">
        <label ng-repeat="modifier in validModifiers" class="control-fb control--checkbox">{{modifier}}
            <input type="checkbox" ng-click="modifierArray(effect.modifiers,modifier)" ng-checked="modifierCheckboxer(effect.modifiers,modifier)"  aria-label="..." >
            <div class="control__indicator"></div>
        </label>
    </div>
</eos-container>

<eos-container header="Opposite Key" pad-top="true">
    <p>Use when this key is meant to control movement in a game. IE if "W" is forward, "S" might be the opposite. If more people are pressing "W", then that will be used. If more are pressing "S", then that is used. This ensures movement doesn't get completely locked.</p>
    <div class="input-group game-opposite">
        <span class="input-group-addon" id="opposite-button-effect-type">Opposite</span>
        <input type="text" ng-model="effect.opposite" uib-typeahead="control for control in validControls | filter:$viewValue | limitTo:8" class="form-control" id="game-control-opposite-setting" aria-describedby="opposite-button-effect-type">
    </div>
</eos-container>

<eos-container header="Hold Key" pad-top="true">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="holding-button-effect-type">{{effect.holding ? effect.holding : 'No'}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu holding-button-effect-dropdown">
            <li ng-click="effect.holding = 'No'"><a href>No</a></li>
            <li ng-click="effect.holding = 'Yes'"><a href>Yes</a></li>
        </ul>
    </div>
    <p style="padding-top:5px;"><strong>Yes</strong>: The key will be held as long as the button is pressed on Mixer by one or more viewers.<br><br><strong>No</strong>: A "press and release" will be simulated for the key, regardless of how long the button is held by viewers.</p>
</eos-container>

<eos-container>
    <div class="effect-info alert alert-info">
        Game controls do not work in every game or with every program. These are emulated controls. If the controls aren't working on your game or app try changing the emulator in the app settings.
    </div>
</eos-container>

