<eos-container header="HTML">
    <textarea ng-model="effect.html" class="form-control" id="html-effect-html-field" name="text" placeholder="Input your HTML" rows="5" cols="40"></textarea>
</eos-container>
<eos-replace-variables></eos-replace-variables>

<eos-container header="Show Duration">
    <div class="input-group">
        <span class="input-group-addon" id="html-length-effect-type">Seconds</span>
        <input ng-model="effect.length" type="text" class="form-control" id="html-length-setting" aria-describedby="html-length-effect-type" type="number">
    </div>
</eos-container>

<eos-collapsable-panel show-label="Advanced" hide-label="Hide Advanced">
    <h4>Custom Removal CSS Selector</h4>
    <p style="margin-bottom:10px">Optionally define which element(s) to be removed after the given duration via a CSS class as a selector. Leave blank to have Firebot always remove all the html above (Recommended).</p>
    <div class="input-group">
        <span class="input-group-addon" id="html-selector-effect-type">CSS Class</span>
        <input ng-model="effect.removal" type="text" class="form-control" aria-describedby="html-selector-effect-type">
    </div>
</eos-collapsable-panel>

<eos-enter-exit-animations effect="effect" limit-to="Exit"></eos-enter-exit-animations>

<eos-overlay-instance effect="effect"></eos-overlay-instance>

<div class="effect-info alert alert-warning">
    This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal()" style="text-decoration:underline">Learn more</a>
    <br /><br />
    Please be aware that this effect is <i>extremely</i> prone to errors due to it's open-ended nature.
</div>