<div class="effect-specific-title"><h4>What sound should I play?</h4></div>
<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default play-sound-effect-chooser" type="button" ng-click="openFileExporer()">Choose</button>
    </span>
    <input type="text" class="form-control play-sound-effect-input" ng-model="effect.file">
</div>

<div class="effect-specific-title"><h4>How loud should it be?</h4></div>
<div class="input-group">
    <span class="input-group-addon" id="volume-effect-type">1-10</span>
    <input type="text" class="form-control" ng-model="effect.volume" aria-describedby="volume-effect-type" type="number" min="1" max="10">
</div>
<div class="effect-info">
    FYI, sounds are played through the Firebot app itself and not the overlay file.
</div>