<div class="effect-specific-title"><h4>What sound should I play?</h4></div>
<file-chooser model="effect.file" options="{ filters: [ {name: 'Audio', extensions: ['mp3', 'ogg', 'wav', 'flac']} ]}"></file-chooser>

<div class="effect-specific-title"><h4>How loud should it be?</h4></div>
<div class="volume-slider-wrapper">
    <i class="fal fa-volume-down volume-low"></i>
    <rzslider rz-slider-model="effect.volume" rz-slider-options="{floor: 1, ceil: 10, hideLimitLabels: true}"></rzslider>
    <i class="fal fa-volume-up volume-high"></i>
</div>

<eos-audio-output-device effect="effect"></eos-audio-output-device>

<eos-overlay-instance ng-if="effect.audioOutputDevice && effect.audioOutputDevice.deviceId === 'overlay'" 
    effect="effect" class="setting-padtop"></eos-overlay-instance>