<div class="effect-specific-title"><h4>What sound should I play?</h4></div>
<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default play-sound-effect-chooser" type="button" ng-click="openFileExporer()">Choose</button>
    </span>
    <input type="text" class="form-control play-sound-effect-input" ng-model="effect.file">
</div>

<div class="effect-specific-title"><h4>How loud should it be?</h4></div>
<div class="volume-slider-wrapper">
    <i class="fal fa-volume-down volume-low"></i>
    <rzslider rz-slider-model="effect.volume" rz-slider-options="{floor: 1, ceil: 10, hideLimitLabels: true}"></rzslider>
    <i class="fal fa-volume-up volume-high"></i>
</div>
<div class="effect-info">
    Note: sounds are played through the Firebot app itself and not the overlay file.
</div>