<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Shoutout</h4></div>
    <div class="effect-setting-content">
        <div class="input-group">
            <span class="input-group-addon">Shoutout Text</span>
            <input 
              type="text" 
              class="form-control" 
              aria-describedby="shoutout-text-effect-type" 
              ng-model="effect.text">
        </div>
    </div>
</div>
<div class="effect-info alert alert-info">
    <h4>Text Variables</h4>
    <ul>
        <li><b>$(user)</b> - Replaced by the name of the person running the button or using the command.</li>
        <li><b>$(text)</b> - Replaced by the interactive button text or the chat command ID.</li>
        <li><b>$(cost)</b> - Replaced by the cost of the command or button.</li>
        <li><b>$(cooldown)</b> - Replaced by the cooldown of the command or button.</li>
    </ul>
</div>
<div class="effect-setting-container setting-padtop">
    <div class="input-group">
        <span class="input-group-addon">Color</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describedby="shoutout-text-effect-type" 
          ng-model="effect.color"
          placeholder="#CCCCCC"
          >
    </div>
    <div class="input-group">
        <span class="input-group-addon">Font Size</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describedby="shoutout-text-effect-type" 
          ng-model="effect.size"
          placeholder="20px"
          >
    </div>
</div>
<eos-overlay-position effect="effect" class="setting-padtop"></eos-overlay-position>
<eos-enter-exit-animations effect="effect" class="setting-padtop"></eos-enter-exit-animations>
<div class="effect-setting-container setting-padtop">
    <div class="effect-specific-title"><h4>Dimensions</h4></div>
    <div class="effect-setting-content">
        <div class="input-group">
            <span class="input-group-addon">Width</span>
            <input 
              type="number"
              class="form-control" 
              aria-describeby="shoutout-width-setting-type"
              ng-model="effect.width"
              placeholder="px">
            <span class="input-group-addon">Height</span>
            <input 
              type="number"
              class="form-control" 
              aria-describeby="shoutout-height-setting-type"
              ng-model="effect.height"
              placeholder="px">
        </div>
    </div>
</div>
<div class="effect-setting-container setting-padtop">
    <div class="effect-specific-title"><h4>Duration</h4></div>
    <div class="effect-setting-content">
        <div class="input-group">
            <span class="input-group-addon">Seconds</span>
            <input 
              type="number"
              class="form-control" 
              aria-describedby="shoutout-length-effect-type" 
              ng-model="effect.length">
        </div>
    </div>
</div>
<eos-overlay-instance effect="effect" class="setting-padtop"></eos-overlay-instance>
<div class="effect-info alert alert-warning">
    This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal()" style="text-decoration:underline">Learn more</a>
</div>