<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>Which image should I show?</h4></div>
    <div class="input-group">
        <span class="input-group-btn">
        <button 
          class="btn btn-default show-image-effect-chooser" 
          type="button"
          ng-click="openFileExporer()">Choose</button>
        </span>
        <input type="text" class="form-control show-image-effect-input" ng-model="effect.file">
    </div>
</div>
<eos-overlay-position effect="effect"></eos-overlay-position>
<eos-enter-exit-animations effect="effect"></eos-enter-exit-animations>
<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>How big should it be?</h4></div>
    <div class="input-group">
        <span class="input-group-addon">Width (in pixels)</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describeby="image-width-setting-type" 
          type="number"
          ng-model="effect.width">
        <span class="input-group-addon">Height (in pixels)</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describeby="image-height-setting-type" 
          type="number"
          ng-model="effect.height">
    </div>
    <div class="effect-info alert alert-info">
        Just put numbers in the fields (ex: 250). This will set the max width/height of the image and scale it down proportionally.
    </div>
</div>
<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>How long should it show?</h4></div>
    <div class="input-group">
        <span class="input-group-addon">Seconds</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describedby="image-length-effect-type" 
          type="number"
          ng-model="effect.length">
    </div>
</div>
<eos-overlay-instance effect="effect"></eos-overlay-instance>
<div class="effect-info alert alert-warning">
    This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal()" style="text-decoration:underline">Learn more</a>
</div>