<div class="effect-setting-container">
    <div class="effect-specific-title"><h4>What type of video do you want to display?</h4></div>
    <div class="btn-group" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="change-scene-type-effect-type">{{effect.videoType ? effect.videoType : "Pick one"}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="effect.reset = false">
                <a ng-click="setVideoType('Local Video')" href>Local Video</a>
            </li>
            <li ng-click="effect.reset = true">
                <a ng-click="setVideoType('YouTube Video')" href>YouTube Video</a>
            </li>
        </ul>
    </div>
    <div ng-show="effect.videoType == 'Local Video'" class="input-group">
        <span class="input-group-btn">
        <button 
          class="btn btn-default show-video-effect-chooser" 
          type="button"
          ng-click="openFileExporer()">Choose File</button>
        </span>
        <input type="text" class="form-control show-video-effect-input" ng-model="effect.file">
    </div>
    <div ng-show="effect.videoType == 'YouTube Video'" class="input-group">
        <span class="input-group-addon">YouTube ID</span>
        <input 
          type="text" 
          class="form-control" 
          aria-describeby="video-youtube-setting-type" 
          type="text"
          ng-model="effect.youtube"
          placeholder="Ex: AAYrZ69XA8c">
    </div>
</div>
<div ng-show="effect.videoType">
  <eos-overlay-position effect="effect"></eos-overlay-position>
  <div class="effect-setting-container">
      <div class="effect-specific-title">
        <h4 style="display:inline-block;margin-right:20px;">How big should it be?</h4>
        <label class="control-fb control--checkbox" style="display:inline;"> Force 16:9 Ratio
          <input type="checkbox" ng-click="forceRatioToggle();" ng-checked="forceRatio">
          <div class="control__indicator"></div>
        </label>
      </div>
      <div class="input-group">
          <span class="input-group-addon">Width (in pixels)</span>
          <input 
            type="text" 
            class="form-control" 
            aria-describeby="video-width-setting-type" 
            type="number"
            ng-change="calculateSize('Width', effect.width)"
            ng-model="effect.width">
          <span class="input-group-addon">Height (in pixels)</span>
          <input 
            type="text" 
            class="form-control" 
            aria-describeby="video-height-setting-type" 
            type="number"
            ng-change="calculateSize('Height', effect.height)"
            ng-model="effect.height">
      </div>
      <div class="effect-info alert alert-info">
          Just put numbers in the fields (ex: 250). This will set the max width/height of the video and scale it down proportionally.
      </div>
  </div>
  <eos-enter-exit-animations effect="effect"></eos-enter-exit-animations>
  <div class="effect-setting-container">
        <div ng-show="effect.videoType == 'YouTube Video'">
            <div class="effect-specific-title"><h4>Start position in video?</h4></div>
            <div class="input-group">
                <span class="input-group-addon">Start time location</span>
                <input 
                  type="text" 
                  class="form-control" 
                  aria-describeby="video-youtube-time-setting" 
                  type="text"
                  ng-model="effect.starttime"
                  placeholder="Ex: 12">
            </div>
        </div>
      <div class="effect-specific-title"><h4>How long should it show?</h4></div>
      <div class="input-group">
          <span class="input-group-addon">Seconds</span>
          <input 
            type="text" 
            class="form-control" 
            aria-describedby="video-length-effect-type" 
            type="number"
            ng-model="effect.length">
      </div>
  </div>
  <div class="effect-specific-title"><h4>How loud should it be?</h4></div>
  <div class="volume-slider-wrapper">
      <i class="fal fa-volume-down volume-low"></i>
      <rzslider rz-slider-model="effect.volume" rz-slider-options="{floor: 1, ceil: 10, hideLimitLabels: true}"></rzslider>
      <i class="fal fa-volume-up volume-high"></i>
  </div>
  <eos-overlay-instance effect="effect"></eos-overlay-instance>
  <div class="effect-info alert alert-warning">
      This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal(effect.overlayInstance)" style="text-decoration:underline">Learn more</a>
  </div>
</div>
