
<eos-container header="File">
    <file-chooser model="effect.filepath" options="{ filters: [ {name:'Text',extensions:['txt']} ]}"></file-chooser>
</eos-container>

<eos-container header="Text" pad-top="true">
    <input ng-model="effect.text" type="text" class="form-control" id="chat-text-setting" placeholder="Enter text">
    <eos-replace-variables></eos-replace-variables>
</eos-container>

<eos-container header="Write Mode">
    <div class="controls-fb-inline" style="padding-bottom: 5px;">
        <label class="control-fb control--radio">Replace
            <input type="radio" ng-model="effect.writeMode" value="replace"/> 
            <div class="control__indicator"></div>
        </label>
        <label class="control-fb control--radio">Append
            <input type="radio" ng-model="effect.writeMode" value="append"/>
            <div class="control__indicator"></div>
        </label>
    </div>
</eos-container>
