<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="$ctrl.dismiss()">&times;</span></button>
    <h4 class="modal-title" id="newCooldownGroupLabel">{{$ctrl.isNewTimer ? 'Add New Timer' : 'Edit Timer - ' + $ctrl.timer.name}}</h4>
</div>
<div class="modal-body">
    <div class="general-button-settings">
        <div class="settings-title">
            <h3>General Settings</h3>
        </div>
        <div class="input-group settings-commandGroup-groupName">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" ng-model="$ctrl.timer.name">
        </div>
        <div class="input-group settings-commandGroup-timer">
            <span class="input-group-addon">Interval(secs)</span>
            <input type="number" class="form-control" ng-model="$ctrl.timer.interval" placeholder="Seconds">
        </div>
        <div class="controls-fb-inline">
            <label class="control-fb control--checkbox" ng-hide="$ctrl.isNewTimer"> Active
                <input type="checkbox" ng-model="$ctrl.timer.active" aria-label="...">
                <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--checkbox">Only Run When Live <tooltip text="'Uncheck this if you want this timer to run effects even when you aren\'t live.'"></tooltip>
                <input type="checkbox" ng-model="$ctrl.timer.onlyWhenLive" aria-label="...">
                <div class="control__indicator"></div>
            </label>
         </div>
    </div>

    <div class="function-button-settings" style="margin-top: 15px;">
        <effect-list header="What should this timer do?" effects="$ctrl.timer.effects" trigger="timer" trigger-meta="$ctrl.triggerMeta" update="$ctrl.effectListUpdated(effects)" modalId="{{$ctrl.modalId}}"></effect-list>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-click="$ctrl.delete()">Delete</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
</div>