<firebot-item-table
    items="effectQueuesService.effectQueues"
    on-items-update="onEffectQueuesUpdated(items)"
    headers="headers"
    sort-tag-context="effect queues"
    orderable="true"
    add-new-button-text="New Effect Queue"
    on-add-new-clicked="effectQueuesService.showAddEditEffectQueueModal()"
    context-menu-options="effectQueueOptions(item)"
    no-data-message="No effect queues saved. You should make one! :)"
    none-found-message="No effect queues found."
    search-placeholder="Search effect queues"
    status-field="active"
>
    <fb-item-table-toolbar>
      <firebot-button type="default" text="Open Monitor" ng-click="openEffectQueueMonitor()" />
    </fb-item-table-toolbar>
  </firebot-item-table>
</firebot-item-table>