<firebot-item-table
    items="gameControllerService.bindings"
    on-items-update="onBindingsUpdated(items)"
    headers="headers"
    sort-tag-context="game-controller-bindings"
    orderable="true"
    add-new-button-text="New Binding"
    on-add-new-clicked="gameControllerService.showAddEditBindingModal()"
    context-menu-options="bindingOptions(item)"
    no-data-message="No game controller bindings saved. Connect a controller and add one!"
    none-found-message="No bindings found."
    search-placeholder="Search bindings"
    status-field="active"
></firebot-item-table>
