<firebot-item-table
    items="hotkeyService.hotkeys"
    on-items-update="onHotkeysUpdated(items)"
    headers="headers"
    sort-tag-context="hotkeys"
    orderable="true"
    add-new-button-text="New Hotkey"
    on-add-new-clicked="hotkeyService.showAddEditHotkeyModal()"
    context-menu-options="hotkeyOptions(item)"
    no-data-message="No hotkeys saved. You should make one! :)"
    none-found-message="No hotkeys found."
    search-placeholder="Search hotkeys"
    status-field="active"
></firebot-item-table>