<div class="p-6 mx-0">
    <button class="btn btn-primary" ng-click="openAddOrEditHotkeyModal()"><i class="fas fa-plus-circle" class="mr-2"></i> New Hotkey</button>
</div>


<div class="p-6" style="display: flex;flex-wrap: wrap;">
    <div ng-repeat="hotkey in getHotkeys() track by $index" class="fb-tile mint centered mr-4" ng-class="{'inactive' : !hotkey.active}" style="flex: 0 0 auto;width:250px;height:150px;">
        <div class="edit-btn" ng-click="openAddOrEditHotkeyModal(hotkey)"></div>
        <div class="header">
            <div class="title edit-btn-spacer">
                {{hotkey.name}}
            </div>
        </div>
        <div class="content row">
        <div class="detail-wrapper nomargin">
            <div class="detail" style="font-size: 1.6em;">
            {{getDisplayForCode(hotkey.code)}}
            </div>
            <div class="detail-description"></div>
        </div>
        </div>
    </div>
    <div ng-if="getHotkeys().length < 1" class="noselect muted pl-5">
        <span class="hvr-bob"><i class="fas fa-arrow-up"></i></span><span class="ml-3">No hotkeys saved. You should make one! :) </span>
    </div>
</div>