<div style="min-width: 500px;">
    <div class="p-6">
      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="font-semibold text-3xl">Exempt Roles <tooltip text="'These roles are exempt from all Moderation features.'" /></div>

          <div class="mt-6">
            <exempt-roles model="cms.chatModerationData.settings.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.bannedWordList.enabled }">Banned Word List</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.bannedWordList.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
                accessibility-label="cms.chatModerationData.settings.bannedWordList.enabled ? 'Disable Banned Word List' : 'Enable Banned Word List'"
              />
            </div>
          </div>
          <div class="mt-6" ng-show="cms.chatModerationData.settings.bannedWordList.enabled">
            <div class="my-8">
              <div class="mb-4 font text-2xl font-semibold">
                Exempt Roles <tooltip text="'These roles are exempt from the banned words list.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.bannedWordList.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <button ng-click="showEditBannedWordsModal()" class="btn btn-default">Edit Word List</button>
          </div>
          <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.bannedWordList.enabled"
            >
            <div class="muted">The chat message shown when a message contains a banned word or regex (leave empty for no message).</div>
              <div class="muted mb-4 font-extrabold">
                Variables: {userName}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="Enter text"
                model="cms.chatModerationData.settings.bannedWordList.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.emoteLimit.enabled }">Emote/Emoji Limit</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.emoteLimit.enabled"
                auto-update-value="true"
                on-toggle="cms.saveChatModerationSettings()"
                font-size="40"
                accessibility-label="cms.chatModerationData.settings.emoteLimit.enabled ? 'Disable Emote/Emoji Limit' : 'Enable Emote/Emoji Limit'"
              />
            </div>
          </div>

          <div class="mt-6" ng-show="cms.chatModerationData.settings.emoteLimit.enabled">
            <div class="my-8">
              <div class="mb-4 font text-2xl font-semibold">
                Exempt Roles <tooltip text="'These roles are exempt from the emote/emoji limit.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.emoteLimit.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <firebot-input
              input-title="Max Per Message"
              placeholder-text="Enter number"
              input-type="number"
              disable-variables="true"
              model="cms.chatModerationData.settings.emoteLimit.max"
              on-input-update="cms.saveChatModerationSettings()"
            />
            <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.emoteLimit.enabled"
            >
            <div class="muted">The chat message shown when a message exceeds the emote/emoji limit (leave empty for no message).</div>
              <div class="muted mb-4 font-extrabold">
                Variables: {userName}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="Enter text"
                model="cms.chatModerationData.settings.emoteLimit.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="content-block moderation-feature-block">
        <div class="content-block-body">
          <div class="title-toggle-button-container">
            <div class="font-semibold text-3xl" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.enabled }">URL Moderation</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.enabled"
                on-toggle="toggleUrlModerationFeature()"
                font-size="40"
                accessibility-label="cms.chatModerationData.settings.urlModeration.enabled ? 'Disable URL Moderation' : 'Enable URL Moderation'"
              />
            </div>
          </div>
          <div class="muted mb-6">
            A !permit command is automatically added to System Commands.
          </div>
          <div style="display: block;width: 100%;" class="my-8" ng-show="cms.chatModerationData.settings.urlModeration.enabled">
            <div class="my-8">
              <div class="mb-4 text-2xl font-semibold">
                Exempt Roles <tooltip text="'These roles are exempt from URL moderation.'" />
              </div>
              <exempt-roles model="cms.chatModerationData.settings.urlModeration.exemptRoles" on-update="cms.saveChatModerationSettings()"></exempt-roles>
            </div>
            <button ng-click="showEditUrlAllowlistModal()" class="btn btn-default">Edit URL Allowlist</button>
            <button ng-click="showEditUserAllowlistModal()" class="btn btn-default">Edit User Allowlist</button>
          </div>
          <div
            class="title-toggle-button-container my-8"
            ng-show="cms.chatModerationData.settings.urlModeration.enabled"
          >
            <div class="font-semibold text-2xl" ng-class="{ muted: !cms.chatModerationData.settings.urlModeration.viewTime.enabled }">View Time</div>
            <div class="toggle-button-container">
              <toggle-button
                toggle-model="cms.chatModerationData.settings.urlModeration.viewTime.enabled"
                on-toggle="cms.saveChatModerationSettings()"
                auto-update-value="true"
                font-size="32"
                accessibility-label="cms.chatModerationData.settings.urlModeration.viewTime.enabled ? 'Disable View Time Exceptions' : 'Enable View Time Exceptions'"
                />
            </div>
            <div
              style="width: 100%;"
              class="mt-6"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled && cms.chatModerationData.settings.urlModeration.viewTime.enabled"
            >
              <div class="muted mb-4 ml-6">All viewers with a higher view time will be exempt from URL moderation.</div>
              <firebot-input
                input-title="View time in hours"
                placeholder-text="Enter amount of hours"
                input-type="number"
                disable-variables="true"
                model="cms.chatModerationData.settings.urlModeration.viewTime.viewTimeInHours"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
          <div
              style="width: 100%;"
              class="mt-8"
              ng-show="cms.chatModerationData.settings.urlModeration.enabled"
            >
            <div class="muted">The chat message shown when a message containing a URL is moderated (leave empty for no message).</div>
              <div class="muted mb-4 font-extrabold">
                Variables: {userName}<span ng-show="cms.chatModerationData.settings.urlModeration.viewTime.enabled">, {viewTime}</span>
              </div>
              <firebot-input
                input-type="string"
                disable-variables="true"
                use-text-area="true"
                placeholder-text="Enter text"
                model="cms.chatModerationData.settings.urlModeration.outputMessage"
                on-input-update="cms.saveChatModerationSettings()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
