<div class="settings-page">
  <div class="settings-category-container">
    <div
      ng-repeat="category in categories"
      ng-click="setSelectedCategory(category)"
      class="settings-category"
      ng-class="{ 'cat-selected': selectedCategory.name === category.name }"
    >
      <div>
        <i class="fal settings-category-icon" ng-class="category.icon"></i>
      </div>
      <div>
        <div style="font-weight: 600;">
          {{category.name}}
        </div>
        <div style="opacity: 0.7;">
          {{category.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="settings-category-content">
    <h1 class="settings-category-title">{{selectedCategory.name}}</h1>
    <div class="settings-category-select">

      <ui-select
        ng-model="selectedCategory"
        on-select="setSelectedCategory($item, $model)"
        theme="bootstrap"
        search-enabled="false"
      >
        <ui-select-match>
          <div>
            {{$select.selected.name}}
          </div>
        </ui-select-match>
        <ui-select-choices repeat="category in categories | filter: { name: $select.search }" style="position:relative;">
          <div
            class="settings-category py-4 px-0"
            style="border-bottom: none;"
          >
            <div>
              <i class="fal settings-category-icon" ng-class="category.icon"></i>
            </div>
            <div>
              <div style="font-weight: 600;">
                {{category.name}}
              </div>
              <div style="opacity: 0.7;">
                {{category.description}}
              </div>
            </div>
          </div>
        </ui-select-choices>
      </ui-select>

    </div>
    <settings-category-content template="selectedCategory.template" />
  </div>
</div>

<!-- View Backups Modal -->
<script type="text/ng-template" id="backupListModal.html">
  <div class="modal-header flex-row-center jspacebetween">
    <h4 class="modal-title" style="display:inline;">Manage Backups</h4>
  </div>
  <div class="modal-body pb-0" style="overflow-y: auto;max-height: 300px;">
    <div class="list-group mb-0">
      <div class="list-group-item flex-row-center jspacebetween" ng-repeat="backup in backups track by $index">
        <div>
            <h4 class="list-group-item-heading" tooltip-append-to-body="true" uib-tooltip="{{backup.backupDateFull}}">{{backup.dayDifference < 1 ? backup.fromNowDisplay : backup.backupDateDisplay}}</h4>
            <p class="list-group-item-text muted">{{backup.size + " KB"}} | {{backup.version}} {{backup.isManual ? "| Manual" : ""}}
        </div>
        <div style="font-size:17px">
          <span aria-label="Prevent Auto-Deletion" uib-tooltip="Prevent Auto-Deletion" tooltip-append-to-body="true" class="mr-6" style="color:#4379f9;" ng-class="{'muted clickable-dark': !backup.neverDelete, 'clickable': backup.neverDelete}" ng-click="togglePreventDeletion(backup)"><i ng-class="{'far fa-unlock': !backup.neverDelete, 'fas fa-lock': backup.neverDelete}"></i></span>
          <span aria-label="Restore Backup" uib-tooltip="Restore Backup" tooltip-append-to-body="true" class="clickable mr-6" ng-click="restoreBackup(backup)"><i class="fal fa-undo-alt"></i></span>
          <span aria-label="Delete Backup" uib-tooltip="Delete Backup" tooltip-append-to-body="true" class="clickable" style="color:red;" ng-click="deleteBackup($index,backup)"><i class="fal fa-trash-alt"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default pull-left" ng-click="openBackupFolder()">Open Backups Folder</button>
      <button class="btn btn-primary" ng-click="dismiss()">Close</button>
  </div>
</script>
