<firebot-tabs ng-init="$ctrl.activeTab = 'timers'" active="$ctrl.activeTab" type="underlined" page-tabs="true">
  <firebot-tab name="timers" label="Timers">
    <firebot-item-table
      items="timerService.timers"
      on-items-update="onTimersUpdated(items)"
      headers="timerHeaders"
      sort-tag-context="timers"
      orderable="true"
      add-new-button-text="New Timer"
      on-add-new-clicked="timerService.showAddEditTimerModal()"
      context-menu-options="timerOptions(item)"
      no-data-message="No timers saved. You should make one! :)"
      none-found-message="No timers found."
      search-placeholder="Search timers"
      test-button="false"
      status-field="active"
    ></firebot-item-table>
  </firebot-tab>
  <firebot-tab name="scheduled" label="Scheduled Effect Lists">
    <firebot-item-table
      items="scheduledTaskService.scheduledTasks"
      on-items-update="onScheduledTasksUpdated(items)"
      headers="scheduledTaskHeaders"
      sort-tag-context="scheduled effect lists"
      orderable="true"
      add-new-button-text="New Scheduled Effect List"
      on-add-new-clicked="scheduledTaskService.showAddEditScheduledTaskModal()"
      context-menu-options="scheduledTaskOptions(item)"
      no-data-message="No scheduled effect lists saved. You should make one! :)"
      none-found-message="No scheduled effect lists found."
      search-placeholder="Search scheduled effect lists"
      test-button="false"
      status-field="enabled"
    ></firebot-item-table>
  </firebot-tab>
</firebot-tabs>