<div class="content-block info-page">
  <div class="content-block-body">
    <div class="page-content" style="min-height: 600px;">
        
        <div ng-if="getUpdateData() != null">

            <div ng-if="us.majorUpdate != null">
                <div class="update-alert alert alert-info" style="display: inline-block;">
                    <p><i class="fas fa-birthday-cake"></i> Great news! A major update ({{us.majorUpdate.gitVersion}}) is available! Check out the update notes to view all the new features and changes. <a class="github-link" href ng-click="openLinkExternally(release.gitLink)"><button class="btn btn-primary">View update</button></a></p>
                </div>
            </div>

            <div ng-if="us.majorUpdate == null && !getUpdateData().updateIsAvailable" class="update-alert alert alert-info" style="display: inline-block;">
                <p><i class="fas fa-check-circle"></i> Firebot is up-to-date.</p>
            </div>
          
            <div class="update-alert alert alert-warning" style="display: inline-block;" ng-if="getUpdateData().updateIsAvailable">
                <p>Hey! It looks like there was an update released!</p>
            </div>
            
            <div class="latest-update" style="font-size:30px;font-weight:200;">
                {{getUpdateData().gitName}}
            </div>
            <div class="release-date" style="font-weight:600;">
                {{getUpdateData().gitDate | date: 'medium'}}
            </div>
            <div class="update-notes" ng-bind-html="getUpdateData().gitNotes"></div>
            <div class="update-buttons">
                <a class="github-link" href><button class="btn btn-primary" ng-if="getUpdateData().updateIsAvailable" ng-click="downloadAndInstallUpdate()">Update</button></a>    
                <a href ng-click="openLinkExternally('https://github.com/crowbartools/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3ABug')"><button class="btn btn-danger">Report Bugs</button></a>
                <a href ng-click="openLinkExternally('https://github.com/crowbartools/Firebot/issues?q=is%3Aopen+is%3Aissue+label%3AEnhancement')"><button class="btn btn-info">Suggest Features</button></a>
            </div>

        </div>
        
        <div ng-if="getUpdateData() == null">
            <div class="update-alert alert alert-info" style="display: inline-block;">
                <p>Release data unavailable.</p>
            </div>
        </div>
    </div>
  </div>
</div>