<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</span></button>
    <h4 class="modal-title">
        {{$ctrl.isNewHotkey ? 'Add New Hotkey' : 'Edit Hotkey' }}
    </h4>
</div>
<div class="modal-body">
    <div class="function-button-settings">
        <div class="controls-fb-inline" ng-if="!$ctrl.isNewHotkey">
            <label class="control-fb control--checkbox">Is Active
                <input type="checkbox" ng-model="$ctrl.hotkey.active">
                <div class="control__indicator"></div>
            </label>
        </div>

        <h3>Name</h3>
        <input type="text" class="form-control" ng-model="$ctrl.hotkey.name">

        <h3 style="margin-top:20px;">Hotkey</h3>
        <hotkey-capture on-capture="$ctrl.onHotkeyCapture(hotkey)" hotkey="$ctrl.hotkey.code"></hotkey-capture>
        
        <h3 style="margin-top:20px;">Action</h3>
        <dropdown-select options="['Run Button', 'Run Command', 'Run Effects']" selected="$ctrl.hotkey.action.type"></dropdown-select>

        <div style="margin-top:20px;" ng-if="$ctrl.hotkey.action.type === 'Run Effects'">
            <effect-list header="Effect List" effects="$ctrl.hotkey.action.metadata.effects" trigger="hotkey" update="$ctrl.effectListUpdated(effects)" is-array="true"></effect-list>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-show="!$ctrl.isNewHotkey" ng-click="$ctrl.delete()">Delete Hotkey</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
</div>