<!-- Events Tab View-->
<div style="min-width: 500px; height: 100%">
  <div style="height: 100%; display: flex; flex-direction: column">
    <div id="testDivFb" class="flex-row" style="height: 100%">
      <div class="editior-column pt-6" style="flex-shrink: 0">
        <div
          class="flex-row-center jspacebetween scene-row"
          style="flex-shrink: 0"
          ng-class="{'selected': es.tabIsSelected('mainevents')}"
          ng-click="es.setSelectedTab('mainevents')"
        >
          <div class="flex-row-center" style="height: 100%">
            <div
              class="selected-scene-icon"
              ng-class="{'transparent': !es.tabIsSelected('mainevents')}"
            ></div>
            <div>
              General Events
              <tooltip
                text="'A collection of events that are always active, regardless of which event sets are active.'"
              ></tooltip>
            </div>
          </div>
          <div class="flex-row-center jspacebetween">
            <span
              class="status-dot active"
              uib-tooltip="Main events are always active."
              tooltip-append-to-body="true"
            ></span>
            <div
              uib-dropdown
              uib-dropdown-toggle
              dropdown-append-to-body="true"
              class="clickable"
              ng-click="$event.stopPropagation()"
              style="
                font-size: 21px;
                height: 20px;
                width: 36px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <span class="noselect pointer"
                ><i class="fal fa-ellipsis-v"></i
              ></span>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-click="copyEvents('mainevents')">
                  <a href
                    ><i class="far fa-copy mr-4"></i> Copy
                    events</a
                  >
                </li>
                <li
                  ng-class="{'disabled': !hasCopiedEvents()}"
                  ng-click="pasteEvents('mainevents')"
                  ng-disabled="!hasCopiedEvents()"
                >
                  <a href
                    ><i class="far fa-paste mr-4"></i>
                    Paste event(s)</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
        class="mt-6 mb-4 mx-0"
          style="
            height: 2px;
            background: #3e3f40;
            flex-shrink: 0;
          "
        ></div>

        <div
          class="modal-subheader flex-row-center jspacebetween"
          style="flex-shrink: 0"
        >
          <span
            >Event Sets
            <tooltip
              text="'Event Sets allow you to create different sets of events (ie for specific games or holiday themes) and selectively activate them.'"
            ></tooltip
          ></span>
          <div class="clickable" ng-click="showCreateEventGroupModal()">
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>

        <div style="height: 100%; overflow-y: auto">
          <div
            class="muted ml-7"
            ng-if="es.getEventGroups().length < 1"
            style="font-size: 12px"
          >
            No sets created.
          </div>

          <div
            ng-repeat="group in es.getEventGroups() track by group.id"
            class="flex-row-center jspacebetween scene-row"
            ng-class="{'selected': es.tabIsSelected(group.id)}"
            ng-click="es.setSelectedTab(group.id)"
          >
            <div class="flex-row-center" style="height: 100%">
              <div
                class="selected-scene-icon"
                ng-class="{'transparent': !es.tabIsSelected(group.id)}"
              ></div>
              <div class="row-text" style="max-width: 145px">
                {{group.name}}
              </div>
            </div>
            <div class="flex-row-center jspacebetween">
              <span
                ng-if="group.active"
                class="status-dot active"
                uib-tooltip="This event set is active"
                tooltip-append-to-body="true"
              ></span>
              <div
                uib-dropdown
                uib-dropdown-toggle
                dropdown-append-to-body="true"
                class="clickable"
                ng-click="$event.stopPropagation()"
                style="
                  font-size: 21px;
                  height: 20px;
                  width: 36px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <span class="noselect pointer"
                  ><i class="fal fa-ellipsis-v"></i
                ></span>
                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li ng-click="showRenameEventGroupModal(group)">
                    <a href>
                      <i class="far fa-pen mr-4"></i>
                      Rename
                    </a>
                  </li>
                  <li ng-click="es.toggleEventGroupActiveStatus(group.id)">
                    <a href
                      ><i
                        class="fas mr-4"
                        ng-class="{'fa-toggle-on': !group.active, 'fa-toggle-off': group.active}"
                      ></i
                      >{{group.active ? 'Deactivate' : 'Activate'}}</a
                    >
                  </li>
                  <li ng-click="es.duplicateEventGroup(group)">
                    <a href>
                      <i class="far fa-clone mr-4"></i>
                      Duplicate set
                    </a>
                  </li>
                  <li ng-click="showDeleteGroupModal(group)">
                    <a href style="color: #fb7373">
                      <i class="far fa-trash-alt mr-4"></i>
                      Delete set
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li ng-click="copyEvents(group.id)">
                    <a href>
                      <i class="far fa-copy mr-4"></i>
                      Copy events
                    </a>
                  </li>
                  <li
                    ng-class="{'disabled': !hasCopiedEvents()}"
                    ng-click="pasteEvents(group.id)"
                    ng-disabled="!hasCopiedEvents()"
                  >
                    <a href>
                      <i class="far fa-paste mr-4"></i>
                      Paste event(s)
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%; overflow-y: scroll">
        <div>
          <scroll-sentinel element-class="events-sticky"></scroll-sentinel>
          <div class="events-tab-header events-sticky sticky-top">
            <div>
              <button
                ng-click="showAddOrEditEventModal()"
                class="btn btn-primary"
              >
                <i class="fas fa-plus-circle mr-2"></i> New
                Event
              </button>
              <button
                ng-click="simulateEventsByType()"
                class="btn btn-default"
              >
                <i class="fas fa-play-circle ml-2"></i> Simulate
                Event
              </button>
            </div>

            <div
              ng-hide="getSelectedEvents().length < 1"
              style="display: flex; flex-direction: row; align-items: center"
            >
              <sort-tag-dropdown context="events" class="mr-4" />

              <searchbar
                placeholder-text="Search Events"
                query="eventSearch"
                style="flex-basis: 250px"
              ></searchbar>
            </div>
          </div>

          <div class="pt-0 px-8 pb-8">
            <div
              ng-if="getSelectedEvents().length < 1"
              class="noselect muted mt-5 ml-5 mb-0 mr-0"
            >
              <span class="hvr-bob"><i class="fas fa-arrow-up"></i></span>
              <span class="ml-3">No events saved. You should make one! :)</span>
            </div>

            <div
              ng-if="getSelectedEvents().length > 0 && filteredEvents && filteredEvents.length < 1"
              class="noselect muted mt-5 ml-5 mb-0 mr-0"
            >
              <span class="ml-3">No events found.</span>
            </div>

            <table
              class="fb-table"
              ng-hide="getSelectedEvents().length < 1 || (filteredEvents && filteredEvents.length < 1)"
            >
              <thead>
                <tr style="font-size: 11px">
                  <th style="width: 5%"></th>
                  <th class="muted"><i class="fas fa-tag"></i> NAME</th>
                  <th class="muted">
                    <i class="fas fa-exclamation-square"></i> TYPE
                  </th>
                  <th class="muted"><i class="fas fa-tag"></i> SORT TAGS</th>
                  <th style="width: 210px"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="event in (getSelectedEvents() | sortTagSearch:sts.getSelectedSortTag('events') | filter:eventSearch) as filteredEvents track by event.id"
                  context-menu="eventMenuOptions(event)"
                >
                  <td style="text-align: center">
                    <span
                      style="color: #16809c; font-size: 20px"
                      ng-click="fireEventManually(event)"
                      uib-tooltip="Test Effects"
                      tooltip-append-to-body="true"
                    >
                      <i class="fas fa-play-circle clickable"></i>
                    </span>
                  </td>
                  <td>{{event.name ? event.name : "Unnamed"}}</td>
                  <td>
                    {{event.eventId && event.sourceId ?
                    friendlyEventTypeName(event.sourceId, event.eventId) : "No
                    Type"}}
                  </td>
                  <td style="max-width: 135px; min-width: 100px">
                    <sort-tags-row item="event" context="'events'" on-update="eventsService.saveGroup(group); eventsService.saveMainEvents();"></sort-tags-row>
                  </td>
                  <td>
                    <div>
                      <span
                        class="status-dot"
                        ng-class="{'active': getEventActiveStatus(event.active), 'notactive': !getEventActiveStatus(event.active)}"
                      ></span>
                      {{getEventActiveStatusDisplay(event.active)}}
                    </div>
                  </td>
                  <td>
                    <div style="text-align: right; margin-left: auto">
                      <button
                        class="noselect clickable text-5xl"
                        style="background: transparent;border: none;"
                        context-menu="eventMenuOptions(event)"
                        context-menu-on="click"
                        ><i class="fal fa-ellipsis-h"></i
                      ></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
