<div style="margin-bottom: 10px">
  <button class="btn btn-primary" ng-click="showAddEditEventModal()"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> New Event</button>
</div>

<div class="content-block live-events">
  <div class="content-block-body">
    <!-- Events Tab -->
    <div class="row events-container">
      
      <!-- Show each event -->
      <div class="events-cat-wrap" ng-repeat="category in eventsService.getCategories() track by $index">
        <h3 ng-style="{'margin-top': $index === 0 ? '0' : '20px'}">{{category}}</h3>
        <div class = "interactive-group-container">
          <div ng-repeat="event in eventsService.getEvents(category) track by $index" class="fb-tile grapefruit centered" ng-class="{'inactive' : !event.active}">
            <div class="edit-btn" ng-click="showAddEditEventModal(event)"></div>
            <div class="header">
              <div class="title edit-btn-spacer">
                {{event.eventName}}
              </div>
            </div>
            <div class="content row">
              <div class="detail-wrapper nomargin">
                <span ng-if="event.active" class="play-button clickable event-play-button" ng-click="fireEventManually(event.eventType)"><i class="fas fa-play-circle"></i></span>
                <span ng-if="!event.active" class="inactive-event-text">Inactive</span>
                <div class="event-button-details">
                  {{event.effectCount ? event.effectCount : "0"}} Effect(s)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="eventsService.getCategories().length === 0">No events saved yet.</div>
    </div>
  </div>
</div>


<!-- Modal For Adding/Editting Events -->
<script type="text/ng-template" id="addEditEventModal.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editEventLabel">{{isNewEvent ? "Add Event" : "Edit Event"}}</h4>
  </div>
  <div class="modal-body">
    <div class="general-event-settings">
      <div class="settings-title">
        <h3>General Settings</h3>
      </div>

      <div class="effect-setting-container setting-padtop">
        <div class="input-group settings-eventid">
          <span class="input-group-addon" id="basic-addon3">Event Name</span>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty event-id" aria-describedby="basic-addon3" ng-model="event.eventName">
        </div>
      </div>

      <div class="controls-fb-inline effect-setting-container setting-padtop">
          <label class="control-fb control--checkbox">Active Event
              <input type="checkbox" ng-model="event.active" aria-label="..." checked>
              <div class="control__indicator"></div>
          </label>
          <label class="control-fb control--checkbox">Show In Chat Feed <tooltip text="'Whether or not you want to see an alert in the chat feed when this event happens.'"></tooltip>
              <input type="checkbox" ng-model="event.chatFeedAlert" aria-label="...">
              <div class="control__indicator"></div>
          </label>
          <label class="control-fb control--checkbox">Skip Logging
              <input type="checkbox" ng-model="event.skipLog" aria-label="...">
              <div class="control__indicator"></div>
          </label>
      </div>

      <div class="effect-setting-container setting-padtop">
        <div class="effect-specific-title"><h4>Trigger On</h4></div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="event-type">{{selectedEventTypeName}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu event-dropdown">
                <li ng-repeat="eventType in eventDefinitions"
                    ng-click="eventTypeSelected(eventType)">
                    <a href>{{eventType.name}}</a>
                </li>
            </ul>
        </div>
      </div>

    </div>
    <div ng-if="event.eventType != null" class="effect-setting-container setting-padtop">
      <effect-list header="What should this event do?" effects="event.effects" trigger="event" update="effectListUpdated(effects)" modalId="{{modalId}}"></effect-list>      
    </div>
    <div class="modal-footer">
      <button ng-if="!isNewEvent" type="button" class="btn btn-danger delete-event-button pull-left" ng-click="saveChanges(true)">Delete Event</button>
      <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary event-edit-save" ng-click="saveChanges(false)">{{isNewEvent ? "Add Event" : "Save Changes"}}</button>
    </div>
</script>