<!-- Events Tab View-->
<div style="min-width: 500px;height: 100%">

  <div style="height: 100%;display: flex;flex-direction: column;">

    <div id="testDivFb" class="flex-row" style="height: 100%">
      <div class="editior-column" style="padding-top:15px;">

          <div class="flex-row-center jspacebetween scene-row" ng-class="{'selected': groupIsSelected('mainevents')}"  ng-click="setSelectedGroup('mainevents')">
            <div class="flex-row-center" style="height:100%;">
              <div class="selected-scene-icon" ng-class="{'transparent': !groupIsSelected('mainevents')}"></div>
              <div>Main Events <tooltip text="'These events are always active.'"></tooltip></div>
              <!--<div ng-show="mps.sceneIsDefaultForCurrentProject(scene.id)" uib-tooltip="Default Scene" append-tooltip-to-body="true"><i class="far fa-home muted" style="margin-left: 5px; font-size: 10px;vertical-align: middle;"></i></div>-->
            </div>
            <div class="flex-row-center jspacebetween">
              <span class="status-dot active" style="margin-right: 10px;"></span>
              <i class="fal fa-angle-right" style="font-size: 25px; padding-right:12px;"></i>
            </div>
          </div>

          <div style="height: 2px; background: #3e3f40; margin: 15px 0 10px;"></div>

          <div class="mixplay-header flex-row-center jspacebetween">
            <span>Event Groups</span>
            <div class="clickable" ng-click="showCreateEventGroupModal()"><i class="fas fa-plus-circle"></i></div>
          </div>

          <div ng-repeat="group in es.getEventGroups()" class="flex-row-center jspacebetween scene-row" ng-class="{'selected': groupIsSelected(group.id)}"  ng-click="setSelectedGroup(group.id)">
            <div class="flex-row-center" style="height:100%;">
              <div class="selected-scene-icon" ng-class="{'transparent': !groupIsSelected(group.id)}"></div>
              <div>{{group.name}}</div>
              <!--<div ng-show="mps.sceneIsDefaultForCurrentProject(scene.id)" uib-tooltip="Default Scene" append-tooltip-to-body="true"><i class="far fa-home muted" style="margin-left: 5px; font-size: 10px;vertical-align: middle;"></i></div>-->
            </div>
            <div>
                <div uib-dropdown uib-dropdown-toggle dropdown-append-to-body="true" class="clickable" ng-click="$event.stopPropagation()" style="font-size: 21px;height: 20px;width: 36px;text-align: center;display: flex;align-items: center;justify-content: center;">
                    <span class="noselect pointer"><i class="fal fa-ellipsis-v"></i></span>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="showDeleteGroupModal(group)">
                            <a href style="color:red"><i class="far fa-trash-alt" style="margin-right: 10px;"></i> Delete group</a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



<!--<div style="min-width: 500px;">
    <div class="fb-notab-header-wrapper" ng-if="getEventGroupCount() !== 0">
        <div class="fb-notab-title">
            <span ng-hide="selectedEventGroup() == null || selectedEventGroup() == ''">{{selectedEventGroup().name}}</span>
        </div>
        <div class="fb-notab-dropdown">
          <div class="text-dropdown" uib-dropdown uib-dropdown-toggle>
            <div class="noselect pointer">{{'LIVE_EVENTS.CHANGE_GROUP' | translate}}<span class="fb-arrow down"></span></div>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-repeat="eventGroup in getAllEventGroups()">
                <a href ng-click="switchToEventGroup(eventGroup.id)">{{eventGroup.name}}</a>
              </li>
              <li ng-hide="getEventGroupCount() == 0" role="separator" class="divider"></li>
              <li><a href ng-click="showEventGroupModal()">{{'LIVE_EVENTS.CHANGE_EVENT_GROUP.ADD_NEW_EVENT_GROUP' | translate }}</a></li>
              <li ng-hide="selectedEventGroup() == null"><a href ng-click="showEventGroupModal(selectedEventGroup())">{{'LIVE_EVENTS.CHANGE_EVENT_GROUP.EDIT_EVENT_GROUP' | translate }}</a></li>
              <li><a href ng-click="showEventGroupDeleteModal(selectedEventGroup())">{{'LIVE_EVENTS.CHANGE_EVENT_GROUP.DELETE_EVENT_GROUP' | translate }}</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div style="padding: 15px;">
      <div style="margin: 15px 0;display: flex;flex-direction: row;justify-content: space-between;" ng-show="getEventGroupCount() !== 0">
          <button ng-click="showAddEditEventModal()" class="btn btn-primary"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> New Event</button>
          <searchbar ng-if="getGroupEventsCount() > 0" placeholder-text="Search Events" query="eventSearch" style="flex-basis: 250px;"></searchbar>
      </div>
      <div ng-if="getEventGroupCount() > 0 && getGroupEventsCount() === 0" class="noselect muted" style="padding-left: 13px">
        <span class="hvr-bob"><i class="fas fa-arrow-up"></i></span><span style="margin-left:8px">No events saved. You should make one! :)</span>
      </div>
      <div style="margin: 15px 0;display: flex;flex-direction: row;justify-content: space-between;" ng-show="getEventGroupCount() === 0">
        <button ng-click="showEventGroupModal()" class="btn btn-primary"><i class="fas fa-plus-circle" style="margin-right:5px;"></i> New Event Group</button>
      </div>
      <div ng-if="getEventGroupCount() == 0" class="noselect muted" style="padding-left: 13px">
        <span class="hvr-bob"><i class="fas fa-arrow-up"></i></span><span style="margin-left:8px">No event groups saved. You should make one! :) </span>
      </div>
      <table ng-show="getGroupEventsCount() > 0" class="fb-table">
          <thead>
              <tr style="font-size: 11px;">
                  <th style="width:5%"></th> 
                  <th class="muted"><i class="fas fa-tag"></i> NAME</th> 
                  <th class="muted"><i class="fas fa-exclamation-square"></i> TYPE</th> 
                  <th class="muted"><i class="fas fa-magic"></i> EFFECTS</th>
                  <th></th> 
                  <th></th> 
              </tr> 
          </thead> 
          <tbody> 
              <tr ng-repeat="event in selectedEventsArray() | orderBy: 'type' | filter:eventSearch track by event.id">
                  <td style="text-align: center;">
                      <span style="color: #2aa1c0; font-size: 20px;" ng-click="fireEventManually(event)">
                          <i class="fas fa-play-circle clickable"></i>
                      </span>
                  </td> 
                  <td>
                    {{event.name ? event.name : "Unnamed"}}
                  </td>
                  <td>
                    {{event.eventId && event.sourceId ? friendlyEventTypeName(event.sourceId, event.eventId) : "No Type"}}                
                  </td>
                  <td>
                    {{getEventEffectsCount(event.id)}}
                  </td>
                  <td>
                      <div style="min-width: 75px">
                          <span class="status-dot" ng-class="{'active': event.active, 'notactive': !event.active}"></span> {{event.active ? "Active" : "Disabled"}}
                      </div>                            
                  </td>  
                  <td>
                      <div style="text-align: right;">
                          <div uib-dropdown uib-dropdown-toggle class="pull-right">
                              <span class="noselect clickable" style="font-size: 30px"><i class="fal fa-ellipsis-h"></i></span>
                              <ul class="dropdown-menu" uib-dropdown-menu>
                                  <li>
                                      <a href ng-click="showAddEditEventModal(event)">Edit</a>
                                  </li>
                                  <li>
                                      <a href ng-click="toggleEventActiveState(event.id)">{{event.active ? 'Disable' : 'Enable'}}</a>
                                  </li>
                                  <li>
                                      <a href ng-click="showEventDeleteModal(event)" style="color:red">Delete</a>
                                  </li>
                              </ul>
                          </div>
                      </div>                       
                  </td> 
              </tr>
          </tbody>
      </table>
    </div>
</div>
-->




















<!-- Delete event confirmation modal.-->
<script type="text/ng-template" id="showEventDeleteModal.html">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteEventLabel">Delete Event</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you'd like to delete this event?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="confirmDelete(true)">Delete</button>
    </div>
    </div>
</script>

<!-- Modal For Adding a new event group -->
<script type="text/ng-template" id="showEventGroupModal.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editEventLabel">{{isNewGroup ? "Add Event Group" : "Edit Event Group"}}</h4>
  </div>
  <div class="modal-body">
    <div class="general-event-settings">
      <div class="settings-title">
        <h3>General Settings</h3>
      </div>

      <div class="effect-setting-container setting-padtop">
        <div class="input-group settings-eventid">
          <span class="input-group-addon" id="basic-addon3">Event Group Name</span>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty event-id" aria-describedby="basic-addon3" ng-model="eventGroup.name">
        </div>
      </div>

    <div class="modal-footer">
      <button ng-if="!isNewGroup" type="button" class="btn btn-danger delete-event-button pull-left" ng-click="showEventGroupDeleteModal(selectedEventGroup())">Delete Event Group</button>
      <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary event-edit-save" ng-click="saveChanges(false)">{{isNewGroup ? "Add Event Group" : "Save Changes"}}</button>
    </div>
</script>

<!-- Modal For Adding/Editting Events -->
<script type="text/ng-template" id="addEditEventModal.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editEventLabel">{{isNewEvent ? "Add Event" : "Edit Event"}}</h4>
  </div>
  <div class="modal-body">
    <div class="general-event-settings">
      <div class="settings-title">
        <h3>General Settings</h3>
      </div>

      <div class="effect-setting-container setting-padtop">
        <div class="input-group settings-eventid">
          <span class="input-group-addon" id="basic-addon3">Event Name</span>
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty event-id" aria-describedby="basic-addon3" ng-model="event.name">
        </div>
      </div>

      <div class="controls-fb-inline effect-setting-container setting-padtop">
          <label class="control-fb control--checkbox">Active Event
              <input type="checkbox" ng-model="event.active" aria-label="..." checked>
              <div class="control__indicator"></div>
          </label>
          <label class="control-fb control--checkbox">Show In Chat Feed <tooltip text="'Whether or not you want to see an alert in the chat feed when this event happens.'"></tooltip>
              <input type="checkbox" ng-model="event.chatFeedAlert" aria-label="...">
              <div class="control__indicator"></div>
          </label>
          <label class="control-fb control--checkbox">Skip Logging
              <input type="checkbox" ng-model="event.skipLog" aria-label="...">
              <div class="control__indicator"></div>
          </label>
      </div>

      <div class="effect-setting-container setting-padtop">
        <h3>Trigger On</h3>
        <searchable-event-dropdown selected="{ eventId: event.eventId, sourceId: event.sourceId }" style="width:100%" update="eventChanged(event)"></searchable-event-dropdown>
      </div>

      <div ng-if="event.eventId != null">
        <filter-list event-source-id="event.sourceId" event-id="event.eventId" filters="event.filters"></filter-list>
      </div>

    </div>
    <div ng-if="event.eventId != null" class="effect-setting-container setting-padtop">
      <effect-list header="What should this event do?" effects="event.effects" trigger="event" update="effectListUpdated(effects)" modalId="{{modalId}}" is-array="true"></effect-list>      
    </div>
    <div class="modal-footer">
      <button ng-if="!isNewEvent" type="button" class="btn btn-danger delete-event-button pull-left" ng-click="showEventDeleteModal(event)">Delete Event</button>
      <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary event-edit-save" ng-click="saveChanges(false)">{{isNewEvent ? "Add Event" : "Save Changes"}}</button>
    </div>
</script>