<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismiss()">&times;</span></button>
    <h4 class="modal-title">
        {{$ctrl.isNewHotkey ? 'Add New Hotkey' : 'Edit Hotkey' }}
    </h4>
</div>
<div class="modal-body">
    <div class="function-button-settings">
        <div class="controls-fb-inline" ng-if="!$ctrl.isNewHotkey">
            <label class="control-fb control--checkbox">Is Active
                <input type="checkbox" ng-model="$ctrl.hotkey.active">
                <div class="control__indicator"></div>
            </label>
        </div>

        <div class="alert alert-warning" ng-show="$ctrl.isNewHotkey">
            <b>Things to keep in mind with hotkeys:</b>
            <ul>
                <li>Firebot cannot override hotkeys that are already reserved by other apps. </li>
                <li>Firebot cannot detect if a hotkey is already in use by another app.</li>
                <li>If you bind a hotkey to a single letter, you will not be able to type that letter in other applications.</li>
            </ul>
        </div>

        <h3>Name</h3>
        <input type="text" class="form-control" ng-model="$ctrl.hotkey.name">

        <h3 style="margin-top:20px;">Hotkey</h3>
        <hotkey-capture on-capture="$ctrl.onHotkeyCapture(hotkey)" hotkey="$ctrl.hotkey.code"></hotkey-capture>

        <eos-collapsable-panel show-label="Advanced" hide-label="Hide Advanced">
            <h4>Add Virtual Button</h4>
            <p style="margin-bottom:10px";>While you can't press these buttons on a typical keyboard, some apps can still send them in key combinations.</p>
            <dropdown-select options="['F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20', 'F21', 'F22', 'F23', 'F24']" ng-init="$ctrl.virtualBtn = 'F13'" selected="$ctrl.virtualBtn"></dropdown-select>
            <button class="btn btn-link" ng-click="$ctrl.onAddVirtualButtonToHotkey()" style="color: #092965;">Add To Hotkey</button>
        </eos-collapsable-panel>

        <div style="margin-top:20px;">
            <effect-list 
                header="What should this hotkey do?" 
                effects="$ctrl.hotkey.effects" 
                trigger="hotkey" 
                trigger-meta="{ rootEffects: $ctrl.hotkey.effects }"
                update="$ctrl.effectListUpdated(effects)"
            ></effect-list>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-show="!$ctrl.isNewHotkey" ng-click="$ctrl.delete()">Delete Hotkey</button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
</div>