// Global
html{
    width:100%;
    height:100%;
    background-image: $main-bg-image;
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#1d2e38;
}
body{
    background-color:none;
    color: $text-color-secondary;
    font-family: $font-secondary;
    margin:.5%;
}
h1, h2, h3, h4, h5{
    color: $text-color-primary;
    font-family: $font-primary;
}
a{
    color:$text-color-white;
    outline:none;
    &:hover, &:focus{
        color:$text-color-secondary;
    }
}
.btn{
    font-family: $font-secondary;
    font-weight:bold;
    color:$secondary-color;
    background-color: $highlight-color;
    &:focus, &:hover{
        background-color:$non-highlight-color;
    }
}
.input-group-addon{
    font-family: $font-secondary;
    font-weight:bold;
    color:$secondary-color;
    background-color: $highlight-color; 
}

// Responsive Font Sizes
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
        h1{
            font-size: 2.5em;
        }
        h2{
            font-size: 2em;
        }
        h3{
            font-size: 1.2em;
        }
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
        h1{
            font-size: 3em;
        }
        h2{
            font-size: 2.5em;
        }
        h3{
            font-size: 1.2em;
        }
    }
}
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
        h1{
            font-size: 3.5em;
        }
        h2{
            font-size: 3em;
        }
        h3{
            font-size: 1.3em;
        }
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 3em;
        }
        h3{
            font-size: 1.5em;
        }
    }
}
.ui-autocomplete{
    border-radius:10px;
    padding:5px;
    border:none;
    background-color: $text-color-white;
    list-style:none;
    color:$secondary-color;
    position:absolute;
    z-index:5;
}
.ui-helper-hidden-accessible{
    display:none;
}

.seperator{
    display:inline-block;
    padding: 0px 15px;
}

label.error{
    color:red;
    font-weight:bold;
}
input.error{
    border: 1px solid red;
}
textarea {
    resize: none;
}

// Auto Complete 
.ui-autocomplete{
    li{
        cursor:pointer;
        div{
            padding:5px;
            margin:2px;
        }
    }
    li:hover{
        background-color: $highlight-color;
        color: $main-color;
    }
}

// Error dialog
.ui-dialog{
    background-color:white;
    color:$main-color;
    border: 1px solid $highlight-color;
    .ui-dialog-titlebar{
        background-color:$highlight-color;
        color:$main-color;
        font-weight:bold;
        padding:5px 10px 10px 10px;
        cursor:move;
        button{
            border-radius:50%;
            border:none;
            margin:0px;
            font-size:.9em;
        }
    }
    .ui-dialog-content{
        padding:10px;
        text-align:center;
        .facepalm{
            width:75px;
            display:block;
            margin:auto;
        }
    }
    .ui-button{
        background-color:$main-color;
        color:$text-color-white;
        float:right;
        &:hover{
            background-color:$non-highlight-color;
        }
    }
}


// Layout
#header{
    padding:1%;

    .main-image{
        display:inline-block;
    }

    .menu-hamburger{
        font-size:1.5em;
    }

    .interactive-status, .chat-status{
        float:right;
        display:inline-block;
        background-color: $status-offline-color;
        color: $text-color-white;
        border:none;
        border-radius: 10px;
        text-transform: uppercase;
        font-family: $font-primary;
        margin:10px;
        padding:4px 10px;
        font-size: .75em;
        &.online{
            background-color: $status-online-color;
        }
    }
    .updated-version{
        float:right;
        display:inline-block;
        background-color: $highlight-color;
        border:none;
        border-radius: 10px;
        text-transform: uppercase;
        font-family: $font-primary;
        margin:1%;
        padding:4px;
        font-size: .75em;
        a{
            color: $secondary-color;
            text-decoration: none;
            &:hover{
                color:$non-highlight-color;
            }
        }
    }
}
.navigation{
    ul{
        list-style:none;
        margin:0px;
        padding:0px;
        li{
            a{
                display:block;
                width:100%;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $font-primary;
                font-weight:bold;
                padding: 4% 2%;
                border-bottom:1px dotted #ffffff;
                &:hover{
                    background-color:$highlight-color;
                    color:$secondary-color;
                }
            }
        }
    }
}
.xtremes-logo{
    position:absolute;
    bottom:10px;
    img{
        max-width:100%;
    }
}
.sidr{
    @include gradient($main-color, $secondary-color);
}
.page{
    display:none;
    width:100%;
    &.current{
        display:block;
    }
    .main-content{
        padding:2%;
    }
}


// Scrollbar
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $non-highlight-color;
}

// Tooltips
.tooltipster-punk {
	border-radius: 5px; 
	border-bottom: 3px solid $highlight-color;
	background: $non-highlight-color;
	color: #fff;
}
.tooltipster-punk .tooltipster-content {
	font-family: $font-secondary;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
