
.interactive-header{
    .board-title a{
        font-size:2em;
    }
}

.interactive-button-holder{

    .interactive-button{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top:1.5em;
        color:white;
        border:1px solid white;
        text-align:center;
        font-size:1.2em;

        .controlID{
            background-color: $beam-highlight;
            font-weight:bold;
            padding: .5em 0em;
            border-radius: .5em .5em 0em 0em;
        }
        .buttontext, .sparkcost{
            background-color: $beam-main;
            padding: .5em 0em;
        }
        .edit-interactive-control{
            background-color: $beam-main;
            padding: .5em 0em;
            border-radius: 0em 0em .5em .5em;
            .btn{
                box-shadow: 2px 2px 5px #888888;
            }
        }
    }
}
.general-button-settings{
    .input-group{
        padding-bottom:1em;
    }
}
.functionality-settings{
    .panel-title{
        button{
            margin: -10px -15px;
            line-height:1.75;
        }
    }
    .effect-settings-panel{
        border-top: 1px solid $light-highlight;
        margin-top: 1em;
    }
}
