// Other styles
.interactive-header{
    .board-title a{
        font-size:2em;
    }
}

.general-button-settings{
    .input-group{
        padding-bottom:1em;
    }
}
.functionality-settings{
    .panel-title{
        button{
            margin: -10px -15px;
            line-height:1.75;
        }
    }
    .effect-settings-panel{
        border-top: 1px solid $light-highlight;
        margin-top: 1em;
    }
    .effect-info{
        padding: .5em 0em;
    }
}

#board-settings{
    .board-group-defaults-settings{
        .board-group{
            .board-group-scene{
                background-color: $mixer-highlight;
                padding: .5em;
                text-align:center;
                color:white;
                font-weight:bold;
                border-radius: .5em .5em 0em 0em;
            }
            .board-group-scene-dropdown{
                background-color:$mixer-main;
                padding:.5em;
                text-align:center;
                border-radius: 0em 0em .5em .5em;
            }
        }
    }
}

.playbutton{
    background:none;
    border:none;
    font-size:2em;
    &:hover{
        color:$light-highlight;
    }
}

.ui-autocomplete{
    border-radius:10px;
    padding:5px;
    border:none;
    background-color: #ddd;
    list-style:none;
    color:$mixer-main;
    font-weight:bold;
    position:absolute;
    z-index:5;
    box-shadow: 2px 2px 5px #000;
    height:150px;
    overflow-y: scroll;
    li{
        cursor:pointer;
        div{
            padding:5px;
            margin:2px;
        }
    }
    li:hover{
        color:white;
        background-color: $mixer-highlight;
    }
}

.ui-helper-hidden-accessible{
    display:none;
}

.board-group-defaults-settings, .board-cooldown-groups, .interactive-button-holder.active{
    display:flex;
    flex-wrap: wrap;
}