// Other styles
.interactive-header{
    .board-title a{
        font-size:2em;
    }
}

.general-button-settings{
    .input-group{
        padding-bottom:1em;
    }
}
.functionality-settings{
    .panel-title{
        button{
            margin: -10px -15px;
            line-height:1.75;
        }
    }
    .effect-settings-panel{
        border-top: 1px solid $light-highlight;
        margin-top: 1em;
    }
}

#board-settings{
    .board-group-defaults-settings{
        .board-group{
            .board-group-scene{
                background-color: $beam-highlight;
                padding: .5em;
                text-align:center;
                color:white;
                font-weight:bold;
                border-radius: .5em .5em 0em 0em;
            }
            .board-group-scene-dropdown{
                background-color:$beam-main;
                padding:.5em;
                text-align:center;
                border-radius: 0em 0em .5em .5em;
            }
        }
    }
}

.interactive-group-container{
    .interactive-group-wrap{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top:1.5em;
        color:white;
        border:1px solid white;
        text-align:center;
        font-size:1.2em;
        .interactive-groupheader{
            background-color: $beam-highlight;
            font-weight:bold;
            height:2.5em;
            padding: .5em 0em;
            border-radius: .5em .5em 0em 0em;
            .interactive-group-name{
                text-align:left;
                width: 75%;
                display:inline;
                padding:.2em 0em 0em .5em;
            }
            .interactive-group-controls{
                display:inline;
                width: 25%;
                .btn{
                    padding:3px 10px;
                }
            }
        }
        .interactive-group-main{
            background-color: $beam-main;
            padding: .5em 0em;
            border-radius: 0em 0em .5em .5em;
        }
    }
}

.playbutton{
    background:none;
    border:none;
    font-size:2em;
    &:hover{
        color:$light-highlight;
    }
}