.login-page{
    .page-content{
        text-align:center;

        .login-pic{
            border-radius:.25rem;
            border: 2px solid $main-color;
            width: 220px;
        }
    }
}