$light-background-color: #2A2F42;
$light-background-border: #00295D;
$light-background-box-shadow: #2A2F42 +7%;
$medium-background-color: #022B69;
$dark-background-color: #141828;
$dark-background-border: #2E3240;
$dark-background-box-shadow: #141828 + 7%;

$content-text-color: white;

$bad-color:red;
$good-color:lightgreen;
$info-color:#30a6ce;
$highlight-color: #EBB11F;

// Scrollbar
$scrollbar-background-color: $light-background-color + 30%;
$scrollbar-bar-color: $light-background-border + 40%; 

// Navigation
$left-nav-link-text-color: white;
$left-nav-link-text-hover-color:#141828;
$left-nav-link-text-selected-color: whitesmoke;

// Tiles
$tile-text-color: white;
$tile-text-faded-color: whitesmoke;
$tile-border: 3px solid $light-background-color + 20%;

$dark-tile-background-color:linear-gradient(16deg, #022442, #124b7d);
$dark-tile-background-color-inactive: #A9A9A9;
$dark-tile-background-color-inactive-light: #cecece;
$light-tile-background-color:linear-gradient(16deg, #339FC0, #46AFC6);
$light-tile-header-background-color:linear-gradient(16deg, #2A8FAE, #45A8BF);

$secondary-tile-background-color:linear-gradient(16deg, #EC7F2E, #FDA23C);
$secondary-tile-header-background-color:linear-gradient(16deg, #F17F1E, #F6953A);

$tertiary-tile-background-color:linear-gradient(16deg, #525657, #5A5B5C);

$quaternary-tile-background-color: linear-gradient(16deg, #76BA60, #8CC673);
$quaternary-tile-header-background-color: linear-gradient(16deg, #6BA65D, #81BD68);

// List View
$list-text-color: white;

// Button Effects
$effect-background-color: $light-background-color + 20%;

// misc
$text-dropdown-hover-color: $light-background-color;
$board-settings-btn-color: darkgray;
$change-board-dropdown-color: darkgray;
$navbar-collapse-btn: orange;
$downarrow-color: darkgray;

// Import Core Styles
@import './core/$importer';


