$light-background-color: #F3F5F5;
$light-background-border: #EAECEC;
$light-background-box-shadow: #dcdcdc;
$medium-background-color: #dcdcdc; 
$dark-background-color: #25292a;
$dark-background-border: #383d3f;
$dark-background-box-shadow: #383d3f;

$content-text-color: #25292a;

$light-text-color: #808080;

$bad-color:red;
$good-color:lightgreen;
$info-color:#30a6ce;
$highlight-color: #EBB11F;

// Scrollbar
$scrollbar-background-color: $medium-background-color;
$scrollbar-bar-color: $dark-background-border + 50%;

// Navigation
$left-nav-link-text-color: white;
$left-nav-link-text-hover-color:#383d3f;
$left-nav-link-text-selected-color: #383d3f;
$nav-link-bg: #383d3f;

// Tiles
$tile-text-color: white;
$tile-text-faded-color: whitesmoke;
$tile-border: 3px solid white;

$dark-tile-background-color:linear-gradient(16deg, #022442, #124b7d);
$dark-tile-background-color-inactive: #A9A9A9;
$dark-tile-background-color-inactive-light: #cecece;
$light-tile-background-color:linear-gradient(16deg, #339FC0, #46AFC6);
$light-tile-header-background-color:linear-gradient(16deg, #2A8FAE, #45A8BF);

$secondary-tile-background-color:linear-gradient(16deg, #EC7F2E, #FDA23C);
$secondary-tile-header-background-color:linear-gradient(16deg, #F17F1E, #F6953A);

$tertiary-tile-background-color:linear-gradient(16deg, #525657, #5A5B5C);

$quaternary-tile-background-color: linear-gradient(16deg, #76BA60, #8CC673);
$quaternary-tile-header-background-color: linear-gradient(16deg, #6BA65D, #81BD68);

// List
$list-text-color: $dark-background-color;

// Button Effects
$effect-background-color: $light-background-color;

// misc
$text-dropdown-hover-color: #F3F3F3 -30%;
$board-settings-btn-color: $light-text-color;
$change-board-dropdown-color: $light-text-color;
$downarrow-color: $light-text-color;
$navbar-collapse-btn: orange;

// Chat Window
$usercolor: #37aad5;
$bannedcolor: red;
$procolor: #b143d1;
$modcolor: #36e53a;
$staffcolor: #dcb235;
$ownercolor: black;
$alertcolor: red;
$alert-bg-color: #cecece;
$chatWhisperColor: #c235ef;
$chatDeletedColor: gray;
$chatTextColor: black;
$chatBorder: #cecece;
$chat-message-alternate-bg: #f9f9f9;

// Connection panel
$connection-tile-bg: white;
$connection-tile-title: black;
$connection-status-bubble-border: #34383A;

// Bootstrap overrides
$nav-border-bottom: #b1b1b1;
$nav-border-hover: rgb(54, 53, 53);
$nav-border-selected: black;
$selected-tab-text-color: black;
$unselected-tab-text-color: #5d5e5f;
$default-btn-bg-color: white;
$default-btn-text-color: #333;
$default-btn-border: lightgray;
$default-btn-hover-bg: lightgray;
$default-btn-hover-border: lightgray;

$form-control-bg: white;
$form-control-border: lightgray;
$form-control-text: #1a1a1a;
$add-on-group-bg: lightgrey;
$add-on-group-border: transparent;
$add-on-group-text: inherit;

$dropdown-menu-bg: white;
$dropdown-menu-border: rgb(206, 208, 208);
$dropdown-menu-text: #333;
$dropdown-menu-divider-color: #e5e5e5;

$muted-text-color: inherit;

$alert-info-text-color: #31708f;
$alert-info-bg: #d9edf7;

$alert-warning-text-color: #8a6d3b;
$alert-warning-bg: #fcf8e3;

$alert-danger-text-color: #a94442;
$alert-danger-bg: #f2dede;

// Import Core Styles
@import './core/$importer';


