@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'font-awesome.min';
@import 'plugins';
@import 'global';

// Start Page
.start{
    text-align:center;
    .logo{
        border-radius:50%;
        padding:5px;
        border: 2px solid white;
        width:150px;
    }
    h1{
        font-size:4em;
        padding:0px;
        margin:0px;
    }
    p{
        margin:0px;
        padding:0px;
    }
}


// Login Page
.login{
    .main-content{
        text-align:center;
    }
    .streamer, .bot{
        margin:0% 5%;
        display:inline-block;
        vertical-align:top;
    }
    .streamer-avatar, .bot-avatar{
        border-radius:50%;
        padding:5px;
        border: 2px solid white;
        width:150px;
    }
    .loginOrOut button{
        padding:5%;
    }
    .botType{
        margin:2% 0% 0% 0%;
    }
}

// Interactive Board page
.interactive{
    .interactive-top{
        .launch-interactive, .disconnect-interactive{
            float:right;
        }
    }
    .interactive-buttons{
        display:flex;
        flex-wrap: wrap;
        max-width:100%;
        min-height:100px;
        padding: 1% 0%;
        border-top: 1px solid #cecece;

        select{
            width: 268px;  
        }

        .iButton{
            display: inline-block;
            margin-right: 10px;
            font-family: $font-primary;

            .button-title{
                background-color: $highlight-color;
                padding:1% 2%;
                width:150px;
                border-radius: 10px 10px 0px 0px;
                border: 1px dotted #ffffff;
                margin: 1%;

                .button-icon{
                    display:inline-block;
                    color: $main-color;
                    a{
                        color: $main-color;
                        &:hover{
                            color: $non-highlight-color;
                        }
                    }
                }
                .button-id{
                    font-weight:bold;
                }
                .button-del{
                    float:right;
                }
            }

            .button-content{
                text-align:center;
                border-radius: 0px 0px 10px 10px;
                border: 1px dotted #ffffff;
                margin: 1%;
                width:150px;
                padding: 5% 2%;

                .type{
                    font-size: .7em;
                }
            }
        }
    }
}
#button-menu{
    .sidr-inner{
        padding: 10px;
        label{
            display:block;
            padding:5px 0px;
        }
        .button-section{
            margin-bottom:10px;
        }
        .button-general-settings{
            border-bottom:1px dotted #ffffff;
        }
        .button-specific-settings{
            padding-bottom:10px;
            margin-bottom:10px;
        }
        .game-opposite-select, .game-press-select{
            overflow-y:scroll;
            width:200px;
            border-radius:0px;
        }
    }
    .button-save-close{
        margin-top:10px;
    }
}