@import 'variables';
@import 'font-awesome';
@import 'login';
@import 'interactive';

/////////////////
// GLOBAL STYLES
////////////////

body {
  padding-top: 5rem;
}
.page-header{
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $main-color;
}
.page-content{
    width:100%;
    min-height:300px;
}

/////////////////
// Helper Classes
/////////////////
.top-padding{
    padding-top:1em;
}