$light-background-color: #2A2F42;
$light-background-border: #262c40;
$light-background-box-shadow: #2A2F42 +7%;
$medium-background-color: #022B69;
$dark-background-color: #141828;
$dark-background-border: #2E3240;
$dark-background-box-shadow: #141828 + 7%;

$content-text-color: white;

$bad-color:red;
$good-color:lightgreen;
$info-color:#30a6ce;
$highlight-color: #EBB11F;

// Scrollbar
$scrollbar-background-color: rgba(97, 97, 105, 0.58);
$scrollbar-bar-color: #2f2f30;

// Navigation
$left-nav-link-text-color: white;
$left-nav-link-text-hover-color:#141828;
$left-nav-link-text-selected-color: whitesmoke;
$nav-link-bg: #141828;
$sidebar-bg: linear-gradient(135deg, #141828 0%, #2E3240 98%);

// editor column
$editor-column-bg: linear-gradient(to right, #232736 0%, #282C3A 100%);
$editor-text-color: white;
$editor-row-hover-bg: #21263d;
$editor-row-selected-bg: #141828;

// Tiles
$tile-text-color: white;
$tile-text-faded-color: whitesmoke;
$tile-border: 3px solid $light-background-color + 20%;

$dark-tile-background-color:linear-gradient(16deg, #022442, #124b7d);
$dark-tile-background-color-inactive: #A9A9A9;
$dark-tile-background-color-inactive-light: #cecece;
$light-tile-background-color:linear-gradient(16deg, #339FC0, #46AFC6);
$light-tile-header-background-color:linear-gradient(16deg, #2A8FAE, #45A8BF);

$secondary-tile-background-color:linear-gradient(16deg, #EC7F2E, #FDA23C);
$secondary-tile-header-background-color:linear-gradient(16deg, #F17F1E, #F6953A);

$tertiary-tile-background-color:linear-gradient(16deg, #525657, #5A5B5C);

$quaternary-tile-background-color: linear-gradient(16deg, #76BA60, #8CC673);
$quaternary-tile-header-background-color: linear-gradient(16deg, #6BA65D, #81BD68);

// List View
$list-text-color: white;

// Button Effects
$effect-background-color: $light-background-color + 20%;
$effect-list-overflow-btn-color: white;
$effect-list-bg-color: #1f2332;
$effect-option-title: #24283a;

// misc
$text-dropdown-hover-color: $light-background-color;
$board-settings-btn-color: darkgray;
$change-board-dropdown-color: darkgray;
$navbar-collapse-btn: orange;
$downarrow-color: darkgray;

$toggle-button-off-bg-color: white;

// Chat Window
$usercolor: #37aad5;
$bannedcolor: red;
$procolor: #b143d1;
$modcolor: #36e53a;
$staffcolor: #dcb235;
$ownercolor: white;
$alertcolor: red;
$alert-bg-color: darkgray;
$chatWhisperColor: #e660f2;
$chatDeletedColor: gray;
$chatTextColor: white;
$chatBorder: #cecece;
$chat-message-alternate-bg: #333748;
$sticker-bg-color:#29374a;
$chat-input-bg-color: #4D5266;
$activity-bg-color: #232325;

// Connection panel
$connection-tile-bg: #3e4356;
$connection-tile-title: white;
$connection-status-bubble-border: #282c3a;

// notifications
$notification-center-header-color: #3e4356;
$notification-preview-wrapper-color: #2a2f42;

// Bootstrap overrides
$nav-border-bottom: #b1b1b1;
$nav-border-hover: rgb(228, 228, 228);
$nav-border-selected: white;
$selected-tab-text-color: white;
$unselected-tab-text-color: #c5c5c5;
$default-btn-bg-color: #838488;
$default-btn-text-color: white;
$default-btn-border: #838488;
$default-btn-hover-bg: #5c637a;
$default-btn-hover-border: #5c637a;

$form-control-bg: #525565;
$form-control-border: transparent;
$form-control-text: white;
$add-on-group-bg: #7f808c;
$add-on-group-border: transparent;
$add-on-group-text: white;

$dropdown-menu-bg: #3e4356;
$dropdown-menu-border: #5a617b;
$dropdown-menu-text: white;
$dropdown-menu-divider-color: #5a617b;

$muted-text-color: #e4e4e4;

$alert-info-text-color: #f9fdff;
$alert-info-bg: #3f7d9c;

$alert-warning-text-color: #8a6d3b;
$alert-warning-bg: #ffee73;

$alert-danger-text-color: #f9fdff;
$alert-danger-bg: #ce6c6c;

$fb-tab-wrapper-bg: #3e4356;
$fb-tab-wrapper-border-color: #2b3145;
$fb-tab-border-bottom-hover: #1a1c24;
$fb-tab-hightlight-color: #5fdeff;
$fb-unselected-text-color: #a6bcca;

$fb-tab-notactive-text-color: #a09a9a;
$fb-tab-hover-text-color: #ececec;
$fb-tab-active-text-color:#ffffff;

$fb-tab-divider-color: #262C40;

$project-dropdown-text-color: #f9f9f9;

$fb-tab-title-color: white;

$fb-table-row-bg: #3e4356;
$fb-table-shadow: none;

$sys-cmd-expanded-shadow: none;

$integration-row-bg: #2a2f42;

.list-group-item {
    background-color: #3E4356;
    border: 1px solid #2a2f42;
}

// Import Styles
@import './core/$importer';
@import './directives/$importer';
