.select-effect-header {
    background: $effect-dialog-bg;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.select-effect-footer {
    align-items: center;
    background: $effect-dialog-bg;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 2px solid $light-background-border;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.select-effect-search {
    align-items: center;
    background: $effect-dialog-bg;
    border-bottom: 2px solid $light-background-border;
    border-top: 2px solid $light-background-border;
    display: flex;
    height: 55px;
    padding: 0 13px;
}

.effect-categories {
    background: $effect-category-bg;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 150px;
    &.dark {
        background: $variable-category-bg;
        padding-top: 5px;
        width: 135px;
    }
}

.effect-category-header {
    font-weight: 700;
    padding-left: 2.5px;
    padding: 15px 0 5px 15.5px;
    font-size: 13px;
}

.effect-category-wrapper {
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 8px;

    .category-bar {
        height: 100%;
        width: 2.5px;
        display: inline-block;
        margin-right: 15px;
    }

    .category-text {
        padding: 7px 0;
    }

    &:hover {
        background: $effect-category-hover-bg;
        text-decoration: none;
    }

    &.selected {
        font-weight: 400;
        background: $effect-category-selected-bg;
        &.category-bar {
            background: $highlight-color;
        }
    }
}

.effect-def-wrapper {
    border-radius: 8px;
    background: $effect-def-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 55px;
    margin-bottom: 10px;
    padding: 6px 0;
    border: solid 2px transparent;
    &:hover {
        background: $effect-def-hover-bg;
        cursor: pointer;
    }
    .effect-icon-wrapper {
        width: 40px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-right: 4px;
        font-size: 18px;
    }
    .effect-selected-wrapper {
        width: 60px;
        flex-shrink: 0;
        color: $effect-def-selected-check;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    &.selected {
        border: solid 2px $effect-def-selected-border;
        .effect-selected-wrapper {
            opacity: 1;
        }
    }
}


.change-effect-button {
    height: 25px;
    width: 60px;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background: $default-btn-bg-color;
}
