.edit-effect-header {
    background: $light-background-color;
}

.select-effect-header {
    background: $effect-dialog-bg;
}

.select-effect-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $effect-dialog-bg;
    border-top: 2px solid $light-background-border;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.select-effect-search {
    display: flex;
    align-items: center;
    background: $effect-dialog-bg;
    border-bottom: 2px solid $light-background-border;
    border-top: 2px solid $light-background-border;
    padding: 5px 13px;
}

.select-effect-def {
    border-radius: 8px;
    background: $effect-def-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 55px;
    margin-bottom: 10px;
    padding: 6px 0;
    border: solid 2px transparent;
    &:hover {
        background: $effect-def-hover-bg;
        cursor: pointer;
    }
    .select-effect-icon-wrapper {
        width: 40px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        margin-right: 4px;
        font-size: 18px;
    }
    .select-effect-selected {
        width: 60px;
        flex-shrink: 0;
        color: $effect-def-selected-check;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    &.selected {
        border: solid 2px $effect-def-selected-border;
        .select-effect-selected {
            opacity: 1;
        }
    }
}

.select-effect-categories, .variable-categories {
    background: $effect-category-bg;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 150px;
    padding: 5px;

    &.dark {
        background: $variable-category-bg;
        width: 140px;
    }
}

.select-effect-category-header, .variable-category-header {
    font-weight: 700;
    padding: 15px 0 5px 15px;
    font-size: 13px;
}

.select-effect-category, .variable-category {
    text-transform: capitalize;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 10px;
    border-radius: 8px;
    &:hover {
        background: $effect-category-hover-bg;
        text-decoration: none;
    }
    &.selected {
        font-weight: 400;
        background: $effect-category-selected-bg;
    }
}