.events-tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background: $light-background-color;
    margin-top: 10px;
}

.live-events{
    .play-button {
        font-size: 45px;
        transition: 0.1s;
        cursor: pointer;
    }
    .inactive-event-text{
        font-size:1.4em;
        display:block;
        padding: 15px 0px 15px 0px;
    }
}

.filter-mode-dropdown, .input-editor-dropdown  {
    border-bottom: 0px solid #eaecec;
    display: inline-block;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    .fb-arrow {
        width: 5px;
        margin-bottom: 4px;
        margin-bottom: 3px;
        margin-left: 5px;
        border: solid white;
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 2px;
    }
    .ddtext {
        color: white;
    }
    &:hover, &.open {
        .ddtext {
            color: #c4c4c4;
        }
        .fb-arrow {
            border-color: #c4c4c4;
        }
    }
}

.input-editor-dropdown {
    background: rgb(83, 83, 83);
    padding: 2px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &:hover, &.open {
         background: rgb(69, 69, 69);
    }
    .dropdown-menu {
        border-top-left-radius: 0;
    }
}

.editior-column {
    width: 215px;
    height: 100%;
    background: $editor-column-bg;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow: hidden;
    color: $editor-text-color;
}

.scene-row {
    height: 35px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 0px;
    &:hover {
        background: $editor-row-hover-bg;
    }
    &.selected {
        background: $editor-row-selected-bg;
    }
}

.selected-scene-icon {
    width: 3px;
    height: 100%;
    background: transparent;
    margin-right: 9px;
    &.transparent {
        background: transparent !important;
    }
}

.row-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 122px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}