.modal-dialog {
    margin-top: 115px !important;
}

.ng-toast {
    margin-top: 40px !important;
}

.rich-toast {
    max-width: 400px !important;
}

.rich-toast-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.rich-toast-body {
    display: flex;
}

.rich-toast-body-content {
    text-align: left;
}

.cet-window-icon {
    display: none !important;
}

.cet-titlebar.cet-windows, .cet-titlebar.cet-linux {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 100;
}

.cet-titlebar.cet-windows {
    .cet-window-title {
        display: none;
    }

    .cet-menubar {
        margin-right: auto;
    }
}