<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="addInteractiveBoardLabel">Add New Board</h4>
</div>
<div class="modal-body">
  <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 15px;" ng-hide="hasBoardsLoaded">
    <p>
      <b style="font-size: 16px;">How to create and add a board to Firebot:</b>
    </p>
    <ol class="wizard-board-add-instructions">
      <li>
        Go to Mixer's <a href ng-click="openLinkExternally('https://mixer.com/i/studio')">Interactive Studio</a>.
      </li>
      <li>
        Create a new Project and give it a name.
      </li>
      <li>
        Optionally: Go to the project's <b>Build</b> tab and create scenes/add buttons now. <br><span class="muted">(You can always do this later. Any changes will be synced to Firebot)</span>
      </li>
      <li>
        Go to the <b>Code</b> tab and copy the 5-digit ID code.
      </li>
      <li>
        Paste the ID code below and click <b>Add Board</b>.
      </li>
    </ol>
    <div style="width: 55%; position: relative;">
      <input id="newBoardIdField" type="text" class="form-control" placeholder="Enter code" ng-model="newBoardId" ng-keyup="$event.keyCode == 13 ? addBoard() : null">
      <span class="wizard-paste-btn clickable" tooltip-append-to-body="true" uib-tooltip="Paste clipboard contents" ng-click="pasteClipboard('newBoardIdField', false)"><i class="fas fa-paste"></i></span>
    </div>
    <p style="color: red;" ng-show="boardAddErrorOccured">
      Whoops, there was an error loading that board. Was the code copied properly?
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary add-new-board-save" ng-click="addBoard()">Add Board</button>
</div>