<div class="modal-header">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="addInteractiveBoardLabel">Add New Board</h4>
</div>
<div class="modal-body">
  <p>To add a board to Firebot go to the <a href="https://mixer.com/i/studio">mixer interactive studio</a> and create a project. Organize and create buttons however you want. Once done, you'll be given a five digit number in the "code" tab. Copy and paste that below.</p>
  <div class="input-group">
    <input type="text" class="form-control add-new-board-code" placeholder="Enter code" ng-model="newBoardId">
  </div><!-- /input-group -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary add-new-board-save" ng-click="addBoard()">Add Board</button>
</div>