<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="dismiss()">&times;</span></button>
  <h4 class="modal-title" id="newCooldownGroupLabel">{{isNewGroup ? 'Add New Cooldown Group' : 'Edit Cooldown Group - ' + cooldownGroup.groupName}}</h4>
</div>
<div class="modal-body">
  <div class="general-group-settings">
    <div class="settings-title">
      <h3>General Settings</h3>
    </div>
    <div class="input-group settings-cooldown-groupid">
      <span class="input-group-addon">Group Name</span>
      <input type="text" class="form-control" ng-model="cooldownGroup.groupName">
    </div>
    <div class="input-group settings-cooldown-length">
      <span class="input-group-addon">Cooldown(sec)</span>
      <input type="number" class="form-control" ng-model="cooldownGroup.length">
    </div>
  </div>

  <div class="cooldown-group-button-container">
    <h3>Which buttons should cool down together?</h3>
    <div class="searchbar-wrapper">
      <input type="text" class="form-control" placeholder="Search buttons" ng-model="controlSearch" style="padding-left: 27px;">
      <span style="position: absolute; left: 8px; top: 7px;"><i class="far fa-search"></i></span>
    </div>
    <div class="cooldown-group-buttons">
      <div ng-repeat="controlId in allControlIds | filter:controlSearch" class="cooldown-list-btn-wrapper">
        <label class="control-fb control--checkbox" style="margin-bottom: 0">{{controlId}}
          <input type="checkbox" ng-click="updateCheckedArrayWithElement(cooldownGroup.buttons, controlId)" ng-checked="arrayContainsElement(cooldownGroup.buttons, controlId)"/>
          <div class="control__indicator"></div>
        </label>
      </div>
    </div>
    <div class="cooldown-group-button-reset">
      <button class="btn btn-warning" ng-click="cooldownGroup.buttons = []">Uncheck all</button>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger remove-cooldown-group pull-left" ng-click="delete()">Delete</button>
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary save-cooldown-group" ng-click="save()">Save Changes</button>
</div>