<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Board Settings - {{board.name}}</h4>
</div>
<div class="modal-body">
  <!--put settings stuff here-->
  <div class="general-board-settings">
      <h3>Viewer Group Settings</h3>
      <div class="board-group-defaults">
          <p>All of your scenes are listed below. Here you can select which groups you want to use and which scenes they will use as their starting point. Groups are only "active" if selected here, otherwise they will not be used.</p>
          <div class="board-group-defaults-settings clearfix">
            <!-- Create scene settings -->
            <div ng-repeat="scene in getScenesForBoard()" class="fb-tile green flex-start">
              <div class="edit-btn" ng-click="showEditViewerGroupDefaultsModal(scene)"></div>
              <div class="header">
                <div class="title edit-btn-spacer">
                  {{scene}}
                </div>
              </div>
              <div class="content">
                <div ng-if="scene == 'default'" class="subtitle">
                  Default
                </div>
                <div ng-repeat="group in getViewerGroupSettingsForScene(scene)" class="subtitle">
                  {{group}}
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="board-cooldown-group-settings">
      <h3>Cooldown Groups <button class="btn btn-default add-new-cooldown-group" ng-click="showAddOrEditCooldownGroupModal()">Add New</button></h3>
      <div class="board-cooldown-content">
          <p>Cooldown groups make it easy to group multiple buttons together so that they all cooldown anytime one is clicked.</p>
          <div class="board-cooldown-groups">
            <!-- Create cooldown groups -->
            <div ng-repeat="cooldownGroup in getCooldownGroupSettings() track by $index" class="fb-tile flex-start light-blue">
              <div class="edit-btn" ng-click="showAddOrEditCooldownGroupModal(cooldownGroup)"></div>
              <div class="header">
                <div class="title edit-btn-spacer">
                  {{cooldownGroup.groupName}}
                </div>
              </div>
              <div class="content row">
                <div class="detail-wrapper">
                  <div class="detail">
                    {{cooldownGroup.buttons ? cooldownGroup.buttons.length : 0}}
                  </div>
                  <div class="detail-description">
                    Buttons
                  </div>
                </div>
                <div class="detail-wrapper">
                  <div class="detail">
                    {{cooldownGroup.length ? cooldownGroup.length : 0}}
                  </div>
                  <div class="detail-description">
                    Secs
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary add-new-board-save" ng-click="close()">Close</button>
</div>