<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Scene Settings</h4>
</div>
<div class="modal-body">
  <!--put settings stuff here-->
  <div class="general-board-settings">
      <h3>Initial Scene Assignment for Viewer Groups</h3>
      <div class="board-group-defaults">
          <p>By default, all viewer groups start on the "default" scene when they initially load into your channel. Here you can change that and control which scene you want viewer groups to start at.</p>
          <div class="board-group-defaults-settings clearfix">
            <!-- Create scene settings -->
            <div ng-repeat="scene in getScenesForBoard()" class="fb-tile green flex-start">
              <div class="edit-btn" ng-click="showEditViewerGroupDefaultsModal(scene)"></div>
              <div class="header">
                <div class="title edit-btn-spacer">
                  {{scene}}
                </div>
              </div>
              <div class="content">
                <div ng-if="scene == 'default'" class="subtitle">
                  Default
                </div>
                <div ng-repeat="group in getViewerGroupSettingsForScene(scene)" class="subtitle">
                  {{group}}
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary add-new-board-save" ng-click="close()">Close</button>
</div>