<div class="modal-header">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="deleteBoardLabel">Delete Board</h4>
</div>
<div class="modal-body">
  <p>Are you sure you'd like to delete this board?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-danger deleteBoard" ng-click="confirmDelete()">Delete</button>
</div>