<!-- Modal for editting button effects-->
 <div class="modal-header">
   <button type="button" class="close" aria-label="Close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
   <h4 class="modal-title" id="editControlsLabel">Edit Button - {{control.controlId}}<span class="edit-title-controlid"></span></h4>
 </div>
 <div class="modal-body">
   <div class="general-button-settings">
      <div class="settings-title">
          <h3>Settings</h3>
      </div>
     <div class="input-group settings-buttontext">
       <span class="input-group-addon" id="basic-addon3">Button Text</span>
       <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="control.text">
     </div>

     <div class="input-group settings-sparkcost">
       <span class="input-group-addon" id="basic-addon3">Spark Cost</span>
       <input type="text" class="form-control" aria-describedby="basic-addon3" type="number" ng-model="control.cost">
     </div>

     <div class="input-group settings-cooldown">
       <span class="input-group-addon" id="basic-addon3">Cooldown(sec)</span>
       <input type="text" class="form-control" aria-describedby="basic-addon3" type="number" ng-model="control.cooldown">
     </div>

     <div class="input-group settings-cooldown">
      <span class="input-group-addon" id="basic-addon3">Threshold</span>
      <input type="text" class="form-control" aria-describedby="basic-addon3" type="number" ng-model="control.threshold">
    </div>

     <div class="controls-fb-inline">
        <label class="control-fb control--checkbox">Active Button
            <input type="checkbox" ng-model="control.active" aria-label="..." checked>
            <div class="control__indicator"></div>
        </label>
        <label class="control-fb control--checkbox">Skip Logging
          <input type="checkbox" ng-model="control.skipLog" aria-label="...">
          <div class="control__indicator"></div>
        </label>
     </div>
   </div>
   <div class="function-button-settings">
     <div class="settings-title">
       <h3>
         What should this button do? <div class="effect-actions-btn" uib-dropdown uib-dropdown-toggle>
         <span class="noselect pointer"><i class="fal fa-ellipsis-h"></i></span>
         <ul class="dropdown-menu" uib-dropdown-menu>
           <li><a href ng-click="copyEffects()">Copy effects</a></li>
           <li><a href ng-click="pasteEffects()">Paste effects</a></li>
           <li><a href ng-click="removeAllEffects()">Delete all effects</a></li>
         </ul>
       </div>
     </h3>
     </div>

     <div class="functionality-settings">
      <effect-list effects="effects" trigger="interactive" update="effectListUpdated(effects)" modalId="{{modalId}}"></effect-list>
     </div>

   </div>
 </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
   <button type="button" class="btn btn-primary add-new-board-save" ng-click="saveChanges()">Save Changes</button>
 </div>


