<div class="modal-header">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit Viewer Group Defaults</h4>
</div>
<div class="modal-body">
  <div class="settings-title">
    <h3>Which groups should use this scene as their default scene?</h3>
  </div>
  <div class="edit-scenegroup-defaults">
    <div ng-if="scene.sceneName !== 'default'" class="scenegroup-option">
      <input type="checkbox" ng-click="updateCheckedArrayWithElement(scene.default, 'None')" ng-checked="arrayContainsElement(scene.default, 'None')"> <span>None</span>
    </div>
    <div ng-if="scene.sceneName === 'default'" class="scenegroup-option">
      <input type="checkbox" checked disabled> <span>Default</span>
    </div>
    <div ng-repeat="groupName in defaultGroups" class="scenegroup-option">
      <input type="checkbox" ng-click="updateCheckedArrayWithElement(scene.default, groupName)" ng-checked="arrayContainsElement(scene.default, groupName)"> <span>{{groupName}}</span>
    </div>
    <div ng-repeat="group in groups.getViewerGroups(true)" class="scenegroup-option">
      <input type="checkbox" ng-click="updateCheckedArrayWithElement(scene.default, group.groupName)" ng-checked="arrayContainsElement(scene.default, group.groupName)"> <span>{{group.groupName}}</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary edit-scenegroup-save" ng-click="save()">Save Changes</button>
</div>