<div class="modal-header">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit Viewer Group Defaults</h4>
</div>
<div class="modal-body">
  <div class="settings-title">
    <h3>Which groups should use this scene as their default scene?</h3>
  </div>
  <div class="edit-scenegroup-defaults">
    <label ng-if="scene.sceneName !== 'default'" class="control-fb control--checkbox">None
      <input type="checkbox" ng-click="clearSavedArray()" ng-checked="arrayContainsElement(scene.default, 'None')">
      <div class="control__indicator"></div>
    </label>
    <label ng-if="scene.sceneName === 'default'" class="control-fb control--checkbox">Default
      <input type="checkbox" checked disabled>
      <div class="control__indicator"></div>
    </label>
    <label ng-repeat="groupName in groupList | orderBy:'toString()'" class="control-fb control--checkbox">{{groupName}}
      <input type="checkbox" ng-click="updateCheckedArrayWithElement(scene.default, groupName)" ng-checked="arrayContainsElement(scene.default, groupName)">
      <div class="control__indicator"></div>
    </label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-link" ng-click="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary edit-scenegroup-save" ng-click="save()">Save Changes</button>
</div>