.position-wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 1.5%;
	position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
	&.top-left{
		align-content: flex-start;
		justify-content: flex-start;
	}
	&.top-middle{
		align-content: flex-start;
		justify-content: center;
	}
	&.top-right{
		align-content: flex-start;
		justify-content: flex-end;
	}
	&.middle-left{
		align-content: center;
		justify-content: flex-start;
	}
	&.middle{
		align-content: center;
		justify-content: center;
	}
	&.middle-right{
		align-content: center;
		justify-content: flex-end;
	}
	&.bottom-left{
		align-content: flex-end;
		justify-content: flex-start;
	}
	&.bottom-middle{
		align-content: flex-end;
		justify-content: center;
	}
	&.bottom-right{
		align-content: flex-end;
		justify-content: flex-end;
	}
	&.custom {
		padding: 0;
	}
}

.inner-position {
	position: relative;
}




@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.browser-source-force-render-spinner {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    animation: spin 2s linear infinite;
}
