name: Close "Release Pending" issues on release

on:
    release:
        types: [released]

jobs:
    closeissues:
        name: Close issues
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v5

            - name: Setup Nodejs
              uses: actions/setup-node@v5
              with:
                  node-version: latest

            - name: Install dependencies
              run: npm install

            - name: Run script
              run: node ./automation/close-on-release.js
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
